.my-accounts-container {
    .fa.fa-user {
        font-size: 26px;
        margin-top: 27px;
        color: #999;
        margin-right: 7px;
    }
    ul {
        li {
            font-size: 18px;
            .pull-left {
                span.list-title {
                    text-transform: capitalize;
                }
            }
        }
    }
    nav#guardian-nav,
    nav#alt-contact-nav {
        height: 25px;
        clear: both;
        float: left;
        margin-top: 20px;
        width: 100%;
        ul {
            li {
                max-height: 25px;
                min-height: 25px;
                height: 25px;
                margin-right: 20px;
            }
        }
    }
    .pickup-list-contact {
        margin-bottom: 15px;
          min-height: 150px;
        .detail-breakdown {
            .detail-header {
                .edit-button.edit-pick-up-contact {
                    margin-top: 0px;
                    margin-right: 10px;
                }
            }
            .detail-label{
            	clear: both;
            }
            .edit-button,
            .delete-button{
            	font-size: 14px;
            	margin-right: 5px;
            }
            &.can-pickup{
            	padding-top: 10px
            }
        }
    }

    .pickup-list-contact-breakdown-view{
        height: 100%;
    }

	#pickup-list-contact-breakdown-wrapper.mCustomScrollbar{
        height: 90% !important;
        padding-right: 15px;
		.detail-value{
			margin-right: 5px;
		}
	}



    .left-feature-container ul li .pull-left span {
        margin-top: 10px;
    }
    .detail-label.blue {
        .fa {
            font-size: 12px;
        }
    }

    .switch-success{
    	float: right;
        margin-right: 30px;
    }

    .form-control{
    	width: 95%;
    }
}

//.my-accounts-container