<div class="my-children-container">
	<h3 class="greeting">My Children</h3>


	<div class="left-feature-container col-md-4 white-bg">
		
		<div  ng-show="displayView != 'my children'">
			<a class="back-to-main-view" ng-click="goBackToMyChildren()"><i class="fa fa-angle-left"></i>Back to My Children</a>
		</div>
		<i class="fa fa-child pull-left" ng-show="displayView == 'my children'"></i>
		<h4 class="pull-left" ng-show="displayView == 'my children'">
			{{displayView}}
		</h4> 
		<div class="scroll-wrapper" >
			<ul ng-show="displayView == 'my children'">
	            <li data-ng-repeat="child in userChildren" ng-click="goToChild(child.ChildId)">
	            	<div class="pull-left">
						<img class="box-shadow-default" ng-show="child.PhotoUrl.length > 0" src="{{child.PhotoUrl}}" />
						<img class="box-shadow-default" ng-show="child.PhotoUrl.length == 0"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDYSw3KB9amgYnaFZ1hTsUwl5kVag7MpoWcBF9IUVH-tEPDOmbPQ" />
					</div>
					<div class="pull-left">
						<span class="child-name">{{child.ChildName}}</span>
						<span class="listed-class">{{childrenClasses[$index]}}</span>
						
					</div>
					<div class="pull-right">
						<a href="">See details</a><i class="fa fa-angle-right"></i>
					</div>
	            </li>
			</ul>

				<!-- DETAILED MENU -->	
			<div  ng-show="showDetailedMenu">
				<h4>
					<img ng-src="{{viewChild.PhotoUrl}}" /> {{viewChild.ChildName}}
				</h4>

				<ul id="my-children-ul" class="detail-breakdown">
					<li  ng-click="goToMainMenu('general info','child info breakdown'); isEditFunc(false);" class="taller-li">
						<div class="pull-left">
							<span class="detail-label">General Information</span>
						</div>
						<div class="pull-right">
							<a href="">See details</a><i class="fa fa-angle-right"></i>
						</div>
					</li>
					<li  ng-click="goToMedicalInfoView(); isEditFunc(false);" class="taller-li">
						<div class="pull-left">
							<span class="detail-label">Medical Information</span>
						</div>
						<div class="pull-right">
							<a href="">See details</a><i class="fa fa-angle-right"></i>
						</div>
					</li>
					<li  ng-click="goToMainMenu('history info',''); isEditFunc(false);" class="taller-li">
						<div class="pull-left">
							<span class="detail-label">Child History</span>
						</div>
						<div class="pull-right">
							<a href="">See details</a><i class="fa fa-angle-right"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>



	<div class="middle-feature-container col-md-4 white-bg">
        <!-- BACK TO MEDICINE -->
        <div ng-show="displaySubView == 'medication breakdown'">
			<a class="back-to-main-view" ng-click="goBackToSubView('medications breakdown')"><i class="fa fa-angle-left"></i>Back to My Medications</a>
		</div>

		<div ng-show="displaySubView == 'allergy breakdown'">
			<a class="back-to-main-view" ng-click="goBackToSubView('allergies breakdown')"><i class="fa fa-angle-left"></i>Back to My Allergies</a>
		</div>

        <div ng-show="displaySubView == 'medications breakdown'">
			<a class="add-new add-new-medications" ng-click="addNewMedication()"><i class="fa fa-plus"></i> Add New Medications</a>
		</div>

		<div ng-show="displaySubView == 'allergies breakdown'">
			<a class="add-new add-new-allergy" ng-click="addNewAllergy()"><i class="fa fa-plus"></i> Add New Allergy</a>
		</div>


		<!-- GENERAL INFO BREAK DOWN VIEW -->
		<div class="general-info-breakdown-view" ng-show="displayView == 'general info' && showBreakDownView">
			<h4 class="pull-left">
				General Information
			</h4> 
			<a ng-show="displayView == 'general info'" class="edit-button edit-gen-info" ng-click="isEditFunc(true); editGenInfoContact();" ng-show="!isEdit" ng-hide="isEdit">Edit <span class="glyphicon glyphicon-pencil"></span></a>

			<nav ng-show="showItemsMenu" id="general-info-nav">
				<ul>
					<li ng-class="{'active': displaySubView == 'child info breakdown'}" data-ng-click="goToSubMenu('child info breakdown')">Child Info</li>
					<li ng-class="{'active': displaySubView == 'additional info breakdown'}" data-ng-click="goToSubMenu('additional info breakdown')">Additional Info</li>
				</ul>
			</nav>
			<hr/>
			<br class="clearfix" />
			<!-- GENERAL INFO -->
			<div ng-show="displaySubView == 'child info breakdown' && !isEdit">
				<div class="detail-breakdown">
					<span class="detail-label">First Name</span>
					<span class="detail-value">{{viewChildGeneralInfo.FirstName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Middle Name</span>
					<span class="detail-value">{{viewChildGeneralInfo.MiddleName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Last Name</span>
					<span class="detail-value">{{viewChildGeneralInfo.LastName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Nick Name</span>
					<span class="detail-value">{{viewChildGeneralInfo.NickName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Sex</span>
					<span class="detail-value">
						<span ng-show="viewChildGeneralInfo.Sex == 'M'">Male</span>
						<span ng-show="viewChildGeneralInfo.Sex == 'F'">Female</span>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">DOB</span>
					<span class="detail-value">{{viewChildGeneralInfo.DOB | date}}</span>
				</div>
			</div>

			<!-- ADDITIONAL INFO -->
			<div ng-show="displaySubView == 'additional info breakdown' && !isEdit">
				<div class="detail-breakdown">
					<span class="detail-label">Enrollment Status</span>
					<span class="detail-value" ng-show="viewChildGeneralInfo.EnrollmentStatus == 'E'">Enrolled</span>
					<span class="detail-value" ng-show="viewChildGeneralInfo.EnrollmentStatus != 'E'">Not Enrolled</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Photo/Video Authorization</span>
					<span class="detail-value">
						<span ng-show="viewChildGeneralInfo.PhotoVideoAuthorization == 'Y'">Yes</span>
						<span ng-show="viewChildGeneralInfo.PhotoVideoAuthorization == 'N'">No</span>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Notes</span>
					<span class="detail-value notes">{{viewChildGeneralInfo.Notes}}</span>
				</div>
			</div>


						<!-- EDIT PERSONAL INFORMATION -->
			<div >
				<div ng-show="displaySubView == 'child info breakdown' && isEdit" >
					<div class="detail-breakdown">
						<label>First Name</label>
						<input type="text" class="form-control" ng-model="viewChildGeneralInfoEdit.FirstName" name="edit_first_name" />
					</div>
					<div class="detail-breakdown">
						<label>Middle Name</label>
						<input type="text" class="form-control" ng-model="viewChildGeneralInfoEdit.MiddleName" name="edit_middle_name" />
					</div>
					<div class="detail-breakdown">
						<label>Last Name</label>
						<input type="text" class="form-control" ng-model="viewChildGeneralInfoEdit.LastName" name="edit_last_name"  />
					</div>
					<div class="detail-breakdown">
						<label>Nick Name</label>
						<input type="text" class="form-control" ng-model="viewChildGeneralInfoEdit.NickName" name="edit_nick_name" />
					</div>
					<div class="detail-breakdown">
						<label>Sex</label>
						<input type="text" class="form-control" ng-model="viewChildGeneralInfoEdit.Sex" name="edit_sex" />
					</div>
					<div class="detail-breakdown">
						<label>DOB</label>
						<input type="text" class="form-control"  pick-a-date="date" ng-model="viewChildGeneralInfoEdit.DOB" pick-a-date-options="{ format: 'mm/dd/yyyy' }" />
					</div>
				</div>
				<div ng-show="displaySubView == 'additional info breakdown' && isEdit" >
					<div class="detail-breakdown">
						<label>Enrollment Status</label>
						<toggle-switch
					            ng-model="edit_enroll_status"
					            class="switch-success pull-right" 
						        on-label="Yes"
						        off-label="No">
					    <toggle-switch>
					</div>
					<div class="detail-breakdown">
						<label>Photo/Video Authorization</label>
							<toggle-switch
					            ng-model="edit_photo_video_auth"
					            class="switch-success pull-right" 
						        on-label="Yes"
						        off-label="No">
					        <toggle-switch>
					</div>
					<div class="detail-breakdown">
						<label>Notes</label>
						<textarea class="form-control" ng-model="viewChildGeneralInfoEdit.Notes" name="edit_notes" />
					</div>
				</div>
				<div class="form-button-wrapper" ng-show="isEdit">
					<button class="btn btn-primary" ng-click="editGenInfoContactSubmit()" >Edit</button>
					<button class="btn btn-warning" ng-click="isEditFunc(false)">Cancel</button>
				</div>
			</div>
			
		</div>
		<!-- GENERAL INFO BREAK DOWN VIEW -->


		<!-- Medical INFO BREAK DOWN VIEW -->
		<div class="medical-info-breakdown-view" ng-show="displayView == 'medical info' && showBreakDownView" >

			<div ng-hide="displaySubView == 'add new medication' || displaySubView == 'add new allergy'">
				<h4 class="pull-left">
					Medical Information
				</h4> 
				<a ng-show="displaySubView == 'medical info breakdown' || displaySubView == 'allergy breakdown' || displaySubView == 'medication breakdown'" class="edit-button edit-gen-info">Edit <span class="glyphicon glyphicon-pencil"></span></a>
			
				<nav ng-show="showItemsMenu" id="medical-info-nav">
					<ul>
						<li ng-class="{'active': displaySubView == 'medical info breakdown'}" data-ng-click="goToSubMenu('medical info breakdown')">Medical Info</li>
						<li ng-class="{'active': displaySubView == 'medications breakdown' || displaySubView == 'medication breakdown'}" data-ng-click="goToSubMenu('medications breakdown')">Medications</li>
						<li ng-class="{'active': displaySubView == 'allergies breakdown' || displaySubView == 'allergy breakdown'}" data-ng-click="goToSubMenu('allergies breakdown')">Allergies</li>
					</ul>
				</nav>
				<hr/>
				<br class="clearfix" />
			</div>

			<!-- MEDICAL INFO -->
			
			<div ng-show="displaySubView == 'medical info breakdown'">
				<div class="detail-breakdown">
					<span class="detail-label">Doctor Name</span>
					<span class="detail-value">{{viewChildMedicalInfo.DoctorName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Doctor Phone</span>
					<span class="detail-value">{{viewChildMedicalInfo.DoctorPhone}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Last Phyical Date</span>
					<span class="detail-value">{{viewChildMedicalInfo.PhyiscalDate | date}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Immunized?</span>
					<span class="detail-value">
						<span ng-show="viewChildMedicalInfo.Immunized == 'Y'">Yes</span>
						<span ng-show="viewChildMedicalInfo.Immunized == 'N'">No</span>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Insurance Company</span>
					<span class="detail-value">{{viewChildMedicalInfo.InsuranceCompany}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Policy Number</span>
					<span class="detail-value">{{viewChildMedicalInfo.PolicyNumber}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Group Number</span>
					<span class="detail-value">{{viewChildMedicalInfo.GroupNumber}}</span>
				</div>
			</div>

			<!-- MEDICATIONS INFO -->
			<div class="medications-info-breakdown-view" ng-show="displaySubView == 'medications breakdown' && showBreakDownView">
				<ul>
		            <li data-ng-repeat="medicineInfo in viewChildMedicineInfo" ng-click="goToMedicine(medicineInfo)">
		            	<div class="pull-left">
							<span>{{medicineInfo.MedicationName}}</span>
						</div>
						
						<div class="pull-right">
							<a href="">See details</a><i class="fa fa-angle-right"></i>
						</div>
		            </li>
				</ul>
			</div>
			<!-- MEDICATION INFO -->
			<div class="medication-info-breakdown-view" ng-show="displaySubView == 'medication breakdown'">
				<div class="detail-breakdown">
					<span class="detail-label">Frequency</span>
					<span class="detail-value" ng-show="viewMedicine.Frequency == 'L'">Lunch</span>
					<span class="detail-value" ng-show="viewMedicine.Frequency == 'H'">Hourly</span>
					<span class="detail-value" ng-show="viewMedicine.Frequency == 'O'">See Instructions</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Start Date</span>
					<span class="detail-value">{{viewMedicine.StartDate | date}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">End Date</span>
					<span class="detail-value">{{viewMedicine.EndDate | date}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Expiration</span>
					<span class="detail-value red" ng-show="expirationDate != 1">Expires in {{expirationDate}} Days</span>
					<span class="detail-value red " ng-show="expirationDate == 1">Expires in {{expirationDate}} Day</span>
				</div>	
				<div class="detail-breakdown">
					<span class="detail-label">Instructions</span>
					<span class="detail-value notes" ng-show="viewMedicine.Instructions.length != 0">{{viewMedicine.Instructions}}</span>
					<span class="detail-value" ng-show="viewMedicine.Instructions.length == 0">No Instructions</span>
				</div>			
			</div>

			<!-- ALLERGIES INFO -->
			
			<div  class="allergies-info-breakdown-view" ng-show="displaySubView == 'allergies breakdown'">
				<ul>
		            <li data-ng-repeat="allergyInfo in viewChildAllergiesInfo" ng-click="goToAllergy(allergyInfo)">
		            	<div class="pull-left">
							<span>{{allergyInfo.AllergyName}}</span>
						</div>
						
						<div class="pull-right">
							<a href="">See details</a><i class="fa fa-angle-right"></i>
						</div>
		            </li>
				</ul>
			</div>

		    <div class="allergy-info-breakdown-view" ng-show="displaySubView == 'allergy breakdown'">
				<div class="detail-breakdown">
					<span class="detail-label">Allergy</span>
					<span class="detail-value">{{viewAllergy.AllergyName}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Severity</span>
					<span class="detail-value" ng-show="viewAllergy.Severity == 'E'">Seasonal</span>
					<span class="detail-value" ng-show="viewAllergy.Severity == 'M'">Mild</span>
					<span class="detail-value" ng-show="viewAllergy.Severity == 'S'">Severe</span>
				</div>
				
				<div class="detail-breakdown">
					<span class="detail-label">Action</span>
					<span class="detail-value">{{viewAllergy.Action}}</span>
				</div>		
			</div>


			<!-- ADD MEDICATION VIEW -->
			<div class="add-medication-wrapper" ng-show="displaySubView == 'add new medication'">
				<h4 class="alt-header">Add Medication</h4>
				<h4>{{viewChild.ChildName}}</h4>
				<div class="add-medication-scroll-wrapper" >
					<div class="detail-breakdown">
							<label>Medication/Dose</label>
							<input type="text" class="form-control" ng-model="new_medication_name" name="new_medication_name" />
					</div>
					<div class="detail-breakdown">
							<label>Frequency</label>
							<input type="text" class="form-control" ng-model="frequency" name="frequency" />
					</div>				
					<div class="detail-breakdown">
							<label>Start Date</label>
							<input type="text" class="form-control" ng-model="start_date" name="start_date" />
					</div>
					<div class="detail-breakdown">
							<label>End Date</label>
							<input type="text" class="form-control" ng-model="end_date" name="end_date" />
					</div>	
					<div class="detail-breakdown">
							<label>Expiration</label>
							<input type="text" class="form-control" ng-model="expiration" name="expiration" />
					</div>		
					<div class="detail-breakdown">
							<label>Instructions</label>
							<textarea class="form-control" ng-model="instructions" name="instructions"></textarea>
					</div>	
				</div>
				<div class="form-button-wrapper">
					<button class="btn btn-primary">Add</button>
					<button class="btn btn-warning">Cancel</button>
				</div>
			</div>


			<!-- ADD ALLERGY VIEW -->
			<div class="add-allergy-wrapper" ng-show="displaySubView == 'add new allergy'">
				<h4 class="alt-header">Add Allergy</h4>
				<h4>{{viewChild.ChildName}}</h4>
				<div>
					<div class="detail-breakdown">
							<label>Allergy</label>
							<input type="text" class="form-control" ng-model="new_medication_name" name="new_medication_name" />
					</div>
					<div class="detail-breakdown">
							<label>Severity</label>
							<input type="text" class="form-control" ng-model="frequency" name="frequency" />
					</div>				
					<div class="detail-breakdown">
							<label>Action</label>
							<input type="text" class="form-control" ng-model="start_date" name="start_date" />
					</div>
				</div>
				<div class="form-button-wrapper">
					<button class="btn btn-primary">Add</button>
					<button class="btn btn-warning">Cancel</button>
				</div>
			</div>


		</div><!-- Medical INFO BREAK DOWN VIEW -->


		<!-- CHILD HISTORY BREAK DOWN VIEW -->
		<div class="child-history-breakdown-view" ng-show="displayView == 'history info' && showBreakDownView" >
			<h4 class="pull-left">
				Child History
			</h4> 
			<a ng-click="isEditFunc(true); editChildHistory();" ng-show="!isEdit" ng-hide="isEdit" class="edit-button edit-gen-info">Edit <span class="glyphicon glyphicon-pencil"></span></a>

			<br class="clearfix" />
			<div id="child-history-breakdown-wrapper" ng-show="displayView == 'history info' && !isEdit">
				<div class="detail-breakdown">
					<span class="detail-label">Language spoken<br/> at home</span>
					<span class="detail-value">{{viewChildHistoryInfo.HomeLanguage}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">How does he/she<br/> communicate?</span>
					<span class="detail-value">{{viewChildHistoryInfo.HowCommunicate}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Favorite toys, playthings,<br/> or interests</span>
					<span class="detail-value">{{viewChildHistoryInfo.FavToys}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Favorite foods</span>
					<span class="detail-value">{{viewChildHistoryInfo.FavFoods}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Allergies, and/or food<br/> restrictions</span>
					<span class="detail-value">{{viewChildHistoryInfo.AllergiesFoodRestrictions}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Medication taken regularly</span>
					<span class="detail-value">{{viewChildHistoryInfo.RegularMedications}}</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Medication taken in case<br/> emergency</span>
					<span class="detail-value">{{viewChildHistoryInfo.EmergencyMedication}}</span>
				</div>
			</div>


			<!-- EDIT CHILD HISTORY -->
			<div ng-show="displayView == 'history info' && isEdit"  >
				<div class="detail-breakdown">
					<label>Language spoken at home</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.HomeLanguage" name="edit_home_language" />
				</div>
				<div class="detail-breakdown">
					<label>How does he/she communicate?</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.HowCommunicate" name="edit_how_communicate" />
				</div>
				<div class="detail-breakdown">
					<label>Favorite toys, playthings, or interests</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.FavToys" name="edit_fave_toys"  />
				</div>
				<div class="detail-breakdown">
					<label>Favorite foods</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.FavFoods" name="edit_fave_foods" />
				</div>
				<div class="detail-breakdown">
					<label>Allergies, and/or food restrictions</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.AllergiesFoodRestrictions" name="edit_allergies" />
				</div>
				<div class="detail-breakdown">
					<label>Medication taken regularly</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.RegularMedications" name="edit_regular_meds"/>
				</div>
				<div class="detail-breakdown">
					<label>Medication taken in case emergency</label>
					<input type="text" class="form-control" ng-model="viewChildHistoryInfoEdit.EmergencyMedication" name="edit_regular_meds"/>
				</div>	
				<div class="form-button-wrapper" ng-show="isEdit">
					<button class="btn btn-primary" ng-click="editChildHistorySubmit()" >Edit</button>
					<button class="btn btn-warning" ng-click="isEditFunc(false)">Cancel</button>
				</div>			
			</div>

			
		</div>
		<!-- CHILD HISTORY DOWN VIEW -->

	</div> <!-- MIDDLE CONTAINER -->




	<div class="right-feature-container col-md-4" ng-include src="'views/dashboard/my-children.html'" ng-controller="DashboardCtrl"></div>
</div>


