body {
    .ngdialog {
        &.ngdialog-theme-default {
            padding: 10px;
            width: 100%;
            height: 100%;
            .ngdialog-content {
                width: 95%;
                height: 100%;
                background: #04364c;
                padding: 0px;
                top: 0px;
                .overlay-container {
                    height: 100%;
                    color: white;

                    .btn.btn-primary{
                        margin-top: 70%;
                        margin-right: 10%;
                    }

                    ul.account-list{
                        padding: 0px;
                        li{
                            list-style: none;
                            background-color: #529acd;
                            margin-bottom: 10px;
                            padding: 5px;
                            cursor: pointer;
                            a{
                                color: white;
                                font-weight: bold;
                                font-size: 16px;
                                text-transform: capitalize;
                                float: left;
                                width: 100%;
                                max-height: 28px;
                                .ellipsis{
                                    width: 185px;
                                    position: relative;
                                    top: 6px;
                                    display: inline-block;
                                }
                            }
                            .bank-icon{
                                top: 5px;
                                position: relative;
                                margin-right: 10px;
                            }
                            &:hover,
                            &.active{
                                background-color: white;
                                max-height: 115px;
                                a, .fa{
                                    color: #04364c;
                                }
                            }

                            .account-info{
                                display: none;
                                color: #04364c;
                                margin-left: 50px;
                                &.active{
                                    display: inline-block;
                                    max-height: 75px;
                                }
                                span{
                                    margin-left: 50px;
                                    text-transform: capitalize;
                                    display: inline-table;
                                    &.card-holder{
                                        margin-left: 73px;
                                    }
                                }
                            }
                        }
                    }

                    .invoice-cycle-wrapper{
                        width: 100%;
                        text-align: center;
                        ul{
                            width: 350px;
                            height: 50px;
                            margin: 0 auto;
                            li{
                                list-style: none;
                                a{
                                    font-size: 16px;
                                    .fa{
                                        margin: 0px;
                                    }
                                    span{
                                        color: white;
                                        font-weight: bold;
                                        &.prev{
                                            margin-top: 2px;
                                            margin-left: 10px;
                                            float: right;
                                        }
                                        &.next{
                                            margin-top: 2px;
                                            margin-right: 10px;
                                            float: left;
                                        }
                                    }
                                    &:hover{
                                        span{
                                            color:  #4e99bd;
                                        }
                                        .fa{
                                            color:  #4e99bd;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .overlay-left-col {
                        font-family: "concourse_t4regular";
                        float: left;
                        width: 290px;
                        height: 100%;
                        background: rgba(5, 45, 65, 1);
                        overflow-x: hidden;
                        overflow-y: visible;
                        position: relative;
                        left: 0;
                        top: 0;
                        z-index: 2000;
                        padding: 10px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        .amount-owed {
                            color: red;
                        }
                        ul {
                            clear: both;
                            list-style: none;
                            margin: 0px;
                            padding: 0px;
                            li {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                height: 65px;
                                clear: both;
                                color: #9CCAE3;
                                span {
                                    display: block;
                                    margin-left: 15px;
                                }
                                &:hover {
                                    cursor: pointer;
                                    background: #094461;
                                }
                                &.taller-li {
                                    height: 90px;
                                }
                                .fa.fa-angle-right {
                                    margin-right: 10px;
                                    margin-top: 5px;
                                    font-size: 35px;
                                    color: #ccc;
                                }
                                div.pull-right {
                                    display: none;
                                    a {
                                        position: relative;
                                        top: -8px;
                                        left: -10px;
                                        color: #9CCAE3;
                                        &:hover {
                                            color: #9CCAE3;
                                        }
                                    }
                                }
                                &:hover {
                                    div.pull-right {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .overlay-right-col {
                        height: 100%;
                        min-width: 10px;
                        max-width: 100%;
                        padding-left: 20px;
                        overflow-y: scroll;
                        position: relative;
                        display: block;
                        margin: auto;
                        padding: 10px;
                        textarea{
                            height: 150px;
                        }
                        .control-group{
                            margin-top: 10px;
                        }
                        h3 {
                            font-family: "concourse_t4regular";
                            color: white;
                            //text-align: center;
                            font-size: 21px;
                            margin-left: 15px;
                            margin-top: 30px;
                            //margin-bottom: 20px;
                            width: 94%;
                        }
                        .glyphicon, .fa {
                            color: white;
                            font-size: 25px;
                            top: 20px;
                            margin-right: 10px;
                        }
                        .detail-breakdown {
                            font-family: "concourse_t4regular";
                            color: white;
                            font-size: 18px;
                            margin-left: 1%;
                            clear: both;
                            margin-bottom: 15px;
                            .detail-label {
                                font-weight: bold;
                                float: left;
                                margin-top: 15px;
                            }
                            .detail-value {
                                float: right;
                                margin-top: 15px;
                                &.red {
                                    color: red;
                                }
                            }
                        }
                        nav {
                            float: right;
                            display: inline-block;
                            margin-top: -10px;
                            width: 200px;
                            ul {
                                list-style: none;
                                li {
                                    float: left;
                                    clear: none;
                                    font-size: 14px;
                                    margin-right: 10px;
                                    padding: 0px;
                                    color: #9CCAE3;
                                    height: auto;
                                    cursor: pointer;
                                    &:hover,
                                    &.active {
                                        background: transparent;
                                        color: #999;
                                    }
                                }
                            }
                            &.pagination-wrapper{
                                float: none;
                                clear: both;
                                width: 100%;
                                .pagination>li>a{
                                    border: none;
                                }
                            }
                        }
                    }
                    .invoice-break-down{
                        margin-left: 15px;
                        margin-bottom: 15px;
                        font-weight: bold;
                        span{
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}