body {
    .ngdialog {
        .paymentMSG{
            white-space: pre-line;
            width: 100%;
            text-align: center;
            color: #287194;
            padding-top: 35px
        }
        .ngdialog-close{
            color: #287194;
            &.hover{
                 color: #4e99bd;
            }
        }
        .reset-pin-button{
            margin-top: 27px;
        }
        .kiteline-tooltip-wrapper{
            width: 190px;
            .kiteline-tooltip{
                top: -47px;
                font-size: 13px;
                text-align: left;
                padding-left: 14px;
                line-height: 16px;
            }

        }
        &.ngdialog-theme-default {
            padding: 10px;
            width: 100%;
            height: auto;
            &.ngdialog-pdf {
                .ngdialog-content {
                    width: 50%;
                    //height: 82%;
                }
            }

            .ngdialog-close:before {
                background: black;
                border: thin solid white;
                @include border-radius(15px);
                right: -15px;
                top: -15px;
            }

            .ngdialog-content {
                width: 60%;
                height: auto;
                background: white;
                padding: 0px;
                top: 5%;
                padding-bottom: 40px;
                margin-top: 110px;
                .overlay-container {
                    height: 100%;
                    background-color: white;
                    color: #529acd;
                    
                    &.reset-pin{
                        width: 90%;
                        margin: 0 auto;
                    }

                    &.invoice-history{
                        .control-group{
                            margin: 0px;
                        }
                    }
                    .table-wrapper.modal-list {
                        min-height: 280px;
                    }

                    .payment-amount-graph{
                        width: 75px;
                        margin-left: 15px;
                        margin-right: 15px;
                        margin-top: -15px;
                    }
                    .pay-this-amount-wrapper{
                        margin-left: 25px;
                        input{
                            margin-top: 13px;
                        }
                    }
                    .outstandingInvoicesDueTotal{
                        margin-top: 20px !important;
                    }
                    table{
                        box-shadow: none;
                        tr:nth-child(even),
                        tr:nth-child(odd){
                            background-color: white;
                            border-bottom: #ddd thin solid;
                            &:hover{
                                cursor: pointer;
                            }
                            &.active{
                                background: #4e99bd !important;
                            }
                            th{
                                font-size: 16px;
                                background-color: transparent;
                            }
                            td{
                                color: #666666;
                                font-size: 14px;
                                .account-name{
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }
                    }
                    h5{
                        font-weight: bold;
                        margin-left: 15px;
                        font-size: 16px;
                    }
                    .btn.process-payment-btn {
                        margin-top: 70%;
                        margin-right: 10%;
                    }
                    a.new-credit-card {
                        float: left;
                        margin-left: 15px;
                        font-weight: bold;
                        margin-top: 0px;
                        margin-bottom: 10px;
                    }
                    input[type='text'].payment-amount{
                        display: inline-block;
                        margin-left: 10px;
                        border: 2px solid #529acd;
                    }
                    input[type='text'],
                    input[type='email'],
                    select {
                        text-indent: 10px;
                        display: block;
                        height: 34px;
                        padding: 6px 1px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        color: #555;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #ccc;
                        @include border-radius(4px);
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                        &.exp-dates {
                            width: 50px;
                        }
                        &.ng-valid-cc-number,
                        &.ng-valid-cc-exp-month,
                        &.ng-valid-cc-exp-year,
                        &.ng-valid.ng-valid-mask,
                        &.ng-dirty.ng-valid-email,
                        &.ng-valid-cc-cvc {
                            border-color: green;
                            outline-color: green;
                        }
                        &.ng-dirty.ng-invalid-cc-number,
                        &.ng-dirty.ng-invalid-cc-exp-month,
                        &.ng-dirty.ng-invalid-cc-exp-year,
                        &.ng-dirty.ng-invalid,
                        &.ng-dirty.ng-invalid-required,
                        &.ng-error-input {
                            border-color: red !important;
                            outline-color: red !important;
                            background-color: #f66 !important;
                            color: white;
                        }
                       
                    }
                    form {
                        select {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            -o-appearance: none;
                            appearance: none;
                            height: 33px;
                            width: 100%;
                            background-color: white;
                            border-color: rgb(204, 204, 204);
                            cursor: pointer;
                            text-indent: 10px;
                            color: #555;
                        }
                        .fa-caret-down {
                            position: absolute;
                            top: 7px !important;
                            right: -11px;
                            color: black !important;
                            font-size: 21px !important;
                            cursor: pointer;
                        }
                        .cvv{
                            width: auto !important;
                            margin-top: -2px;
                            padding-left: 0px;
                        }
                        .expire-dates-wrapper{
                            padding-right: 0px;
                            width: 240px;
                            label{
                                    float: left;
                                    clear: both;
                                    width: 100%;
                                    text-align: left;
                                }
                            .expire-month-wrapper{
                                width: 115px;
                                margin-bottom: 10px;
                                display: inline-block;
                                
                                select{
                                    width: 110px;
                                    float: left;
                                }
                                .fa-caret-down{
                                    right: -5px;
                                }
                            }

                            .expire-year-wrapper{
                                width: 85px;
                                display: inline-block;
                                top: -11px;
                                select{
                                    width: 80px;
                                    float: left;
                                }
                                .fa-caret-down{
                                    right: -5px;
                                }
                            }
                        }

                        .date-split {
                            font-size: 24px;
                            color: #999;
                            margin: 7px 5px;
                        }
                        &.ng-invalid {
                            button.btn-primary {
                                pointer-events: none;
                                cursor: not-allowed;
                                filter: alpha(opacity = 65);
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                opacity: .65;
                            }
                        }
                        &.ng-valid.invalid-banking.addBankForm,
                        &.ng-valid.invalid-routing.addBankForm,
                        &.ng-invalid.invalid-banking.addBankForm,
                        &.ng-invalid.invalid-routing.addBankForm {
                            button.btn-primary {
                                pointer-events: none;
                                cursor: not-allowed;
                                filter: alpha(opacity = 65);
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                opacity: .65;
                            }
                        }
                        &.valid-banking {
                            #verifyBankAcctNumber,
                            #bankAcctNumber {
                                border-color: green;
                                outline-color: green;
                            }
                        }
                        &.valid-routing {
                            #VerifyRoutingNumber,
                            #RoutingNumber {
                                border-color: green;
                                outline-color: green;
                            }
                        }
                        &.invalid-banking {
                            #verifyBankAcctNumber.ng-dirty,
                            #bankAcctNumber.ng-dirty {
                                border-color: red;
                                outline-color: red;
                            }
                        }
                        &.invalid-routing {
                            #VerifyRoutingNumber.ng-dirty,
                            #RoutingNumber.ng-dirty {
                                border-color: red;
                                outline-color: red;
                            }
                        }
                        &.ng-pristine {
                            input[type='text'].ng-pristine {
                                border-color: #ccc !important;
                            }
                        }
                        label {
                            font-size: 16px;
                        }
                        .autofill-address {
                            margin-right: 20px;
                            margin-top: 10px;
                        }
                        .cc-type{
                            margin-right: 10px;
                        }
                        .cvv{
                            width: 15%;
                            input{
                                width: 85%;
                            }
                        }
                    }
                    
                    ul.account-list {
                        padding: 0px;
                        li {
                            list-style: none;
                            background-color: #529acd;
                            margin-bottom: 10px;
                            padding: 5px;
                            cursor: pointer;
                            a {
                                color: white;
                                font-weight: bold;
                                font-size: 16px;
                                text-transform: capitalize;
                                float: left;
                                width: 100%;
                                max-height: 28px;
                                .ellipsis {
                                    width: 185px;
                                    position: relative;
                                    top: 6px;
                                    display: inline-block;
                                }
                            }
                            .bank-icon {
                                top: 5px;
                                position: relative;
                                margin-right: 10px;
                            }
                            &:hover,
                            &.active {
                                background-color: white;
                                max-height: 115px;
                                a{
                                    color: #04364c !important;
                                }
                            }
                            .account-info {
                                display: none;
                                color: #04364c;
                                margin-left: 50px;
                                &.active {
                                    display: inline-block;
                                    max-height: 75px;
                                }
                                span {
                                    margin-left: 50px;
                                    text-transform: capitalize;
                                    display: inline-table;
                                    &.card-holder {
                                        margin-left: 73px;
                                    }
                                }
                            }
                        }
                    }
                    .invoice-cycle-wrapper {
                        width: 100%;
                        text-align: center;
                        display: none;
                        ul {
                            width: 350px;
                            height: 50px;
                            margin: 20px auto 0;
                            li {
                                list-style: none;
                                a {
                                    font-size: 16px;
                                    color: #337ab7;

                                    .fa {
                                        margin: 0px;
                                        color: #337ab7;
                                    }
                                    span {
                                        font-weight: bold;
                                        &.prev {
                                            margin-top: 2px;
                                            margin-left: 10px;
                                            float: right;
                                        }
                                        &.next {
                                            margin-top: 2px;
                                            margin-right: 10px;
                                            float: left;
                                        }
                                    }
                                    &:hover {
                                        span {
                                            color: #4e99bd;
                                        }
                                        .fa {
                                            color: #4e99bd;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .overlay-left-col {
                        font-family: "concourse_t4regular";
                        float: left;
                        width: 290px;
                        height: 100%;
                        background: rgba(5, 45, 65, 1);
                        overflow-x: hidden;
                        overflow-y: visible;
                        position: relative;
                        left: 0;
                        top: 0;
                        z-index: 2000;
                        padding: 10px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        .amount-owed {
                            color: red;
                        }
                        ul {
                            clear: both;
                            list-style: none;
                            margin: 0px;
                            padding: 0px;
                            li {
                                padding-top: 10px;
                                padding-bottom: 10px;
                                height: 65px;
                                clear: both;
                                color: #9CCAE3;
                                span {
                                    display: block;
                                    margin-left: 15px;
                                }
                                &:hover {
                                    cursor: pointer;
                                    background: #094461;
                                }
                                &.taller-li {
                                    height: 90px;
                                }
                                .fa.fa-angle-right {
                                    margin-right: 10px;
                                    margin-top: 5px;
                                    font-size: 35px;
                                    color: #ccc;
                                }
                                div.pull-right {
                                    display: none;
                                    a {
                                        position: relative;
                                        top: -8px;
                                        left: -10px;
                                        color: #9CCAE3;
                                        &:hover {
                                            color: #9CCAE3;
                                        }
                                    }
                                }
                                &:hover {
                                    div.pull-right {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .overlay-right-col {
                        height: 100%;
                        min-width: 10px;
                        max-width: 100%;
                        padding-left: 20px;
                        overflow-y: scroll;
                        position: relative;
                        display: block;
                        margin: auto;
                        padding: 10px;
                        textarea {
                            height: 230px;
                        }
                    
                        .payment-wrapper .control-group {
                            margin: 10px 15px;
                        }
                        h3 {
                            font-family: "concourse_t4regular";
                            color: #529acd;
                            font-size: 21px;
                            margin-left: 15px;
                            margin-top: 30px;
                            width: 94%;
                        }
                        .fa.fa-caret-down {
                            color: white;
                            font-size: 25px;
                            top: 20px;
                            margin-right: 20px;
                        }
                        .detail-breakdown {
                            font-family: "concourse_t4regular";
                            color: white;
                            font-size: 16px;
                            margin-left: 1%;
                            clear: both;
                            margin-bottom: 15px;
                            .detail-label {
                                font-weight: bold;
                                float: left;
                                margin-top: 15px;
                            }
                            .detail-value {
                                float: right;
                                margin-top: 15px;
                                &.red {
                                    color: red;
                                }
                            }
                        }
                        nav {
                            float: right;
                            display: inline-block;
                            margin-top: -10px;
                            width: 200px;
                            ul {
                                list-style: none;
                                li {
                                    float: left;
                                    clear: none;
                                    font-size: 14px;
                                    //margin-right: 10px;
                                    padding: 0px;
                                    color: #9CCAE3;
                                    height: auto;
                                    cursor: pointer;
                                    &:hover,
                                    &.active {
                                        background: transparent;
                                        color: #999;
                                    }
                                }
                            }
                            &.pagination-wrapper {
                                float: none;
                                clear: both;
                                width: 100%;
                                // .pagination > li > a {
                                //     border: none;
                                // }
                            }
                        }
                    }
                    .invoice-break-down {
                        margin-left: 15px;
                        margin-bottom: 15px;
                        font-size: 14px;
                        span {
                            text-transform: capitalize;
                        }
                        .orange{
                            font-weight: bold;
                        }
                    }

                    .history-break-down {
                        margin-left: 15px;
                        margin-bottom: 30px;
                        font-weight: bold;
                        span {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}