<div class="contact-container">
		<span class="glyphicon glyphicon-map-marker pull-left"></span>

		<h4>Contact Your Center</h4>
		<br style=" clear: both;"/>
		<p class="pull-left forty-percent-width">
			{{currentCenterDetails.CenterName}}<br/>
			{{currentCenterDetails.Street}}<br/>
			{{currentCenterDetails.City}}, {{currentCenterDetails.State}} {{currentCenterDetails.Zip}}
		</p>
		<div class="pull-right half-width">
			<div class="contact-wrap hide">
				<i class="fa fa-globe pull-left"></i>
				<a href="#">mychildcenter.com</a>
			</div>	
			<div class="contact-wrap">
				<i class="fa fa-mobile pull-left"></i>
				<p class="phone-number">{{currentCenterDetails.Phone}}</p>
			</div>
			<div class="contact-wrap">
				<i class="fa fa-at pull-left"></i>
				<a href="mailto:{{currentCenterDetails.EmailAddress}}">{{currentCenterDetails.EmailAddress}}</a>
			</div>
		</div>
		<br style=" clear: both;"/>
		<p class="day-care-hours pull-left">
			<b>Mon:</b> {{currentCenterDetails.MonHours}}<br/>
			<b>Tues:</b> {{currentCenterDetails.TueHours}}<br/>
			<b>Wed:</b> {{currentCenterDetails.WedHours}}
		</p>
		<p class="day-care-hours pull-left">
			<b>Thurs:</b> {{currentCenterDetails.ThurHours}}<br/>
			<b>Fri:</b> {{currentCenterDetails.FridHours}}<br/>
			<div ng-show="currentCenterDetails.SatHours.length != 0 || currentCenterDetails.SunHours.length != 0">
				<b>Sat/Sun:</b> {{currentCenterDetails.SatHours}}/{{currenCenterDetails.SunHours}}
			</div>
		</p>
		
	</div>