<div class="contact-container">
		<h4>Contact Your Center</h4>
		<div class="clearfix"></div>
		<div class="center-info">
			<p class="col-md-12">

				<span>{{currentCenter.CenterName}}</span><br/>
				{{currentCenter.CenterStreet}}<br/>
				{{currentCenter.CenterCity}}, {{currentCenter.CenterState}} {{currentCenter.CenterZip}}
			</p>
			<div class="contact-section-wrapper col-md-12 pull-left">
				<div class="contact-wrap" ng-show="currentCenter.WebSiteURL != 'http://'">
					<i class="fa fa-globe pull-left"></i>
					<a href="{{currentCenter.WebSiteURL}}" target="_blank">{{currentCenter.WebSiteURL}}</a>
				</div>	
				<div class="contact-wrap phone-wrapper clearfix" ng-show="currentCenter.CenterPhone">
					<i class="fa fa-mobile pull-left"></i>
					<a class="phone-number" href="tel:{{currentCenter.CenterPhone}}">{{currentCenter.CenterPhone}}</a>
				</div>
				<div class="contact-wrap clearfix" ng-show="currentCenter.CenterEmail">
					<i class="fa fa-at pull-left"></i>
					<a href="mailto:{{currentCenter.EmailAddress}}">{{currentCenter.CenterEmail}}</a>
				</div>
			</div>
			<p class="day-care-hours col-md-12 clearfix">
				<span ng-show="currentCenter.MondayStart.length != 0">
					<b>Monday: </b> {{currentCenter.MondayStart}} - {{currentCenter.MondayEnd}}
				</span><br/>
				<span ng-show="currentCenter.TuesdayStart.length != 0">
					<b>Tuesday: </b> {{currentCenter.TuesdayStart}} - {{currentCenter.TuesdayEnd}}
				</span><br/>
				<span ng-show="currentCenter.WednesdayStart.length != 0">
					<b>Wednesday: </b> {{currentCenter.WednesdayStart}} - {{currentCenter.WednesdayEnd}}
				</span><br/>
				<span ng-show="currentCenter.ThursdayStart.length != 0">
					<b>Thursday: </b> {{currentCenter.ThursdayStart}} - {{currentCenter.ThursdayEnd}}
				</span><br/>
				<span ng-show="currentCenter.FridayStart.length != 0">
					<b>Friday: </b> {{currentCenter.FridayStart}} - {{currentCenter.FridayEnd}}
				</span><br/>
				<span ng-show="currentCenter.SaturdayStart.length != 0">
					<b>Saturday: </b> {{currentCenter.SaturdayStart}} - {{currentCenter.SaturdayEnd}}
				</span><br/>

				<span ng-show="currentCenter.SundayStart.length != 0">
					<b>Sunday:</b> {{currentCenter.SundayStart}} - {{currentCenter.SundayEnd}}
				</span>
			</p>
		</div>
		<div class="clearfix"></div>
	</div>