<div class="daily-activity-feed-container-dashboard lower-section-wrapper" >
	<div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{'active' : feed.FeedId == viewFeed.FeedId }" ng-animate="'animate'" data-ng-repeat="feed in dailyFeed"  ng-click="goToFeed(feed.FeedId)">
				<div class="pull-left">
					<span class="feed-headline">{{feed.FeedTitle}}</span>
					<span class="feed-date">{{feed.FeedPostedDate | date}}</span>
					<span class="attachment-count">Attachments: {{feed.FeedAttachments}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
	</div>


	<div class="feed-breakdown-view"  >
		<div>
			<h4 class="pull-left">
				{{viewFeed.FeedTitle}} 
			</h4> 
			<span class="detail-value pull-right">{{viewFeed.FeedPostedDate | date}}</span>
			<br class="clearfix" />
			<p>
				{{viewFeedNotes}} 
			</p>
			<br class="clearfix" />
			<div data-ng-repeat="attachment in viewFeedAttachments" class="attachment-wrapper" >
				<a class="attachment-title pull-left" target="_blank" href="{{attachment.FileURL}}"><span class="fa fa-paperclip pull-left"></span> {{attachment.FileName}}<a/>
					{{attachment.FileMimeType}}
				
			</div>
		</div>
	</div> <!-- .feed-breakdown-view -->
	<div class="clearfix"></div>

	<nav class="pagination-wrapper">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

</div> <!-- .daily-activity-feed-container-dashboard -->