<div class="daily-activity-feed-container-dashboard lower-section-wrapper" >
	<div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{'active' : feed.FeedId == viewFeed.FeedId }" data-ng-repeat="feed in dailyFeed | startFrom: dailyFeedPagination.page * dailyFeedPagination.perPage | limitTo: dailyFeedPagination.perPage"  ng-click="goToFeed(feed.FeedId)">
				<div class="pull-left">
					<span class="feed-headline">{{feed.FeedTitle}}</span>
					<span class="feed-date">{{feed.FeedPostedDate | date}}</span>
					<span class="attachment-count">Attachments: {{feed.FeedAttachments}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>

		<nav class="pagination-wrapper text-center" ng-show="dailyFeed.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="dailyFeedPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: dailyFeedPagination.numPages" ng-class="{active: n == dailyFeedPagination.page}">
			  		<a href="" ng-click="dailyFeedPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="dailyFeedPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>


	<div class="feed-breakdown-view"  >
		<p class="no-updates text-center" ng-hide="dailyFeed.length > 0">No Updates At This Time</p>
		<div>
			<h4 class="pull-left">
				{{viewFeed.FeedTitle}} 
			</h4> 
			<span class="detail-value pull-right">{{viewFeed.FeedPostedDate | date}}</span>
			<br class="clearfix" />
			<p ng-bind-html="viewFeedNotes">
				{{viewFeedNotes}} 
			</p>
			<br class="clearfix" />
			<div data-ng-repeat="attachment in viewFeedAttachments" class="attachment-wrapper" >
				<a class="attachment-title pull-left" target="_blank" href="{{attachment.FileURL}}">
					<span class="fa fa-file-excel-o pull-left" ng-show="attachment.FileMimeType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></span> 
					<span class="fa fa-file-text-o pull-left" ng-show="attachment.FileMimeType.split('/')[0] == 'text'"></span> 
					<span class="fa fa-file-audio-o pull-left" ng-show="attachment.FileMimeType.split('/')[0] == 'audio'"></span> 
					<span class="fa fa-file-image-o pull-left" ng-show="attachment.FileMimeType.split('/')[0] == 'image'"></span> 
					<span class="fa fa-file-video-o pull-left" ng-show="attachment.FileMimeType.split('/')[0] == 'video'"></span> 
					<span class="fa fa-file-pdf-o pull-left" ng-show="attachment.FileMimeType == 'application/pdf'"></span> 
					<span class="fa fa-file-word-o pull-left" ng-show="attachment.FileMimeType == 'application/msword' || attachment.FileMimeType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></span> 
					<span class="fa fa-file-powerpoint-o pull-left" ng-show="attachment.FileMimeType == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"></span> 

					
					{{attachment.FileName.split('.')[0]}}<a/>
										
			</div>

		</div>
	</div> <!-- .feed-breakdown-view -->
	<div class="clearfix"></div>

	

</div> <!-- .daily-activity-feed-container-dashboard -->