<div class="emergency-contact-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{ 'active': activeEmergencyContact == 'contact-'+[$index+1]}"  data-ng-repeat="contact in contacts | startFrom: contactsPagination.page * contactsPagination.perPage | limitTo: contactsPagination.perPage" ng-animate="'animate'"   ng-click="goToEmergencyContact(contact.EmergencyContactId); changeActiveEmergencyContact('contact-'+[$index+1]);" >
				<div class="pull-left">
					<span class="feed-headline cap">Contact {{$index+1}}</span>
					<span class="feed-headline cap">{{contact.Name}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
		<nav class="pagination-wrapper text-center" ng-show="contacts.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="contactsPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: contactsPagination.numPages" ng-class="{active: n == contactsPagination.page}">
			  		<a href="" ng-click="contactsPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="contactsPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>
    <div class="emergency-contact-detail-wrapper feed-breakdown-view" >
    	<button class="btn btn-primary pull-right edit-contact-btn edit-btn" ng-click="editContact = true;" ng-hide="editContact">Edit</button>
    	<div class="clearfix"></div>
		<div class="view-contact-info" ng-hide="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Name</span>
				<span class="detail-value">{{viewEmergencyContact.Name}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value">{{viewEmergencyContact.RelationShip}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Security Pin</span>
				<span class="detail-value">
					{{viewEmergencyContact.Pin}}
				</span>
			</div>
		</div>

		<!-- Edit -->
		<div class="edit-contact-info" ng-show="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Name</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Name" name="contact_name" />
					</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.RelationShip" name="contact_name" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Security Pin</span>
				<span class="detail-value">
					{{viewEmergencyContact.Pin}}
				</span>
			</div>
		</div>
		<!-- Edit -->

		<div class="clearfix"></div>
		<hr />


		<!-- MAILING ADDRESS -->
		<h2>Address</h2>
		<div class="contact-address-wrapper" ng-hide="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">{{viewEmergencyContact.Street}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">{{viewEmergencyContact.City}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value">{{viewEmergencyContact.State}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					{{viewEmergencyContact.Zip}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value">{{viewEmergencyContact.HomePhone  | tel}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value">
					{{viewEmergencyContact.WorkPhone | tel}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value">
					{{viewEmergencyContact.CellPhone | tel}}
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="detail-breakdown">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					{{viewEmergencyContact.EmailAddress}}
				</span>
			</div>
		</div>

		<!-- EDIT Contact ADDRESS -->
		<div class="edit-contact-address-wrapper" ng-show="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Street" name="contact_street" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.City" name="contact_city" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value controls relative">
					<select id="edit-contact-state" class="form-control" ng-model="viewEmergencyContactEdit.State" >
     					<option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown" >{{option.name}}</option>
    				</select>
    				<i class="fa fa-caret-down" select-button select-id="edit-contact-state"></i>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Zip" name="contact_zip" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.HomePhone" name="contact_home_phone" tel />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.WorkPhone" name="contact_work_phone" tel />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.CellPhone" name="contact_cell_phone" tel />
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="detail-breakdown">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.EmailAddress" name="contact_email" tel />
				</span>
			</div>
			<div class="button-wrapper detail-breakdown">
				<button class="btn btn-primary" ng-click="editContactInfo(); editContact = false;">Save</button>
				<button class="btn btn-danger" ng-click="editContact = false;">Cancel</button>
			</div>
		</div>
		<!-- EDIT Contact ADDRESS -->

	</div>
</div>