<div class="emergency-contact-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav"  ng-hide="contacts.length == 0">
		<ul>
	        <li ng-class="{ 'active': activeEmergencyContact == 'contact-'+[$index+1]}"  data-ng-repeat="contact in contacts | startFrom: contactsPagination.page * contactsPagination.perPage | limitTo: contactsPagination.perPage" ng-animate="'animate'"   ng-click="goToEmergencyContact(contact.EmergencyContactId); changeActiveEmergencyContact('contact-'+[$index+1]);" >
				<div class="pull-left">
					<span class="feed-headline cap">Contact {{$index+1}}</span>
					<span class="feed-headline cap">{{contact.Name || '(Not Set)'}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
		<nav class="pagination-wrapper text-center" ng-show="contacts.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="contactsPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: contactsPagination.numPages" ng-class="{active: n == contactsPagination.page}">
			  		<a href="" ng-click="contactsPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="contactsPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>

		<nav class="pagination-wrapper text-center" ng-show="contacts.length > 5">
			<span>
				{{(contactsPagination.page * contactsPagination.perPage)+1}}
			</span>
			-
			<span ng-hide="((contactsPagination.page+1) * contactsPagination.perPage) >  contactsPagination.perPage">
				{{((contactsPagination.page+1) * contactsPagination.perPage)}}
			</span>
			<span ng-if="((contactsPagination.page+1) * contactsPagination.perPage) >  contactsPagination.perPage">
				{{((contacts.length - ((contactsPagination.page * contactsPagination.perPage)+1))) + ((contactsPagination.page * contactsPagination.perPage)+1)}}
			</span>

			<span> of {{contacts.length}}</span>

			<ul class="pagination">
			  	<li class="ng-hide" ng-repeat="n in [] | range: contactsPagination.numPages" ng-class="{active: n == contactsPagination.page}">
			  		<a href="" ng-click="contactsPagination.toPageId(n);">{{n + 1}}</a>
			  	</li>
			  	<li class="prev-next-wrapper">
			  		<a class="prev" ng-click="contactsPagination.prevPage()">
						<i class="fa fa-caret-left"></i>
					</a>
					<a class="next" ng-click="contactsPagination.nextPage()">
						<i class="fa fa-caret-right"></i>
					</a>
			  	</li>
			</ul>
		</nav>
	</div>

	<div class="emergency-contact-detail-wrapper feed-breakdown-view empty"  ng-show="contacts.length == 0">
		<p class="no-updates no-results">No One has been added to contacts at this time</p>
	</div>

    <div class="emergency-contact-detail-wrapper feed-breakdown-view" >
    	<button
		  class="btn btn-danger pull-right delete-btn"
		  mwl-confirm
		  message="Confirm Delete"
		  confirm-text="Delete"
		  cancel-text="Cancel"
		  placement="top"
		  on-confirm="deleteEmergencyContact(viewEmergencyContact.EmergencyContactId)"
		  on-cancel=""
		  confirm-button-type="primary"
		  cancel-button-type="danger" ng-hide="editContact">
		  Delete Contact
		</button>
    	<button class="btn btn-primary pull-right edit-contact-btn edit-btn" ng-click="editSection('Contact Info')" ng-hide="editContact">Edit Contact</button>
    	<div class="clearfix"></div>
		<div class="view-contact-info" ng-hide="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Name</span>
				<span class="detail-value">{{viewEmergencyContact.Name || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value">{{viewEmergencyContact.RelationShip || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Security Pin</span>
				<span class="detail-value">
					{{viewEmergencyContact.Pin || '(Not Set)'}}
				</span>
			</div>
		</div>

		<!-- Edit -->
		<div class="edit-contact-info" ng-show="editContact">
			<form name="editContactFormTop">
				<div class="detail-breakdown">
					<span class="detail-label">
						<span class="required">*</span>
						Name</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Name" name="contact_name" required />
						</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">
						<span class="required">*</span>
						Relationship</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.RelationShip" name="contact_name" required/>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">
						<span class="required">*</span>
						Security Pin
					</span>
					<span class="detail-value PIN">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Pin" name="pin" numeric-only required maxlength="4" minlength="4" ng-keyup="pinValidation()" ng-class="{'ng-invalid': !isPinValid}" /> 
						<span class="required" ng-show="editContactFormTop.pin.$invalid && editContactFormTop.pin.$dirty" >PIN must be 4 digits</span>
					</span>
				</div>
			</form>
		</div>
		<!-- Edit -->

		<div class="clearfix"></div>
		<hr />


		<!-- MAILING ADDRESS -->
		<h2>Address</h2>
		<div class="contact-address-wrapper" ng-hide="editContact">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">{{viewEmergencyContact.Street || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">{{viewEmergencyContact.City || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value">{{viewEmergencyContact.State || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					{{viewEmergencyContact.Zip || '(Not Set)'}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value"  ng-if="viewEmergencyContact.HomePhone.length > 0">{{viewEmergencyContact.HomePhone  | tel}}</span>
				<span class="detail-value" ng-if="viewEmergencyContact.HomePhone.length == 0" >(Not Set)</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value" ng-if="viewEmergencyContact.WorkPhone.length > 0">
					{{viewEmergencyContact.WorkPhone | tel}}
				</span>
				<span class="detail-value" ng-if="viewEmergencyContact.WorkPhone.length == 0" >(Not Set)</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value"  ng-if="viewEmergencyContact.CellPhone.length > 0">
					{{viewEmergencyContact.CellPhone | tel}}
				</span>
				<span class="detail-value" ng-if="viewEmergencyContact.CellPhone.length == 0">
					(Not Set)
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="detail-breakdown">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					{{viewEmergencyContact.EmailAddress || '(Not Set)'}}
				</span>
			</div>
		</div>

		<!-- EDIT Contact ADDRESS -->
		<div class="edit-contact-address-wrapper" ng-show="editContact">
			<form name="editContactForm">
				<div class="detail-breakdown">
					<span class="detail-label">Street</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Street" name="contact_street" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">City</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.City" name="contact_city" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">State</span>
					<span class="detail-value controls relative">
						<select id="edit-contact-state" class="form-control" ng-model="viewEmergencyContactEdit.State" >
	     					<option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown" >{{option.name}}</option>
	    				</select>
	    				<i class="fa fa-caret-down" select-button select-id="edit-contact-state"></i>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Zip</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.Zip" name="contact_zip" maxlength="5" numeric-only />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Home Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.HomePhone" name="contact_home_phone"  mask="(999) 999-9999" clean="true" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Work Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.WorkPhone" name="contact_work_phone"  mask="(999) 999-9999" clean="true" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Cell Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewEmergencyContactEdit.CellPhone" name="contact_cell_phone"  mask="(999) 999-9999" clean="true" />
					</span>
				</div>
				<div class="clearfix"></div>
				<div class="detail-breakdown">
					<span class="detail-label">Email</span>
					<span class="detail-value no-cap">
						<input type="email" class="form-control" ng-model="viewEmergencyContactEdit.EmailAddress" name="contact_email" />
					</span>
				</div>
				<div class="button-wrapper detail-breakdown" >
					<img ng-if="buttonDisable"  class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
					<button class="btn btn-primary" ng-click="editContactInfo();" ng-disabled="!editContactForm.$valid || !editContactFormTop.$valid || buttonDisable">Save</button>
					<button class="btn btn-danger" ng-click="editSection('Contact Info');">Cancel</button>
				</div>
			</form>
		</div>
		<!-- EDIT Contact ADDRESS  -->

	</div>
</div>