<div class="emergency-contact-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{ 'active': activeEmergencyContact == 'contact-'+[$index+1]}"  data-ng-repeat="contact in contacts | startFrom: contactsPagination.page * contactsPagination.perPage | limitTo: contactsPagination.perPage" ng-animate="'animate'"   ng-click="goToEmergencyContact(contact.EmergencyContactId); changeActiveEmergencyContact('contact-'+[$index+1]);" >
				<div class="pull-left">
					<span class="feed-headline cap">Contact {{$index+1}}</span>
					<span class="feed-headline cap">{{contact.Name}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
		<nav class="pagination-wrapper text-center" ng-show="contacts.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="contactsPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: contactsPagination.numPages" ng-class="{active: n == contactsPagination.page}">
			  		<a href="" ng-click="contactsPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="contactsPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>
    <div class="emergency-contact-detail-wrapper feed-breakdown-view" >
		<div class="detail-breakdown">
			<span class="detail-label">Name</span>
			<span class="detail-value">{{viewEmergencyContact.Name}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Relationship</span>
			<span class="detail-value">{{viewEmergencyContact.RelationShip}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Security Pin</span>
			<span class="detail-value">
				{{viewEmergencyContact.Pin}}
			</span>
		</div>
		<div class="clearfix"></div>
		<hr />
		<!-- MAILING ADDRESS -->
		<h2>Address</h2>
		<div class="detail-breakdown">
			<span class="detail-label">Street</span>
			<span class="detail-value">{{viewEmergencyContact.Street}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">City</span>
			<span class="detail-value">{{viewEmergencyContact.City}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">State</span>
			<span class="detail-value">{{viewEmergencyContact.State}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Zip</span>
			<span class="detail-value">
				{{viewEmergencyContact.Zip}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Home Phone</span>
			<span class="detail-value">{{viewEmergencyContact.HomePhone  | tel}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Work Phone</span>
			<span class="detail-value">
				{{viewEmergencyContact.WorkPhone | tel}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Cell Phone</span>
			<span class="detail-value">
				{{viewEmergencyContact.CellPhone | tel}}
			</span>
		</div>
		<div class="clearfix"></div>
		<div class="detail-breakdown longer">
			<span class="detail-label">Email</span>
			<span class="detail-value no-cap">
				{{viewEmergencyContact.EmailAddress}}
			</span>
		</div>
	</div>
</div>