
<div class="guardian-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav" >
		<ul>
	        <li ng-class="{'active': activeGuardian == 'guardian-'+[$index+1]}" data-ng-repeat="guardian in guardians | startFrom: guardiansPagination.page * guardiansPagination.perPage | limitTo: guardiansPagination.perPage" ng-animate="'animate'" ng-click="goToGuardian(guardian.GuardianId); changeActiveGuardian('guardian-'+[$index+1]);">
				<div class="pull-left">
					<span class="feed-headline cap">Guardian {{$index+1}}</span>
					<span ng-show="guardian.FirstName.length > 0 && guardian.LastName.length > 0" class="feed-headline cap">{{guardian.FirstName}} {{guardian.LastName}}</span>
					<span ng-show="guardian.FirstName.length == 0 && guardian.LastName.length == 0" class="feed-headline cap">(Not Set)</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>

		<nav class="pagination-wrapper text-center" ng-show="guardians.length > 5">
			<span>
				{{(guardiansPagination.page * guardiansPagination.perPage)+1}}
			</span>
			-
			<span ng-hide="((guardiansPagination.page+1) * guardiansPagination.perPage) >  guardiansPagination.perPage">
				{{((guardiansPagination.page+1) * guardiansPagination.perPage)}}
			</span>
			<span ng-if="((guardiansPagination.page+1) * guardiansPagination.perPage) >  guardiansPagination.perPage">
				{{((guardians.length - ((guardiansPagination.page * guardiansPagination.perPage)+1))) + ((guardiansPagination.page * guardiansPagination.perPage)+1)}}
			</span>

			<span> of {{guardians.length}}</span>

			<ul class="pagination">
			  	<li class="ng-hide" ng-repeat="n in [] | range: guardiansPagination.numPages" ng-class="{active: n == guardiansPagination.page}">
			  		<a href="" ng-click="guardiansPagination.toPageId(n);">{{n + 1}}</a>
			  	</li>
			  	<li class="prev-next-wrapper">
			  		<a class="prev" ng-click="guardiansPagination.prevPage()">
						<i class="fa fa-caret-left"></i>
					</a>
					<a class="next" ng-click="guardiansPagination.nextPage()">
						<i class="fa fa-caret-right"></i>
					</a>
			  	</li>
			</ul>
		</nav>
	</div>
	<div class="feed-breakdown-view guardian-detail-wrapper" >
		
		<button class="btn btn-primary pull-right edit-guardian-btn edit-btn" ng-click="editSection('Guardian Info')" ng-hide="editGuardian">Edit Contact</button>
		<div class="clearfix"></div>
		<div class="view-guardian-info" ng-hide="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">First Name</span>
				<span class="detail-value">{{viewGuardian.FirstName || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Last Name</span>
				<span class="detail-value">{{viewGuardian.LastName || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value" ng-show="viewGuardian.RelationShip == 'F'">Father</span>
				<span class="detail-value" ng-show="viewGuardian.RelationShip == 'M'">Mother</span>
				<span class="detail-value" ng-show="viewGuardian.RelationShip.length == 0">(Not Set)</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Legal Custody?</span>
				<span class="detail-value" ng-show="viewGuardian.LegalCustody == 'Y'">Yes</span>
				 <span class="detail-value" ng-show="viewGuardian.LegalCustody == 'N'">No</span>
				 <span class="detail-value" ng-show="viewGuardian.LegalCustody.length == 0">(Not Set)</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Employer</span>
				<span class="detail-value" > {{ viewGuardian.Employer || '(Not Set)' }}</span>
			</div>
			<div class="detail-breakdown hide">
				<span class="detail-label">Security PIN</span>
				<span class="detail-value" > {{ viewGuardian.PIN || '(Not Set)' }}</span>
			</div>	
		</div>

		<!-- Edit -->

		<div class="edit-guardian-info" ng-show="editGuardian">
			<form name="editGuardianForm1">
				<div class="detail-breakdown">
					<span class="detail-label">
						<span class="required">*</span>
						First Name</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.FirstName" name="guardian_first_name" required maxlength="100" />
					</span>
				</div>
				<div class="detail-breakdown">
					
					<span class="detail-label">
						<span class="required">*</span>
						Last Name</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.LastName" name="guardian_last_name" required maxlength="100"/>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">
						<span class="required">*</span>
						Relationship</span>
					<span class="detail-value">
						<span class="radio-btn-wrapper wide">Mother
							<input type="radio" class="form-control" ng-model="viewGuardianEdit.RelationShip" name="relationship_m" value="M" required/>
						</span>
						<span class="radio-btn-wrapper wide">Father
							<input type="radio" class="form-control" ng-model="viewGuardianEdit.RelationShip" name="relationship_f" value="F" required/>
						</span>
						<div class="clearfix"></div>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Legal Custody?</span>
					<span class="detail-value">
						<span class="radio-btn-wrapper">Yes
							<input type="radio" class="form-control" ng-model="viewGuardianEdit.LegalCustody" name="has_custody_yes" value="Y" />
						</span>
						<span class="radio-btn-wrapper">No
							<input type="radio" class="form-control" ng-model="viewGuardianEdit.LegalCustody" name="has_custody_no" value="N" />
						</span>
						<div class="clearfix"></div>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Employer</span>
					<span class="detail-value" >
						<input type="text" class="form-control" ng-model="viewGuardianEdit.Employer" name="guardian_employer" maxlength="100" /></span>
				</div>
				<div class="detail-breakdown hide">
					<span class="detail-label">Security PIN</span>
					<span class="detail-value" > {{ viewGuardian.PIN }}</span>
				</div>	
			</form>	
		</div>
		<!-- Edit -->

		<div class="clearfix"></div>	
		<hr />
		
		<!-- MAILING ADDRESS -->
		<h2 class="pull-left">Address</h2>
		<div class="clearfix"></div>
		<div class="guardian-address-wrapper" ng-hide="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">{{viewGuardian.Street || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">{{viewGuardian.City || '(Not Set)' }}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value">{{viewGuardian.State  || '(Not Set)'}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					{{viewGuardian.Zip || '(Not Set)'}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value" ng-if="viewGuardian.HomePhone.length > 0">{{viewGuardian.HomePhone  | tel}}</span>
				<span class="detail-value" ng-if="viewGuardian.HomePhone.length == 0" >
					(Not Set)
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value" ng-if="viewGuardian.WorkPhone.length > 0" >
					{{viewGuardian.WorkPhone | tel}}
				</span>
				<span class="detail-value" ng-if="viewGuardian.WorkPhone.length == 0" >
					(Not Set)
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value" ng-if="viewGuardian.CellPhone.length > 0" >
					{{viewGuardian.CellPhone | tel}}
				</span>
				<span class="detail-value" ng-if="viewGuardian.CellPhone.length == 0" >
					(Not Set)
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Pref. Method<br/>Of Contact</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'W'">Work Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'S'">SMS</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'H'">Home Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'C'">Cell Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'E'">Email</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact.length == 0">(Not Set)</span>

			</div>
			<div class="detail-breakdown longer">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					{{viewGuardian.EmailAddress || '(Not Set)'}}
				</span>
			</div>
		</div>

		<!-- EDIT GUARDIAN ADDRESS -->
		<div class="edit-guardian-address-wrapper" ng-show="editGuardian">
			<form name="editGuardianForm2">
				<div class="detail-breakdown">
					<span class="detail-label">Street</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.Street" name="guardian_street" maxlength="200"/>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">City</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.City" name="guardian_city" maxlength="200" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">State</span>
					<span class="detail-value controls relative">
						<select id="edit-guardian-state" class="form-control" ng-model="viewGuardianEdit.State" >
	     					<option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown" >{{option.name}}</option>
	    				</select>
	    				<i class="fa fa-caret-down" select-button select-id="edit-guardian-state"></i>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Zip</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.Zip" name="guardian_zip" maxlength="10" numeric-only />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Home Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.HomePhone" name="guardian_home_phone" mask="(999) 999-9999" clean="true" maxlength="50" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Work Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.WorkPhone" name="guardian_work_phone" mask="(999) 999-9999" clean="true" maxlength="50" />
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Cell Phone</span>
					<span class="detail-value">
						<input type="text" class="form-control" ng-model="viewGuardianEdit.CellPhone" name="guardian_cell_phone" mask="(999) 999-9999" clean="true" maxlength="50"/>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Pref. Method<br/>Of Contact</span>
					<span class="detail-value controls relative">
						<select id="edit-method-of-contact" class="form-control" ng-model="viewGuardianEdit.PrefMethodOfContact" >
							<option value="C">Cell Phone</option>
							<option value="H">Home Phone</option>
	     					<option value="W">Work Phone</option>
	     					<option value="E">Email</option>
	     					<option value="S">SMS</option>
	    				</select>
	    				<i class="fa fa-caret-down" select-button select-id="edit-method-of-contact"></i>
					</span>
				</div>
				<div class="detail-breakdown">
					<span class="detail-label">Email</span>
					<span class="detail-value no-cap">
						<input type="email" class="form-control" ng-model="viewGuardianEdit.EmailAddress" name="guardian_email" maxlength="100"/>
					</span>
				</div>
				<div class="button-wrapper detail-breakdown">
					<button ng-class="{'waiting': buttonDisable}" class="btn btn-primary" ng-click="editGuardianInfo();" ng-disabled="!editGuardianForm1.$valid || !editGuardianForm2.$valid || buttonDisable">Save</button>
					<button class="btn btn-danger" ng-click="editSection('Guardian Info')">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>