
<div class="guardian-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{'active': activeGuardian == 'guardian-'+[$index+1]}" data-ng-repeat="guardian in guardians | startFrom: guardiansPagination.page * guardiansPagination.perPage | limitTo: guardiansPagination.perPage" ng-animate="'animate'" ng-click="goToGuardian(guardian.GuardianId); changeActiveGuardian('guardian-'+[$index+1]);">
				<div class="pull-left">
					<span class="feed-headline cap">Guardian {{$index+1}}</span>
					<span class="feed-headline cap">{{guardian.FullName}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
		<nav class="pagination-wrapper text-center" ng-show="guardians.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="guardiansPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: guardiansPagination.numPages" ng-class="{active: n == guardiansPagination.page}">
			  		<a href="" ng-click="guardiansPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="guardiansPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>
	<div class="feed-breakdown-view guardian-detail-wrapper" >
		<div class="detail-breakdown">
			<span class="detail-label">First Name</span>
			<span class="detail-value">{{viewGuardian.FirstName}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Last Name</span>
			<span class="detail-value">{{viewGuardian.LastName}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Relationship</span>
			<span class="detail-value" ng-show="viewGuardian.RelationShip == 'F'">Father</span>
			<span class="detail-value" ng-show="viewGuardian.RelationShip == 'M'">Mother</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Legal Custody?</span>
			<span class="detail-value" ng-show="viewGuardian.LegalCustody == 'Y'">Yes</span>
			 <span class="detail-value" ng-show="viewGuardian.LegalCustody == 'N'">No</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Employer</span>
			<span class="detail-value" > {{ viewGuardian.Employer }}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Security PIN</span>
			<span class="detail-value" > {{ viewGuardian.PIN }}</span>
		</div>		
		<hr />
		
		<!-- MAILING ADDRESS -->
		<h2>Address</h2>
		<div class="detail-breakdown">
			<span class="detail-label">Street</span>
			<span class="detail-value">{{viewGuardian.Street}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">City</span>
			<span class="detail-value">{{viewGuardian.City}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">State</span>
			<span class="detail-value">{{viewGuardian.Street}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Zip</span>
			<span class="detail-value">
				{{viewGuardian.Zip}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Home Phone</span>
			<span class="detail-value">{{viewGuardian.HomePhone  | tel}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Work Phone</span>
			<span class="detail-value">
				{{viewGuardian.WorkPhone | tel}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Cell Phone</span>
			<span class="detail-value">
				{{viewGuardian.CellPhone | tel}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Email</span>
			<span class="detail-value no-cap">
				{{viewGuardian.EmailAddress}}
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Pref. Method<br/>Of Contact</span>
			<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'W'">Work Phone</span>
			<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'S'">SMS</span>
			<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'H'">Home Phone</span>
			<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'C'">Cell Phone</span>
			<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'E'">Email</span>
		</div>
	</div>
</div>