
<div class="guardian-info-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav">
		<ul>
	        <li ng-class="{'active': activeGuardian == 'guardian-'+[$index+1]}" data-ng-repeat="guardian in guardians | startFrom: guardiansPagination.page * guardiansPagination.perPage | limitTo: guardiansPagination.perPage" ng-animate="'animate'" ng-click="goToGuardian(guardian.GuardianId); changeActiveGuardian('guardian-'+[$index+1]);">
				<div class="pull-left">
					<span class="feed-headline cap">Guardian {{$index+1}}</span>
					<span class="feed-headline cap">{{guardian.FullName}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
		<nav class="pagination-wrapper text-center" ng-show="guardians.length > 5">
			<ul class="pagination">
				<li>
					<a href="" ng-click="guardiansPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: guardiansPagination.numPages" ng-class="{active: n == guardiansPagination.page}">
			  		<a href="" ng-click="guardiansPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="guardiansPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>
	<div class="feed-breakdown-view guardian-detail-wrapper" >
		<button class="btn btn-primary pull-right edit-guardian-btn edit-btn" ng-click="editGuardian = true;" ng-hide="editGuardian">Edit</button>
		<div class="clearfix"></div>
		<div class="view-guardian-info" ng-hide="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">First Name</span>
				<span class="detail-value">{{viewGuardian.FirstName}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Last Name</span>
				<span class="detail-value">{{viewGuardian.LastName}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value" ng-show="viewGuardian.RelationShip == 'F'">Father</span>
				<span class="detail-value" ng-show="viewGuardian.RelationShip == 'M'">Mother</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Legal Custody?</span>
				<span class="detail-value" ng-show="viewGuardian.LegalCustody == 'Y'">Yes</span>
				 <span class="detail-value" ng-show="viewGuardian.LegalCustody == 'N'">No</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Employer</span>
				<span class="detail-value" > {{ viewGuardian.Employer }}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Security PIN</span>
				<span class="detail-value" > {{ viewGuardian.PIN }}</span>
			</div>	
		</div>

		<!-- Edit -->

		<div class="edit-guardian-info" ng-show="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">First Name</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.FirstName" name="guardian_first_name" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Last Name</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.LastName" name="guardian_last_name" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Relationship</span>
				<span class="detail-value controls relative">
					<select id="edit-relationship" class="form-control" ng-model="viewGuardianEdit.RelationShip" >
     					<option value="F">Father</option>
     					<option value="M">Mom</option>
    				</select>
    				<i class="fa fa-caret-down" select-button select-id="edit-relationship"></i>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Legal Custody?</span>
				 <span class="detail-value controls relative">
					<select id="edit-custody" class="form-control" ng-model="viewGuardianEdit.LegalCustody" >
     					<option value="Y">Yes</option>
     					<option value="N">No</option>
    				</select>
    				<i class="fa fa-caret-down" select-button select-id="edit-custody"></i>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Employer</span>
				<span class="detail-value" >
					<input type="text" class="form-control" ng-model="viewGuardianEdit.Employer" name="guardian_employer" /></span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Security PIN</span>
				<span class="detail-value" > {{ viewGuardian.PIN }}</span>
			</div>	
		</div>
		<!-- Edit -->

		<div class="clearfix"></div>	
		<hr />
		
		<!-- MAILING ADDRESS -->
		<h2 class="pull-left">Address</h2>
		<div class="clearfix"></div>
		<div class="guardian-address-wrapper" ng-hide="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">{{viewGuardian.Street}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">{{viewGuardian.City}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value">{{viewGuardian.State}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					{{viewGuardian.Zip}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value">{{viewGuardian.HomePhone  | tel}}</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value">
					{{viewGuardian.WorkPhone | tel}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value">
					{{viewGuardian.CellPhone | tel}}
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Pref. Method<br/>Of Contact</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'W'">Work Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'S'">SMS</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'H'">Home Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'C'">Cell Phone</span>
				<span class="detail-value" ng-show="viewGuardian.PrefMethodOfContact == 'E'">Email</span>
			</div>
			<div class="detail-breakdown longer">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					{{viewGuardian.EmailAddress}}
				</span>
			</div>
		</div>

		<!-- EDIT GUARDIAN ADDRESS -->
		<div class="edit-guardian-address-wrapper" ng-show="editGuardian">
			<div class="detail-breakdown">
				<span class="detail-label">Street</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.Street" name="guardian_street" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">City</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.City" name="guardian_city" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">State</span>
				<span class="detail-value controls relative">
					<select id="edit-guardian-state" class="form-control" ng-model="viewGuardianEdit.State" >
     					<option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown" >{{option.name}}</option>
    				</select>
    				<i class="fa fa-caret-down" select-button select-id="edit-guardian-state"></i>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Zip</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.Zip" name="guardian_zip" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Home Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.HomePhone" name="guardian_home_phone" tel />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Work Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.WorkPhone" name="guardian_work_phone" tel />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Cell Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.CellPhone" name="guardian_cell_phone" tel />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Pref. Method<br/>Of Contact</span>
				<span class="detail-value controls relative">
					<select id="edit-method-of-contact" class="form-control" ng-model="viewGuardianEdit.PrefMethodOfContact" >
						<option value="C">Cell Phone</option>
						<option value="H">Home Phone</option>
     					<option value="W">Work Phone</option>
     					<option value="E">Email</option>
     					<option value="S">SMS</option>
    				</select>
    				<i class="fa fa-caret-down" select-button select-id="edit-method-of-contact"></i>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Email</span>
				<span class="detail-value no-cap">
					<input type="text" class="form-control" ng-model="viewGuardianEdit.EmailAddress" name="guardian_email" tel />
				</span>
			</div>
			<div class="button-wrapper detail-breakdown">
				<button class="btn btn-primary" ng-click="editGuardianInfo(); editGuardian = false;">Save</button>
				<button class="btn btn-danger" ng-click="editGuardian = false;">Cancel</button>
			</div>
		</div>
	</div>
</div>