<div class="lower-container-dashboard">
    <ul class="nav nav-tabs">
        <li ng-class="{ 'active': currentLowerTab == 'Updates'}" ng-click="changeActiveLowerTab('Updates');">
        	<a><i class="fa fa-list"></i> Updates</a>
        </li>
        <li ng-class="{ 'active': currentLowerTab == 'Medical Info'}" ng-click="changeActiveLowerTab('Medical Info');">
        	<a><i class="fa fa-medkit"></i> Medical Info</a>
        </li>
        <li ng-class="{ 'active': currentLowerTab == 'Guardian Info'}" ng-click="changeActiveLowerTab('Guardian Info');">
        	<a><i class="glyphicon glyphicon-user"></i>Guardian Info</a>
        </li>
        <li class="longer" ng-class="{ 'active': currentLowerTab == 'Emergency Contact'}" ng-click="changeActiveLowerTab('Emergency Contact');">
        	<a><i class="fa fa-ambulance"></i> Emergency Contact</a>
        </li>    
        <li ng-class="{ 'active': currentLowerTab == 'Pickup List'}" ng-click="changeActiveLowerTab('Pickup List');">
        	<a><i class="fa fa-car"></i>Pickup List</a>
        </li>      
    </ul>
    <div class="clearfix"></div>



    <div class="daily-activity-feed-container-dashboard">
		<div ng-scrollbars ng-scrollbars-config="scrollbarConfig">
			<ul>
		        <li ng-animate="'animate'" data-ng-repeat="feed in dailyFeed">
					<div class="pull-left">
						<span class="feed-headline">{{feed.FeedTitle}}</span>
						<span class="feed-date">{{feed.FeedPostedDate | date}}</span>
						<span class="attachment-count">Attachments: {{feed.FeedAttachments}}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>