<div class="medical-info-breakdown-view">
	    	<button class="btn btn-primary pull-right edit-medical-btn edit-btn" ng-click="editSection('Medical Info')" ng-hide="editMedicalInfo">Edit</button>
	    	<div class="clearfix"></div>
	

	<div class="medical-info-view" ng-hide="editMedicalInfo">
		<div class="detail-breakdown">
			<span class="detail-label">Doctor Name</span>
			<span class="detail-value">{{viewChildMedicalInfo.DoctorName}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Doctor Phone</span>
			<span class="detail-value">{{viewChildMedicalInfo.DoctorPhone | tel}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Last Physical Date</span>
			<span class="detail-value">{{viewChildMedicalInfo.PhysicalDate | date}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Immunized?</span>
			<span class="detail-value">
				<span ng-show="viewChildMedicalInfo.Immunized == 'Y'">Yes</span>
				<span ng-show="viewChildMedicalInfo.Immunized == 'N'">No</span>
			</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Insurance Company</span>
			<span class="detail-value">{{viewChildMedicalInfo.InsuranceCompany}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Policy Number</span>
			<span class="detail-value">{{viewChildMedicalInfo.PolicyNumber}}</span>
		</div>
		<div class="detail-breakdown">
			<span class="detail-label">Group Number</span>
			<span class="detail-value">{{viewChildMedicalInfo.GroupNumber}}</span>
		</div>
	</div>


	<!-- EDIT -->

	<div class="medical-info-edit" ng-show="editMedicalInfo">
		<form name="editMedicalInfoForm">
			<div class="detail-breakdown">
				<span class="detail-label">Doctor Name</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.DoctorName" name="doctor_name" />
					</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Doctor Phone</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.DoctorPhone" name="doctor_number" mask="(999) 999-9999" clean="true" />
					</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Last Physical Date</span>
				<span class="detail-value">
					<datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="M/dd/yyyy">
			        <input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.PhysicalDate" name="physical_date">
			      </datepicker>
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Immunized?</span>
				<span class="detail-value">
					<span class="radio-btn-wrapper">Yes
						<input type="radio" class="form-control" ng-model="viewChildMedicalInfoEdit.Immunized" name="Immunized_yes" value="Y" />
					</span>
					<span class="radio-btn-wrapper">No
						<input type="radio" class="form-control" ng-model="viewChildMedicalInfoEdit.Immunized" name="Immunized_no" value="N" />
					</span>
					<div class="clearfix"></div>
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="detail-breakdown">
				<span class="detail-label">Insurance Company</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.InsuranceCompany" name="insurance_company" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Policy Number</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.PolicyNumber" name="policy_number" />
				</span>
			</div>
			<div class="detail-breakdown">
				<span class="detail-label">Group Number</span>
				<span class="detail-value">
					<input type="text" class="form-control" ng-model="viewChildMedicalInfoEdit.GroupNumber" name="group_number" />
				</span>
			</div>
			<div class="button-wrapper detail-breakdown right-align">
				<img ng-if="buttonDisable"  class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
				<button class="btn btn-primary" ng-click="editMedInfo();" ng-disabled="editMedicalInfoForm.doctor_number.$invalid || buttonDisable">Save</button>
				<button class="btn btn-danger" ng-click="editSection('Medical Info')">Cancel</button>
			</div>
		</form>
	</div>
</div><!-- medical-info-breakdown-view -->