<div>
	<div class="messages-container-dashboard">
		<span class="header-border-left"></span>
		<i class="glyphicon glyphicon-bullhorn pull-left"></i>
		<h4>Messages</h4>
		<span class="pull-right message-count clearfix">
			{{announcementCount}}
		</span> 
		<br style=" clear: both;"/>
		<a href="#/messages" class="pull-right view-all-messages">View all</a>
		<div ng-scrollbars ng-scrollbars-config="scrollbarConfig">
			<ul>
				<li ng-animate="'animate'" data-ng-repeat="announcement in announcements | limitTo: 5" ng-click="goToAnnouncement(announcement.MessageId)">
					<div class="pull-left">
						<span class="message-headline">{{announcement.MessageShortDescription}}</span>
						<span class="message-date">Posted: {{announcement.MessageDate | date}}</span>
					</div>
					<div class="pull-right">
						<a href="">See details</a><i class="fa fa-angle-right"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div ng-include src="'views/dashboard/daily-activity-feed.html'"></div>
</div>