<div class="my-children-container-dashboard">
	<h4 class="my-children-header pull-left">Children</h4>
	<div class="clearfix" ></div>
    
<div id="myCarousel" class="carousel slide my-children-carousel" data-ride="carousel"  data-interval="0">
		  <!-- Indicators -->

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}" data-ng-repeat="child in userChildren">

				 <img ng-if="child.Sex == 'M' && child.PhotoUrl.length > 0" ng-src="{{child.PhotoUrl}}" onerror="this.src = 'images/male.svg';" class="child-photo" />
				<img ng-if="child.Sex == 'M' && child.PhotoUrl.length == 0" ng-src="images/male.svg" class="child-photo" />
				
				<img ng-if="child.Sex == 'F' && child.PhotoUrl.length > 0" ng-src="{{child.PhotoUrl}}" onerror="this.src = 'images/female.svg';" class="child-photo" />
				<img ng-if="child.Sex == 'F' && child.PhotoUrl.length == 0" ng-src="images/female.svg" class="child-photo" />
				<div class="content">
				    <span class="child-name"><label>Name: </label> {{child.ChildName}}</span>  
				    <span class="child-dob"><label>Date of Birth: </label> {{child.DOB | date}}</span>  
				</div>
			    </div>
		  </div>

		    <ol class="carousel-indicators">
		    <li data-target="#myCarousel" slide="{{$index}}" childId="{{child.ChildId}}" activeChild="{{$index+1}}" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" data-ng-repeat="child in userChildren" data-interval="0" ng-click="goToChild(child.ChildId); changeActiveChild('child-'+[$index+1]);" class="slide"> 
		    </li>
		  </ol>

		 
		  <!-- Left and right controls -->
		  <button class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-click="changeActiveChild(false, 'prev');">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-click="changeActiveChild(false, 'next');" >
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
	</div>

<!--

    <ul class="nav nav-tabs">
        <li ng-animate="'animate'" data-ng-repeat="child in userChildren track by $index" ng-click="goToChild(child.ChildId); changeActiveChild('child-'+[$index+1]);" class="child-{{$index+1}}" ng-class="{ 'active': activeChild == 'child-'+[$index+1]}"><a><span class="first-name">{{child.ChildName.split(' ')[0]}}</span></a></li>
    </ul>
	<div class="col-md-12 child-breakdown-wrapper">
		<div class="pull-left">
			<img ng-if="viewChildGeneralInfo.Sex == 'M' && viewChild.PhotoUrl.length != 0" class="box-shadow-default" ng-src="{{viewChild.PhotoUrl}}" onerror="this.src = 'images/male.svg'; this.classList.remove('box-shadow-default');" />
			<img ng-if="viewChildGeneralInfo.Sex == 'M' && viewChild.PhotoUrl.length == 0" class="" src="images/male.svg" />


			<img ng-if="viewChildGeneralInfo.Sex == 'F'  && viewChild.PhotoUrl.length != 0" class="box-shadow-default" ng-src="{{viewChild.PhotoUrl}}" onerror="this.src = 'images/female.svg'; this.classList.remove('box-shadow-default');" />
			<img ng-if="viewChildGeneralInfo.Sex == 'F' && viewChild.PhotoUrl.length == 0" class="" src="images/female.svg" />
		</div>
		<div class="pull-left child-name-wrapper col-md-10">
			<div class="name-block col-md-3">
				<h4>First Name</h4>
				<p>{{viewChildGeneralInfo.FirstName}}</p>
			</div>
			<div class="name-block col-md-3">
				<h4>Last Name</h4>
				<p>{{viewChildGeneralInfo.LastName}}</p>
			</div>
			<div class="name-block col-md-3">
				<h4>Middle Name</h4>
				<p>{{viewChildGeneralInfo.MiddleName}}</p>
			</div>
			<div class="date-block col-md-3">
				<h4>Date of Birth</h4>
				<p>{{viewChildGeneralInfo.DOB | date}}</p>
			</div>
		</div>
	</div>
-->
</div>