<div class="my-children-container-dashboard">
	<h4 class="my-children-header pull-left">Children</h4>
	<div class="clearfix" ></div>
    <ul class="nav nav-tabs">
        <li ng-animate="'animate'" data-ng-repeat="child in userChildren track by $index" ng-click="goToChild(child.ChildId); changeActiveChild('child-'+[$index+1]);" class="child-{{$index+1}}" ng-class="{ 'active': activeChild == 'child-'+[$index+1]}"><a><span class="first-name">{{child.ChildName.split(' ')[0]}}</span></a></li>
    </ul>
	<div class="col-md-12 child-breakdown-wrapper">
		<div class="pull-left">
			<img ng-if="viewChildGeneralInfo.Sex == 'M' && viewChild.PhotoUrl.length != 0" class="box-shadow-default" ng-src="{{viewChild.PhotoUrl}}" onerror="this.src = 'images/male.svg'; this.classList.remove('box-shadow-default');" />
			<img ng-if="viewChildGeneralInfo.Sex == 'M' && viewChild.PhotoUrl.length == 0" class="" src="images/male.svg" />


			<img ng-if="viewChildGeneralInfo.Sex == 'F'  && viewChild.PhotoUrl.length != 0" class="box-shadow-default" ng-src="{{viewChild.PhotoUrl}}" onerror="this.src = 'images/female.svg'; this.classList.remove('box-shadow-default');" />
			<img ng-if="viewChildGeneralInfo.Sex == 'F' && viewChild.PhotoUrl.length == 0" class="" src="images/female.svg" />
		</div>
		<div class="pull-left child-name-wrapper col-md-10">
			<div class="name-block col-md-3">
				<h4>First Name</h4>
				<p>{{viewChildGeneralInfo.FirstName}}</p>
			</div>
			<div class="name-block col-md-3">
				<h4>Last Name</h4>
				<p>{{viewChildGeneralInfo.LastName}}</p>
			</div>
			<div class="name-block col-md-3">
				<h4>Middle Name</h4>
				<p>{{viewChildGeneralInfo.MiddleName}}</p>
			</div>
			<div class="date-block col-md-3">
				<h4>Date of Birth</h4>
				<p>{{viewChildGeneralInfo.DOB | date}}</p>
			</div>
		</div>
	</div>
</div>