<div class="outstanding-balance-container white-bg box-shadow-container" >
	<span class="header-border-left"></span>
	<i class="fa fa-usd pull-left"></i>
	<h4 class="pull-left">
		Outstanding Balance
	</h4> 
	<div class="clearfix"></div>
	<div class="center-align">
		<span class="current-balance">
			{{currentCenter.OutstandingBalance | currency}}
		</span> 
		<span class="auto-pay" ng-show="defaultAccount.RecurringAccount != null">
			Auto pay scheduled for {{currentCenter.NextPayDate}}
		</span> 
		<a href="#/billing/invoices">View Details</a>
		<button class="btn btn-primary payment-btn" ng-click="payOutstandingBalance();">
			Make Payment
		</button>
		<a href="#/billing/">View Payment Activity</a>
	</div>
</div>