<div class="pickup-list-contact-breakdown-view lower-section-wrapper">
    <div class="pull-left ul-vertical-nav">
		<ul>
	        <li  data-ng-repeat="pickupContact in pickupList" ng-click="goToPickupContact(pickupContact.ChildPickupId); changeActivePickupContact('pickup-contact-'+[$index+1]);" class="contact-{{$index+1}}" ng-class="{ 'active': activePickupContact == 'pickup-contact-'+[$index+1]}" >
				<div class="pull-left">
					<span class="feed-headline cap">Contact {{$index+1}}</span>
					<span class="feed-headline cap">{{pickupContact.PickupName}}</span>
				</div>
				<div class="pointer pull-right">
				</div>
			</li>
		</ul>
	</div>

	<div class="pickup-list-wrapper feed-breakdown-view" >
		<div class="detail-breakdown" >
			<span class="detail-label">Name</span>
			<span class="detail-value capitalize">{{viewPickupContact.PickupName}}</span>
		</div>
		<div class="detail-breakdown can-pickup" >
			<span class="detail-label">Can Pickup?</span>
			<span class="detail-value" ng-show="viewPickupContact.CanPickup == 1">Yes</span>
			<span class="detail-value" ng-show="viewPickupContact.CanPickup == 0">No</span>
		</div>
		<div class="detail-breakdown longer" >
			<span class="detail-label">Additional Information</span>
			<span class="detail-value">{{viewPickupContact.AdditionalInfo}}</span>
		</div>
	</div>
</div>