<div class="messages-container">
	<h3 class="greeting">Messages</h3>


	<div class="left-feature-container col-md-4 white-bg">
		<i class="glyphicon glyphicon-bullhorn pull-left"></i>
		<h4 class="pull-left">
			{{displayView}}
		</h4> 
		<div class="scroll-wrapper" >
	 		<ul ng-show="displayView == 'messages'">
				<li ng-animate="'animate'" class="repeated-item" data-ng-repeat="announcement in announcements" ng-click="goToMessage(announcement.MessageId)">
					<div class="pull-left">
						<span class="message-date">{{announcement.MessageDate | date}}</span>
						<span class="message-headline">{{announcement.MessageShortDescription}}</span>
					</div>
					<div class="pull-right">
						<a href="">See details</a><i class="fa fa-angle-right"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="middle-feature-container col-md-4 white-bg">
		<div class="messages-breakdown-view" ng-show="showBreakDownView">
			<span class="header-border-left"></span>
			<h4 class="pull-left">
				{{viewMessage.MessageDate | date}}
			</h4> 
			<br class="clearfix" />
			<div class="detail-breakdown">
				<span class="detail-value">{{viewMessage.MessageLongDescription}}</span>
			</div>
			
		</div> 
	</div>

	<div class="right-feature-container col-md-4" ng-include src="'views/dashboard/my-children.html'" ng-controller="DashboardCtrl"></div>
</div>


