footer.footer{
	height: 60px;
	background-color: #0c4d6e;
    color: #bac0c0;
	bottom: 0px;
	left: 0px;
	position: relative;
	width: 100%;
	a{
		color: #bac0c0;
		font-size: 16px;
		&:hover{
			text-decoration: none;
		}
	}
	.footer-container{
		width: 1280px;
  		margin: 0 auto;
		p,div{
			display: inline;
			margin-top: 25px;
			font-size: 16px;
		}

		.reserved-rights{
			width: 100%;
			text-align: center;
		}

		.terms-privacy-container{
			position: absolute;
  			width: 100px;
  			right: 55px;
		}
	}
}