@import "compass/css3/box-shadow";

body.loginPage {
    background-image: url(../images/kiteline_loginBG.jpg);
    background-repeat: no-repeat;
    -moz-background-size: 60%;
    -o-background-size: 60%;
    -webkit-background-size: 60%;
    background-size: 60%;
    position: relative;
    background-color: #4b7eb7;
    .inner-kiteline-content-container{
        width: auto;
        min-height: auto;
        position: relative;
    }
    .container {
        &.kiteline-content {
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 10%;
        }
        &.wider{
            width: 100% ;
            max-width: 100% !important; 
        }
        .disclaimer{
            padding: 15px;
            text-align: left; 
            p{
                width: 345px; 
            }
            h5{
                color: white;
                font-weight: bolder;
                text-transform: none;
            }
        }
    }
}

.mobile-redirect-wrapper{
    background-color: #054769;
    position: absolute;
    height: 125%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.8;
    p#msg{
        width: 100%;
        text-align: center;
        margin-top: 25%;
    }
    p,a:not(.btn), div{
        color: white;
        font-size: 16px;
        margin: 15px auto;
        line-height: 18px;
    }
    .sign-up-login{
        margin-top: 0px;
        font-size: 13px;
        text-align: right;
        margin-right: 7%;
        a{
            font-weight: bold;
            &:first-child{
                margin-left: 80px;
            }
        }
        span{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    a.btn{
        width: 85%;
        margin-bottom: 15px;
        margin-left: 9%;
    }
}

.log-in-wrapper {
    margin-top: 6%;
    text-align: center;
    color: white;
    position: absolute;
    right: 5%;
    &.invalid-sub{
        width: 60%;

        p{
            color: black;
            padding: 25px;
            font-size: 18px;
        }
        a{
            color: #529acd;
            &:hover{
                color: #287194;
            }
        }
    }

    .login-form,
    .forgot-pin-form{
        min-height: 425px;
        margin-top: 15px;
        width: 453px;
        margin-left: -35px;
        background-color: #6f97c5;
        z-index: -1;
        padding: 0px 40px;
        box-shadow: 0px 0px 4px 0px whitesmoke;
    }

    .kiteline-app-buttons-wrapper{
        margin-top: 30px;
        position: relative;
        img{
            margin-top: 10px;
        }
        a{
          margin-right: 15px;  
        }
        .kiteline-app-button{
            width: 55px;
            margin-right: 5px;
            margin-top: 0px;
        }
        span{
            position: absolute;
            width: 200px;
            left: 140px;
            top: -6px;
        }
    }

    .center-contact{
        margin-bottom: 0px;
        color: #064c70;
        text-align: center;
        font-size: 15px;
        a{
            color: #064c70;
        }
    }

    h3 {
        font-family: arial;
        font-weight: lighter;
        font-size: 18px;
        margin: 10px;
        text-align: center;
        color: white;
    }
    a {
        color: white;
        display: inline-block;
        &:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
    }
    form {
        margin-top: 25px;
        &.ng-invalid-email{
            .fa-envelope-o{
                color: white;
            }
        }
    }
    .form-group {
        position: relative;
        label {
            display: none;
        }
    }

    .angucomplete-dropdown{
        width: 371px;
        max-height: 180px;
        overflow: scroll;
        margin-left: 1px;
        .highlight,
        .angucomplete-searching{
           color: #064c70;
           font-weight: bold;
        }
        .angucomplete-row{
            color: #498DB1;
            border-bottom: thin solid #498DB1;
            &.angucomplete-selected-row{
                color: #fff;
                background-color: #498DB1;
                border-color: #498DB1;
            }
        }

    }

    .forgot-pin-link,
    .list-group {
        color: white;
        display: block;
        margin-top: 10px;
    }
    .btn-primary {
        width: 370px;
        margin-top: 15px;
    }
    .fa {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 7px;
        z-index: 1;
        color: #498DB1;
    }
    .ng-invalid.fa,
    .ng-invalid-email.fa {
        color: white;
    }
    .fa-envelope-o {
        font-size: 13px;
        top: 11px;
    }
    .fa-lock {
        font-size: 15px;
        top: 10px;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        @include box-shadow(0, 0, 0, 1000px, white, inset);
        color: #498DB1;
        background-color: white;
        -moz-text-fill-color: #498DB1;
        -webkit-text-fill-color: #498DB1;
        /* needed to overwrite auto complete background used by browsers */
    }
    input.form-control {
        border: solid 1px #498DB1;
        text-indent: 20px;
        font-family: Verdana, Tahoma, sans-serif;
        color: #498DB1;
        background-color: white;
    }
    input.form-control:not(.ng-invalid):focus {
        @include box-shadow(0, 0, 0, 1000px, white, inset);
    }
    input.form-control.ng-invalid-email,
    input.form-control.ng-invalid-pin{
        background-color: #ff6666;
        color: white;
        border-color: red;
    }

    .angucomplete-searching:nth-child(2){
        background-color: #ff6666;
        color: white;
        border-color: red;
        padding: 8px;
        text-transform: uppercase;
        cursor: default;
    }

    input::-webkit-input-placeholder {
        color: #498DB1 !important;
        opacity: 1 !important; /* for chrome */
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: #498DB1 !important;
    }
    input:-ms-input-placeholder {
        color: #498DB1 !important;
    }
    input:-moz-placeholder {
        color: #498DB1 !important;
        /* Firefox 18- */
    }

    .help-block {
        color: red;
        position: absolute;
        top: 2px;
        right: -120px;
        text-shadow: 2px 2px 2px black;
    }
    .preloader {
        float: right;
        margin-right: -25px;
        margin-top: -26px;
    }
    .terms-wrapper {
        margin-top: 15px;
        padding-bottom: 15px;
    }
    .login-link {
        margin-top: 10px;
        display: block;
    }
    .ng-invalid-email {
        .fa.fa-envelope-o:before {}
    }
}