.tos-wrapper, .privacy-wrapper {
    color: black;
}

.tos-wrapper .container,
.privacy-wrapper .container,
.log-in-wrapper .container {
    background: white;
}

.tos-wrapper h1:first-child,
.privacy-wrapper h1:first-child,
h4.effective {
    text-align: center;
}