@import "compass/css3";
@import "compass/utilities";
@import "header";
@import "footer";
@import "login";
@import "tos-privacy";
@import "dashboard/dashboard";
@import "billing/billing";
@import "modal/modal";
@import "forms/forms";

$dark-blue: #287194;
$light-blue: #4e99bd;

html {
    height: 100%;
    body {
        height: 100%;
        padding: 0;
        background: #f6f6f6;
        font-family: concourse_t4regular;
        button{
            .fa{
                font-size: inherit !important;
                color: white !important;
                margin: 0px !important;
            }
        }
        .fa{
            &.fa-cc-amex{
                color: #2489c8;
            }
            &.fa-cc-discover{
                color: orange;
            }
            &.fa-cc-visa{
                color: darkblue;
            }
            &.fa-cc-mastercard{
                color: gold;
            }
        }
        .btn-primary{
            font-size: 16px;
        }
        .header {
            margin-bottom: 5px;
            background-color: #4e99bd;
        }
        //Date-picker wrapper
        .input-group {
            width: 285px;
            p.pull-left{
                display: inline-block;
                margin-right: 9px;
                margin-top: 9px;
                font-size: 16px;
            }
            .datepicker-wrapper{
                float: left;
                width: 171px;
            }
            .input-group-btn{
                top: -3px;
                left: -20px;
                &.in-more{
                    left: -41px;
                }
            }
            .glyphicon.glyphicon-calendar{
                font-size: 14px;
            }
            .historicalStartDate,
            .historicalEndDate{
                height: 34px;
            }
        }
        .table-wrapper {
            height: 250px;
            &.longer{
                height: 515px;
            }
            &.modal-list{
                height: 330px;
            }
        }
        .table{
            box-shadow: 2px 2px 2px 1px rgba(166, 166, 166, 0.5);
            tr:nth-child(even) { background: #FFF; border-color: #FFF; }
            tr:nth-child(odd) { background: whitesmoke;  border-color: whitesmoke; }
        }
        .table > tbody > tr > td{
            padding: 2px;
            vertical-align: middle;
            text-align: center;
            font-size: 16px;
            text-transform: capitalize;
            border: none;
        }
        .table > thead > tr > th{
            background-color: #ccc;
            color: #666;
            text-align: center;
            font-size: 18px;
            border: none;
        }
        div[id*="myCarousel"]{
            button.carousel-control {
                background-color: transparent;
                background-image: none;
                border: none;
                .glyphicon{
                    color: #999;
                }
            }
            .carousel-indicators{
                top: 80px;
                li{
                    border: thin solid #999;
                    &.active{
                        background-color: #999;
                    }
                }
            } 
            .carousel-inner{
                text-align: center;
            }
            .message-date,
            .message-headline{
                text-align: center;
                display: block;
                font-size: 18px;
            }
            .message-date{
                color: #999;
                margin-top: 10px;
            }
        }
    }
}

.inner-kiteline-content-container {
    //height: 100%;
    min-height: 1050px;
    //width: 1280px;
    margin: 0 auto;
}

.ul-vertical-nav{
    width: 28%;
    border-right: 2px solid #ddd;
    ul:not(.pagination){
        height: 555px;
    }
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.clearfix {
    clear: both;
}

.container.kiteline-content {
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.white-bg {
    background-color: #fffff8;
}

.logo {
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    width: 163px;
    height: 26px;
    margin: 20px auto;
}

.kiteline-logo {
    background: url(../images/kiteline-logo.png);
    background-repeat: no-repeat;
    width: 155px;
    height: 43px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.bank-icon{
    background: url(../images/bank-icon.png);
    background-repeat: no-repeat;
    height: 21px;
    width: 34px;
    display: inline-block;
}

h1, h2, h3 {
    color: #287194;
    font-family: concourse_c4regular;
}

.sub-header-wrapper {
    float: left;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    .greeting {
        font-size: 21px;
        margin-top: 25px;
    }
    ul {
        //margin-left: 10%;
        li {
            float: right;
            list-style: none;
            color: #4a90e2;
            margin-right: 3%;
            font-size: 18px;
            p {
                margin-top: 25px;
            }
            img {
                width: 160px;
            }
            .fa, .glyphicon {
                font-size: 28px;
                position: relative;
                left: -2px;
                top: 3px;
            }
            .center-name {
                margin-top: 28px;
                font-size: 21px;
                color: darkgray;
                text-shadow: 1px 1px 1px #ddd;
                text-transform: capitalize;
                span {
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }
}

.left-feature-container {
    border-right: thin solid #ccc;
    .nav > li > a {
        padding: 5px;
    }
    .lower-section-wrapper {
        
        .feed-breakdown-view {
            
        }
        ul {
            li {
                min-height: 110px;
                font-size: 16px !important;
                border-bottom: thin solid #224f77;
                width: 90%;
                .feed-headline {
                    margin-top: 5%;
                    max-width: 82%;
                    font-size: 18px;
                    @extend .ellipsis;
                }
                .pull-left {
                    width: 100%;
                    height: 90px;
                }
                &:hover,
                &.active {
                    position: relative;
                    color: white !important;
                    .pull-left {
                        background-color: #535253 !important;
                    }
                    .feed-date {
                        color: white;
                    }
                    .pointer {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 40px 0 40px 40px;
                        border-color: transparent transparent transparent #535253;
                        position: absolute;
                        right: -15px;
                        top: 10px;
                    }
                }
            }
        }
        
    }
    ul.nav.nav-tabs {
        border-bottom: 1px solid #4e99bd;
        li {
            clear: none;
            cursor: pointer;
            padding-bottom: 0px;
            height: auto;
            margin-left: 2%;
            a {
                background-color: #529acd;
                color: white;
                border: none;
                min-width: 135px;
                text-align: center;
                font-size: 18px;
                text-transform: capitalize;
                &:hover {
                    background-color: #224f77;
                }
                .fa, .glyphicon {
                    font-size: 14px;
                    margin-right: 2%;
                    color: white;
                    &.fa-car,
                    &.glyphicon-user {
                        margin-right: 5%;
                    }
                }
            }
            &.active {
                a {
                    background-color: #224f77;
                }
            }
            &:hover {
                background-color: transparent;
            }
            &.longer {
                width: 175px;
            }
        }
    }
    .child-name-wrapper {
        .name-block,
        .date-block {
            float: left;
            h4 {
                float: none;
                margin-top: 15px;
            }
            p {
                color: #224f77;
                font-size: 18px;
                text-transform: capitalize;
                @extend .ellipsis;
            }
        }
    }
}

//.left-feature-container

.middle-feature-container {
    nav {
        float: right;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 200px;
        ul {
            li {
                float: left;
                clear: none;
                font-size: 14px;
                margin-right: 10px;
                padding: 0px;
                color: #4a90e2;
                height: auto;
                &:hover,
                &.active {
                    background: transparent;
                    color: #999;
                }
            }
        }
    }
    // .edit-button {
    //     float: right;
    //     font-size: 18px;
    //     margin-top: 25px;
    //     margin-right: 5px;
    //     cursor: pointer;
    //     &:hover {
    //         color: #999;
    //     }
    // }
    // .delete-button {
    //     float: right;
    //     font-size: 18px;
    //     color: red;
    //     cursor: pointer;
    //     &:hover {
    //         color: #999;
    //     }
    // }
}

.left-feature-container,
.middle-feature-container {
    @extend .box-shadow-container;
}

.left-feature-container,
.middle-feature-container,
.right-feature-container {
    position: relative;
    &.col-md-4,
    &.col-md-8,
    &.col-md-12 {
        min-height: 935px;
        margin-bottom: 30px;
        .my-children-container-dashboard {
            //height: 70%;
        }
    }
    nav ul li {
        border: none;
    }
    .glyphicon,
    .fa {
        font-size: 24px;
        color: #999;
    }
    .ng-enter {
        -webkit-transition: 1s linear all;
        -moz-transition: 1s linear all;
        -o-transition: 1s linear all;
        transition: 1s linear all;
        opacity: 0;
    }
    /*
     The ng-enter-active and ng-move-active
     are where the transition destination properties
     are set so that the animation knows what to
     animate.
    */
    .ng-enter.ng-enter-active {
        opacity: 1;
    }
    .ng-enter{
        -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
        transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    }
    .ng-enter{
        opacity: 0;
    }
    
    .ng-enter.ng-enter-active {
        opacity: 1;
    }
    hr {
        border-color: #ccc;
        width: 100%;
        margin-bottom: 0px;
    }
    h4 {
        color: #999;
        margin-top: 30px;
        float: left;
        font-family: concourse_t4regular;
        text-transform: capitalize;
        font-size: 22px;
    }
    h4.alt-header {
        color: #287194;
        font-family: concourse_c4regular;
        float: none;
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .back-to-main-view,
    .back-to-sub-view,
    .add-new {
        color: #4a90e2;
        float: none;
        font-family: concourse_t4regular;
        font-size: 18px;
        border-bottom: thin solid #ccc;
        width: 100%;
        display: block;
        padding-bottom: 10px;
        margin-top: 15px;
        cursor: pointer;
        &:hover {
            color: #999;
        }
        .fa-angle-left {
            color: #999;
            font-size: 22px;
            margin-right: 5px;
        }
    }
    .detail-breakdown {
        margin: 12px 0px;
        min-height: 25px;
        display: block;
        width: 49%;
        float: left;
       
        .detail-label {
            font-weight: bold;
            font-size: 18px;
            float: left;
            //width: 38%;
        }
        label {
            font-weight: bold;
            font-size: 18px;
        }
        .detail-header {
            clear: both;
        }
        .detail-value {
            font-size: 18px;
            margin-left: 10px;
            float: left;
            //width: 51%;
            color: #224f77;
            text-transform: capitalize;
            margin-top: 1px;
            &.no-cap {
                text-transform: none;
            }
             &.longer{
                width: 100%;
            }
        }
        .fa-check-circle,
        .good {
            color: green;
        }
        .fa-times-circle,
        .bad {
            color: red;
        }
    }
    a {
        color: #4a90e2;
        font-size: 16px;
        &:hover{
            color: #224F7C;
        }
    }
    ul {
        clear: both;
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            height: 75px;
            clear: both;
            //border-bottom: thin solid #ccc;
            font-size: 18px;
            span {
                display: block;
                margin-left: 15px;
            }
            &:hover {
                cursor: pointer;
                background-color: #f8f8f8;
            }
            &.taller-li {
                height: 90px;
            }
            .fa.fa-angle-right {
                margin-right: 10px;
                margin-top: 5px;
                font-size: 35px;
                color: #ccc;
            }
            div.pull-right {
                a {
                    position: relative;
                    top: -7px;
                    left: -10px;
                    font-size: 16px;
                }
            }
        }
    }
    .header-border-left {
        border-left: #dce6e9 4px solid;
        //margin-left: -15px;
        padding-left: 30px;
        height: 60px;
        display: block;
        position: absolute;
        //top: 15px;
        &.pull-outside {
            margin-left: -15px;
        }
    }
}

.box-shadow-container {
    @include box-shadow(4px 3px 8px 0px rgba(166, 166, 166, 0.5));
}

.box-shadow-default {
    @include box-shadow(2px 2px 2px 0px rgba(166, 166, 166, 0.5));
}

.form-control[readonly] {
    background-color: #fff;
}

/* Scroll Bar fix */
// body {
//     .mCSB_container,
//     .mCustomScrollBox {
//         width: 100% !important;
//     }
//     .mCSB_scrollTools .mCSB_buttonUp,
//     .mCSB_scrollTools .mCSB_buttonDown {
//         background-position: 0 0 !important;
//     }
//     .mCSB_container_wrapper {
//         margin-right: 0px;
//     }
//     .mCSB_container_wrapper > .mCSB_container {
//         padding-right: 10px;
//     }
//     .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
//         position: relative;
//         width: 2px;
//     }
// }
/* Scroll Bar fix */


/* Loader */
body{
    div.spinner{
    left: 0% !important;
    top: 0% !important;
    background-color: #4e99bd;
    width: 100% !important;
    height: 100% !important;
    opacity: 0.7;
        div{
            left: 50% !important;
            top: 45% !important;
            background-color: white !important;
            &:nth-child(1){
                div:after{
                    content: "Loading...";
                    top: 35px;
                    position: relative;
                    right: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: white;
                    text-shadow: 2px 2px 2px #0c4d6e;
                }
            }
        }
    }
}


/* Datepicker */
.datepicker-wrapper{
    a{
        color: #0c4d6e;
    }
    .fa{
        font-size: 16px;
    }
    ._720kb-datepicker-calendar-years-pagination{
        background-color: white;
    }
    ._720kb-datepicker-calendar-years-pagination-pages{
        .fa{
            font-size: 18px;
        }
    }
    ._720kb-datepicker-calendar-header:nth-child(odd),
    ._720kb-datepicker-calendar-years-pagination-pages{
        background-color: #0c4d6e;
        max-height: 50px;
    }
    ._720kb-datepicker-calendar-month {
      color: #fff;
      font-family: concourse_t4regular;
      font-size: 18px;
      font-weight: bold;
      top: 8px;
      position: relative;
      a{
        span{
            font-family: concourse_t4regular;
            font-size: 14px;
            color: white;
        }
      }
    }
    ._720kb-datepicker-calendar-days-header{
        background-color: #ddd;
    }
}

// Pagination
.pagination-wrapper{
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
    &.text-center{
        width: 100%;
    }
    .pagination > li > a, 
    .pagination > li > span {
        padding: 5px 7px;
        color: white;
        background-color: #529acd;
    }
    .pagination > .active > a{
        background-color: #224f77;
        color: white;
    }
}


/* Typography */
@font-face {
    font-family: 'concourse_c4regular';
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_regular-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_regular-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_regular-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_regular-webfont.svg#concourse_c4regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'concourse_c4bold';
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_bold-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_bold-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_bold-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_c4_bold-webfont.svg#concourse_c4bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'concourse_t2regular';
    src: url("../fonts/Concourse/webfontkit-20140324-151540/concourse_t2_regular-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140324-151540/concourse_t2_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140324-151540/concourse_t2_regular-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140324-151540/concourse_t2_regular-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140324-151540/concourse_t2_regular-webfont.svg#concourse_t4regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'concourse_t4regular';
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_regular-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_regular-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_regular-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_regular-webfont.svg#concourse_t4regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'concourse_t4bold';
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_bold-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_bold-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_bold-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t4_bold-webfont.svg#concourse_t4bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'concourse_t6regular';
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t6_regular-webfont.eot");
    src: url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t6_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t6_regular-webfont.woff") format("woff"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t6_regular-webfont.ttf") format("truetype"), url("../fonts/Concourse/webfontkit-20140211-223637/concourse_t6_regular-webfont.svg#concourse_t6regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.rounded-img{
    width: 100px;
    height: 100px !important;
    @include border-radius(50px);
}

.rounded-img-large{
    width: 150px;
    height: 150px !important;
    @include border-radius(75px);
}

.capitalize,
.cap {
    text-transform: capitalize;
}

.forty-percent-width {
    width: 40%;
}

.half-width {
    width: 50%;
}

.red {
    color: red !important;
}

.blue {
    color: #4a90e2 !important;
}

.light-blue {
    color: #529acd !important;
}

.orange{
    color: orange !important;
}

.green{
    color: green !important;
}
.center-align {
    width: 100%;
    text-align: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .left-feature-container{
        &.col-md-4,
        &.col-md-8,
        &.col-md-12 {
            height: auto;
            padding-bottom: 25px;
            .child-name-wrapper{
                width: 80%;
            }
        }
    }
    .billing-container .transactions-breakdown-wrapper .dates-input-wrapper .input-group-addon,
    .billing-container .transactions-breakdown-wrapper .dates-input-wrapper .input-group-addon.end-date{
        left: 12px;
    }
    .dates-input-wrapper .input-wrapper{
        float: none !important;
        &:first-child{
            margin-right: 25px;
        }
    }

    footer.footer {
        position: relative;
    }
    .container.kiteline-content,
    .inner-kiteline-content-container,
    header.header .navbar,
    header.header .navbar-inverse,
    footer.footer .footer-container {
        width: auto;
        height: auto;
    }
    .right-feature-container {
        padding: 0px;
        margin-top: 30px;
    }
    .left-feature-container.col-md-8 {
        min-height: 1055px;
    }
    .navbar .container{
        padding-bottom: 15px;
    }
}