.forms-wrapper{
	margin-top: 30px;
	background-color: white;
	min-height: 800px;
	p{
		font-size: 16px;
		&.forms-info{
			color: #4e99bd;
			font-weight: bold;
			font-size: 16px;
			margin: 30px 0;
			float: left;
		}
	}
	button{
		margin-bottom: 25px;
	}
	.table{
		tr{
			td{
				padding: 0 !important;
				.file-name{
					max-width: 250px;
				    text-align: center;
				    display: inline-block;
				    margin-top: 10px;
    				margin-bottom: 0;
				}
			}
		}
	}
}