.forms-wrapper{
	margin-top: 30px;
	p{
		font-size: 16px;
	}
	button{
		margin-bottom: 25px;
	}
	.table{
		tr{
			td{
				.file-name{
					max-width: 250px;
				    text-align: center;
				    display: inline-block;
				}
			}
		}
	}
}