<div class="daily-activity-feed-container" >
	<h3 class="greeting">Daily Activity Feed</h3>


	<div class="left-feature-container col-md-4 white-bg">
		<i class="fa fa-sun-o pull-left"></i>
		<h4 class="pull-left">
			{{displayView}}
		</h4> 
		<div class="scroll-wrapper" ng-scrollbars ng-scrollbars-config="scrollbarConfig">
			<ul ng-show="displayView == 'daily activity feed'">
		        <li data-ng-repeat="feed in dailyFeed" class="taller-li" ng-click="goToFeed(feed.FeedId)">
					<div class="pull-left">
						<img src="{{feed.ChildPhotoUrl}}" />
					</div>
					<div class="pull-left">
						<span class="feed-headline">{{feed.FeedTitle}}</span>
						<span class="feed-date">{{feed.FeedPostedDate | date}}</span>
						<span class="attachment-count">Attachments: {{feed.FeedAttachments}}</span>
					</div>
					<div class="pull-right">
						<a href="">See details</a><i class="fa fa-angle-right"></i>
					</div>
				</li>
			</ul>		
		</div>
	</div>

	<div class="middle-feature-container col-md-4 white-bg">
		<div class="feed-breakdown-view" ng-show="showBreakDownView">
			<span class="header-border-left"></span>
			<h4 class="pull-left">
				{{viewFeed.FeedPostedDate | date}}
			</h4> 
			<br class="clearfix" />
			<div class="detail-breakdown">
				<span class="detail-value">{{viewFeed.FeedTitle}}</span>
			</div>
			
		</div> 
	</div>

	<div class="right-feature-container col-md-4" ng-include src="'views/dashboard/my-children.html'" ng-controller="DashboardCtrl"></div>
</div>


