	<!-- MESSAGES -->
	<div class="col-md-6 tile messages-wrapper">
		<h4 class="pull-left">
			Messages
		</h4> 
		<div class="clearfix"></div>

		<div ng-show="announcementCount == 0">
			<p class="no-messages">No Messages</p>
		</div>

		<div ng-hide="announcementCount == 0" id="myCarousel-2" class="carousel slide" data-ride="carousel" style="height: 100px;" data-interval="0">
		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements">
			    <span class="message-date">Posted: {{announcement.MessageDate | date}}</span>  	
				<span class="message-headline">{{announcement.MessageShortDescription}}</span>
				<a>View Details</a>
			    </div>
		  </div>
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel-2" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements" data-interval="0"></li>
		  </ol>
		  <button class="left carousel-control" href="#myCarousel-2" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel-2" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		</div>
	</div>