<form class="form-horizontal addBankForm" ng-class="{'valid-routing': matchingRoutingNum, 'invalid-routing': !matchingRoutingNum, 'valid-banking' : matchingBankAccount, 'invalid-banking' : !matchingBankAccount }" name="addBankForm" id="addBankForm" novalidate>
<fieldset>

<!-- Form Name -->
<h5 class="pull-left">Add Bank Account</h5>
<label class="pull-right autofill-address">
    <input type="checkbox" name="useHomeAddress" ng-model="autofillAddressBank" ng-change="autocompleteHomeAddressBank()" ng-true-value="false" ng-false-value="true">{{autofillAddressBank}}
    Autofill Address with saved Address
</label>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="MailingAddress">Billing Address</label>
  <div class="controls">
    <input id="MailingAddress" name="MailingAddress" ng-model="newBankAccount.MailingAddress" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="MailingCity">Billing City</label>
  <div class="controls">
    <input id="MailingCity" name="MailingCity" ng-model="newBankAccount.MailingCity" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="MailingState">Billing State</label>
  <div class="controls relative">


 <select id="MailingStateBank" class="MailingState" ng-model="newBankAccount.MailingState" required="">
      <option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown
">{{option.name}}</option>
    </select>
    <i class="fa fa-caret-down" select-button select-id="MailingStateBank"></i>
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="MailingZip">Billing Zip</label>
  <div class="controls">
    <input id="MailingZip" name="MailingZip" ng-model="newBankAccount.MailingZip" type="text" class="input-xlarge" required="" maxlength="5">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BusinessPhone">Billing Phone</label>
  <div class="controls">
    <input id="BusinessPhone" name="BusinessPhone" ng-model="newBankAccount.BusinessPhone" type="text" class="input-xlarge" required="" mask="(999) 999-9999" clean="true">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="PayerEmail">Email</label>
  <div class="controls">
    <input id="PayerEmail" name="PayerEmail" ng-model="newBankAccount.PayerEmail" type="email" class="input-xlarge">
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="AccountName">Bank Name</label>
  <div class="controls">
    <input id="AccountName" name="AccountName" ng-model="newBankAccount.AccountName" type="text" class="input-xlarge" required="">
    
  </div>
</div>


<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="PayerName">Account Holder's Name</label>
  <div class="controls">
    <input id="PayerName" name="PayerName" ng-model="newBankAccount.PayerName" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Drop Down-->
<div class="control-group col-md-4">
  <label class="control-label" for="bankAcctType">Account Type</label>
  <div class="controls relative" style="margin-top: 10px;">
     <label>
          Checking
          <input type="radio" class="bankAcctType" name="accountType" value="1" ng-model="newBankAccount.AccountTypeId">    
    </label>
    
    <label style="margin-left: 10px;">
          Saving
          <input type="radio" class="bankAcctType" name="accountType" value="2" ng-model="newBankAccount.AccountTypeId">    
    </label>
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="bankAcctNumber">Account Number</label>
  <div class="controls">
    <input id="bankAcctNumber" name="BankAcctNumber" ng-model="newBankAccount.AccountNumber" type="text" class="input-xlarge" required="" ng-change="verifyBanking('Account Number');" ng-paste="$event.preventDefault()" >
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="verifyBankAcctNumber">Verify Account Number</label>
  <div class="controls">
    <input id="verifyBankAcctNumber" name="VerifyBankAcctNumber" ng-model="newBankAccount.VerifyBankAcctNumber" type="text" class="input-xlarge" required="" ng-change="verifyBanking('Account Number');" ng-paste="$event.preventDefault()" >
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="RoutingNumber">Routing Number</label>
  <div class="controls">
    <input id="RoutingNumber" name="RoutingNumber" ng-model="newBankAccount.RoutingNumber" type="text" class="input-xlarge" required="" maxlength="9" ng-change="verifyBanking('Routing Number');" ng-paste="$event.preventDefault()" >
    
  </div>
</div>


<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="verifyRoutingNumber">Verify Routing Number</label>
  <div class="controls">
    <input id="VerifyRoutingNumber" name="VerifyRoutingNumber" ng-model="newBankAccount.VerifyRoutingNumber" type="text" class="input-xlarge" required="" maxlength="9" ng-change="verifyBanking('Routing Number');" ng-paste="$event.preventDefault()" >
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="addCreditCard"></label>
  <div class="controls">
    <button id="addBankAccount" name="addBankAccount" class="btn btn-primary" ng-click="submitNewAccount('Bank', addBankForm);" ><i class="fa fa-plus"></i> 
      Add Bank Account
    </button>
    <button id="cancelCreditCard" name="addCreditCard" class="btn btn-danger" ng-click="resetAccountForm('Bank', addBankForm);" ><i class="fa fa-times"></i> Cancel</button>
  </div>
</div>

</fieldset>
</form>