<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<h4>Add Credit Card Account</h4>
<div class="clearfix"></div>
<!-- Text input-->
<div class="control-group col-md-3">
  <label class="control-label" for="MailingAddress">Billing Address</label>
  <div class="controls">
    <input id="MailingAddress" name="MailingAddress" ng-model="newCC.MailingAddress" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-3">
  <label class="control-label" for="MailingCity">Billing City</label>
  <div class="controls">
    <input id="MailingCity" name="MailingCity" ng-model="newCC.MailingCity" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-3">
  <label class="control-label" for="MailingState">Billing State</label>
  <div class="controls">
    <input id="MailingState" name="MailingState" ng-model="newCC.MailingState" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-3">
  <label class="control-label" for="MailingZip">Billing Zip</label>
  <div class="controls">
    <input id="MailingZip" name="MailingZip" ng-model="newCC.MailingZip" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BusinessPhone">Billing Phone</label>
  <div class="controls">
    <input id="BusinessPhone" name="BusinessPhone" ng-model="newCC.BusinessPhone" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BusinessEmail">Email</label>
  <div class="controls">
    <input id="BusinessEmail" name="BusinessEmail" ng-model="newCC.BusinessEmail" type="text" placeholder="" class="input-xlarge">
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="CardHolderName">Card Holder Name</label>
  <div class="controls">
    <input id="CardHolderName" name="CardHolderName" ng-model="newCC.CardHolderName" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="CardNumber">Card Number</label>
  <div class="controls">
    <input id="CardNumber" name="CardNumber" ng-model="newCC.CardNumber" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="ExpirationDate">Expiration Date</label>
  <div class="controls">
    <input id="ExpirationDate" name="ExpirationDate" ng-model="newCC.ExpirationDate" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="addCreditCard"></label>
  <div class="controls">
    <button id="addCreditCard" name="addCreditCard" class="btn btn-primary">Add Card</button>
  </div>
</div>

</fieldset>
</form>