<div class="billing-container" ng-show="!isLoginPage">

	<div ng-include src="'views/sub-header.html'"></div>

	<div class="left-feature-container col-md-12 white-bg">	
		<ul class="nav nav-tabs billing-tab">
	        <li ng-class="{'active': currentTab == 'Overview'}" ng-click="goToTab('Overview');"><a>Overview</a></li>
	        <li ng-class="{'active': currentTab == 'Transactions'}" ng-click="goToTab('Transactions');"><a>Transactions</a></li>  
	        <li ng-class="{'active': currentTab == 'Invoices'}" ng-click="goToTab('Invoices');"><a>Invoices</a></li>  
	        <li ng-class="{'active': currentTab == 'Payment Accounts'}" ng-click="goToTab('Payment Accounts');"><a>Payment Accounts</a></li>                  
	    </ul>
	    <div class="clearfix"></div>
		<div ng-include src="'views/billing/overview.html'" ng-show="currentTab == 'Overview'" ></div>
		<!-- Overview -->
	    <div ng-include src="'views/billing/transactions.html'" ng-show="currentTab == 'Transactions'"></div><!-- Transactions -->
	    <div ng-include src="'views/billing/invoices.html'" ng-show="currentTab == 'Invoices'"></div>
	    <!-- Invoices -->
	    <div ng-include src="'views/billing/payment-accounts.html'" ng-show="currentTab == 'Payment Accounts'"></div>
	    <!-- Payment Accounts -->

	</div> <!--  Left Feature Container -->
</div> <!--  Invoices container -->


