<div class="col-md-12 invoices-breakdown-wrapper" ng-show="currentTab == 'Invoices'">
    <div class="col-md-6">
    	<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Outstanding Invoices
		</h4> 
		<p class="pull-right">
			Total Payments
			<span class="orange inner-span">$250</span>
		</p>
		<div class="clearfix"></div>
		<span class="pull-right">Auto pay scheduled for July 15 , 2015</span>
		<div class="clearfix"></div>
		<button class="pull-right btn btn-primary" ng-click="payOutstandingInvoice();">Pay Full</button>
          <table class="table">
			    <thead>
			    	<tr>
				        <th>Invoice Date</th>
				        <th>Invoice Due Date</th>
				        <th>Amount Due</th>
				        <th>Download</th>
				        <th></th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-animate="'animate'" data-ng-repeat="invoice in outstandingInvoices  |  orderBy:'InvoiceDate':true" ng-show="$index < 10">
			        <td>
			        	{{invoice.InvoiceDate | date}}
			    	</td>
			    	<td>
			    		{{invoice.DueDate | date}}
			    		
			    	</td>
			        <td>
			        	{{invoice.TotalAmount | currency}}
			        </td>
			        <td><a><i class="fa fa-file-pdf-o"></i></a></td>
			        <td>
			        	<button class="btn btn-primary" ng-click="payInvoice(invoice)">Pay</button>
					</td>
			      	</tr>
			    </tbody>
		    </table>
    </div>
    <div class="col-md-6">
        <i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Historical Invoices
		</h4> 
		<p class="pull-right">
			Total Payments
			<span class="inner-span">$250</span>
		</p>
		<div class="clearfix"></div>
		<div class="row">
		<div class="col-md-5">
	            <div class="input-group">
	            	<p class="pull-left">Start Date</p>
	        	 <datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.historicalStartDate}}" date-format="M/dd/yyyy">
			        <input type="text" ng-model="billDates.historicalStartDate" class="historicalStartDate">
			      </datepicker>

	              <span class="input-group-btn in-more">
	                <button datepicker-button datepicker-parent="historicalStartDate" type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </div>
	        </div>

	        <div class="col-md-5">
	            <div class="input-group">
	            	<p class="pull-left">End Date</p>
	          	 	<datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.historicalEndDate}}" date-format="M/dd/yyyy">
			        <input type="text" ng-model="billDates.historicalEndDate" class="historicalEndDate" >
			      </datepicker>
	              <span class="input-group-btn in-more">
	                <button type="button" class="btn btn-default" datepicker-button datepicker-parent="historicalEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </div>
	        </div>
	        <div class="col-md-1">
	            <div class="input-group">
	                <button type="button" class="btn btn-primary" ng-click="getTransactionsByDate('Historical')">Submit</button>
	            </div>
	        </div>
    </div>
      <table class="table">
		    <thead>
		    	<tr>
			        <th>Invoice Date</th>
			        <th>Status</th>
			        <th>Amount Due</th>
			        <th>Download</th>
		        </tr>
		    </thead>
		    <tbody ng-show="noResultsInvoices">
					<tr><td colspan="7"><span>No Results</span></td></tr>
			</tbody>
		    <tbody ng-hide="noResultsInvoices">
		    	<tr ng-animate="'animate'" data-ng-repeat="transaction in historicalTransactions |  orderBy:'PaymentDate':true" ng-show="$index < 10">
		        <td>
		        	{{transaction.PaymentDate | date}}
		    	</td>
				<td>
		        	{{transaction.PaymentStatus}}
				</td>
		        <td>
		        	{{transaction.Amount | currency}}
		        </td>
		        <td><a><i class="fa fa-file-pdf-o"></i></a></td>

		      	</tr>
		    </tbody>
	    </table>
    </div>
    <div class="clearfix"></div>
</div>