<div class="col-md-12 invoices-breakdown-wrapper" ng-show="currentTab == 'Invoices'">
    <div class="col-md-6">
    	<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Outstanding Invoices
		</h4> 
		<p class="pull-right">
			Total Payments
			<span class="orange inner-span">{{outstandingInvoicesDueTotal | currency}}</span>
		</p>
		<div class="clearfix"></div>
		<!--<span class="pull-right">Auto pay scheduled for July 15 , 2015</span>-->
		<div class="clearfix"></div>
		<button class="pull-right btn btn-primary" ng-click="payOutstandingBalance();">Pay Outstanding Invoice Balance</button>
		<div class="clearfix"></div>
          <div class="table-wrapper longer">
          <table class="table">
			    <thead>
			    	<tr>
				        <th>Invoice Date</th>
				        <th>Due Date</th>
				        <th>Amount Due</th>
				        <th>Billed Total</th>
				        <th>Payments</th>
				        <th>Download</th>
				        <th></th>
			        </tr>
			    </thead>
			   <tbody ng-show="outstandingInvoices.length == 0">
					<tr><td colspan="7"><span>No Current Invoices</span></td></tr>
				</tbody>
			    <tbody>
			    	<tr ng-animate="'animate'" data-ng-repeat="invoice in outstandingInvoices  |  orderBy:'InvoiceDate':true | startFrom: outstandingInvoicesPagination.page * outstandingInvoicesPagination.perPage | limitTo: outstandingInvoicesPagination.perPage">
			        <td>
			        	{{invoice.InvoiceDate | date}}
			    	</td>
			    	<td>
			    		{{invoice.DueDate | date}}
			    		
			    	</td>
			        <td>
			        	{{invoice.DueAmount | currency}}

			        </td>
			         <td>
			        	{{invoice.TotalAmount | currency}}
			        </td>
			        <td><i class="fa fa-list" ng-show="invoice.hasHistory"  ng-click="viewInvoiceHistory(invoice.InvoiceId)"></i></td>
			        <td><i class="fa fa-file-pdf-o" ng-click="reportInvoice(invoice)"></i></td>
			        <td>
			        	<button class="btn btn-primary" ng-click="payInvoice(invoice.InvoiceId, false, invoice.DueAmount)">Pay</button>
					</td>
			      	</tr>
			    </tbody>
		    </table>
			</div>
			<nav class="pagination-wrapper text-center" ng-show="outstandingInvoices.length > 10">
				<ul class="pagination">
					<li>
						<a href="" ng-click="outstandingInvoicesPagination.prevPage()">&laquo;</a>
					</li>
				  	<li ng-repeat="n in [] | range: outstandingInvoicesPagination.numPages" ng-class="{active: n == outstandingInvoicesPagination.page}">
				  		<a href="" ng-click="outstandingInvoicesPagination.toPageId(n)">{{n + 1}}</a>
				  	</li>
				  	<li>
				  		<a href="" ng-click="outstandingInvoicesPagination.nextPage()">&raquo;</a>
				  	</li>
				</ul>
			</nav>
    </div>
    <div class="col-md-6">
        <i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Historical Invoices
		</h4> 
		<p class="pull-right">
			Total Payments
			<span class="inner-span">{{historicalTransactionsTotal | currency}}</span>
		</p>
		<div class="clearfix"></div>
		<div class="row">
		<div class="col-md-5">
	            <div class="input-group">
	            	<p class="pull-left">Start Date</p>
	        	 <datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.historicalStartDate}}" date-format="M/dd/yyyy">
			        <input type="text" ng-model="billDates.historicalStartDate" class="historicalStartDate">
			      </datepicker>

	              <span class="input-group-btn in-more">
	                <button datepicker-button datepicker-parent="historicalStartDate" type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </div>
	        </div>

	        <div class="col-md-5">
	            <div class="input-group">
	            	<p class="pull-left">End Date</p>
	          	 	<datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.historicalEndDate}}" date-format="M/dd/yyyy">
			        <input type="text" ng-model="billDates.historicalEndDate" class="historicalEndDate" >
			      </datepicker>
	              <span class="input-group-btn in-more">
	                <button type="button" class="btn btn-default" datepicker-button datepicker-parent="historicalEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </div>
	        </div>
	        <div class="col-md-1">
	            <div class="input-group">
	                <button type="button" class="btn btn-primary" ng-disabled="billDates.queryingHistorical" ng-click="getTransactionsByDate('Historical'); billDates.queryingHistorical = true;">Submit</button>
	            </div>
	        </div>
    </div>
    <div class="clearfix"></div>
    <div class="table-wrapper longer">
      <table class="table">
		    <thead>
		    	<tr>
			        <th>Invoice Date</th>
			        <th>Invoice Due Date</th>
			        <th>Amount Due</th>
			        <th>Download</th>
		        </tr>
		    </thead>
		    <tbody ng-show="noResultsInvoices">
					<tr><td colspan="7"><span>No Past Invoices from <span class="red">{{billDates.historicalStartDate | date}}</span> to <span class="red">{{billDates.historicalEndDate | date}}</span></span></td></tr>
			</tbody>
		    <tbody ng-hide="noResultsInvoices">
		    	<tr ng-animate="'animate'" data-ng-repeat="transaction in historicalTransactions |  orderBy:'PaymentDate':true | startFrom: historicalTransactionsPagination.page * historicalTransactionsPagination.perPage | limitTo: historicalTransactionsPagination.perPage">
		        <td>
		        	{{transaction.InvoiceDate | date}}
		    	</td>
				<td>
		        	{{transaction.DueDate | date}}
				</td>
		        <td>
		        	{{transaction.TotalAmount | currency}}
		        </td>
		        <td><i class="fa fa-file-pdf-o" ng-click="reportInvoice(transaction)"></i></td>

		      	</tr>
		    </tbody>
	    </table>
		</div>
    	<nav class="pagination-wrapper text-center" ng-show="historicalTransactions.length > 10">
			<ul class="pagination">
				<li>
					<a href="" ng-click="historicalTransactionsPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: historicalTransactionsPagination.numPages" ng-class="{active: n == historicalTransactionsPagination.page}">
			  		<a href="" ng-click="historicalTransactionsPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="historicalTransactionsPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
    </div>
    <div class="clearfix"></div>
</div>