<div class="col-md-12 overview-breakdown-wrapper" ng-show="currentTab == 'Overview'">


	<div class="col-md-4 tuition-rates-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Tuition Rates
		</h4> 
		<div class="clearfix"></div>
	</div>

	<!-- Outstanding Balance -->
	<div class="col-md-4 outstanding-balance-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Outstanding Balance
		</h4> 
		<div class="clearfix"></div>
		<div class="center-align">
			<span class="current-balance">
				{{currentCenter.OutstandingBalance | currency}}
			</span> 
			<span class="auto-pay">
				Auto pay scheduled for July 15 , 2015
			</span>
			<a href="#">View Details</a>
			<button class="btn btn-primary payment-btn">
				Pay With Credit Card
			</button>

		</div>
	</div>

	<!-- PAYMENT ACTVITY -->
	<div class="col-md-4 payment-activity-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Payment Activity
		</h4> 
		<div class="clearfix"></div>

		<div ng-scrollbars ng-scrollbars-config="scrollbarConfig">
			<table class="table">
			    <thead>
			    	<tr>
				        <th>Date</th>
				        <th>Amount</th>
				        <th>Status</th>
				        <th>Payment Type</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-animate="'animate'" data-ng-repeat="payment in pastPayments | limitTo: 5">
			        <td>
			        	{{payment.PaymentDate | date}}
			    	</td>
			    	<td>
			    		{{payment.Amount | currency}}
			    	</td>
			        <td>
			        	<span class="fa fa-check" ng-show="payment.PaymentStatus == 'Processed'"></span> 
						<span class="fa fa-times" ng-show="payment.PaymentStatus != 'Processed'"></span> 
					</td>
			        <td>{{payment.PaymentType}}</td>
			      	</tr>
			    </tbody>
			</table>
		</div>
	</div>

	<!-- MESSAGES -->
	<div class="col-md-4 messages-wrapper">
		<i class="glyphicon glyphicon-bullhorn pull-left"></i>
		<h4 class="pull-left">
			Messages
		</h4> 
		<div class="clearfix"></div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 100px;">
		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements">
			    <span class="message-date">Posted: {{announcement.MessageDate | date}}</span>  	
				<span class="message-headline">{{announcement.MessageShortDescription}}</span>
				<a>View Details</a>
			    </div>
		  </div>
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements"></li>
		  </ol>
		  <button class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		</div>
	</div>


	<div class="col-md-4 auto-pay-wrapper">
		<i class="fa fa-money pull-left"></i>
		<h4 class="pull-left">
			Auto Pay
		</h4> 
		<div class="clearfix"></div>
	</div>
	<div class="col-md-4 tax-statements-wrapper">
		<i class="fa fa-file-pdf-o pull-left"></i>
		<h4 class="pull-left">
			Tax Statement
		</h4> 
		<div class="clearfix"></div>
	</div>


</div>