<div class="overview-breakdown-wrapper">
	<!-- TUITION RATES -->
	<div class="tuition-rates" ng-include src="'views/billing/children-tuition.html'"></div>

	<!-- Outstanding Balance -->
	<div class="outstanding-bal" ng-include src="'views/billing/outstanding-balance.html'"></div>

	<!-- MESSAGES -->
	<div class="messages" ng-include src="'views/billing/messages.html'"></div>

	<!-- PAYMENT ACTVITY -->
	<div class="payment-act" ng-include src="'views/billing/payment-activity.html'"></div>

	<!-- AUTO PAY -->
	<div class="auto-pay" ng-include src="'views/billing/auto-pay.html'"></div>
	
	<!-- TAX STATEMENT -->
	<div class="tax-state" ng-include src="'views/billing/tax-statement.html'"></div>
	<div class="clearfix"></div>
</div>