<div class="col-md-12 overview-breakdown-wrapper" ng-show="currentTab == 'Overview'">
	<!-- TUITION RATES -->
	<div class="col-md-4 tile tuition-rates-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Tuition Rates
		</h4> 
		<div class="clearfix"></div>
		<div id="myCarousel" class="carousel slide my-children-carousel" data-ride="carousel" data-interval="0" style="height: 100px;">

		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}"  data-ng-repeat="child in userChildrenTuition">
			  	<img class="box-shadow-default rounded-img-large" src="{{child.PhotoURL}}" onerror="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDYSw3KB9amgYnaFZ1hTsUwl5kVag7MpoWcBF9IUVH-tEPDOmbPQ'"/>
				<p class="child-name">{{child.FullName}}</p>
				
				<p class="tuition-rate">{{child.ClassName}} - {{child.TuitionAmount | currency}} <span>{{child.RateInterval}}</span></p>
			    </div>
		  </div>
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}"  data-ng-repeat="child in userChildren" data-interval="0"></li>
		  </ol>
		  <button class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		</div>
	</div>

	<!-- Outstanding Balance -->
	<div class="col-md-4 tile outstanding-balance-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Outstanding Balance
		</h4> 
		<div class="clearfix"></div>
		<div class="center-align">
			<span class="current-balance">
				{{currentCenter.OutstandingBalance | currency}}
			</span> 

			<span class="auto-pay" ng-show="defaultAccount.RecurringAccount != null">
				Auto pay scheduled for {{currentCenter.NextPayDate}}
			</span> 
			<a ng-click="goToTab('Invoices');" >View Details</a>
			<button class="btn btn-primary payment-btn" ng-click="payOutstandingBalance()">
				Pay With Credit Card
			</button>

		</div>
	</div>

	<!-- PAYMENT ACTVITY -->
	<div class="col-md-4 tile payment-activity-wrapper">
		<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Payment Activity
		</h4> 
		<div class="clearfix"></div>

		<div>
			<table class="table">
			    <thead>
			    	<tr>
				        <th>Date</th>
				        <th>Amount</th>
				        <th>Status</th>
				        <th>Payment Type</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-animate="'animate'" data-ng-repeat="payment in pastTransactions |  orderBy:'PaymentDate':true" ng-show="$index < 5">
			        <td>
			        	{{payment.PaymentDate | date}}
			    	</td>
			    	<td>
			    		{{payment.Amount | currency}}
			    	</td>
			        <td>
			        	<span class="fa fa-check green" ng-show="payment.PaymentStatus == 'Processed'"></span> 
						<span class="fa fa-times red" ng-show="payment.PaymentStatus != 'Processed'"></span> 
					</td>
			        <td>{{payment.PaymentType}}</td>
			      	</tr>
			    </tbody>
			</table>
		</div>
	</div>

	<!-- MESSAGES -->
	<div class="col-md-4 tile shorter messages-wrapper">
		<i class="glyphicon glyphicon-bullhorn pull-left"></i>
		<h4 class="pull-left">
			Messages
		</h4> 
		<div class="clearfix"></div>

		<div ng-show="announcementCount == 0">
			<p class="no-messages">No Messages</p>
		</div>

		<div ng-hide="announcementCount == 0" id="myCarousel-2" class="carousel slide" data-ride="carousel" style="height: 100px;" data-interval="0">
		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements">
			    <span class="message-date">Posted: {{announcement.MessageDate | date}}</span>  	
				<span class="message-headline">{{announcement.MessageShortDescription}}</span>
				<a>View Details</a>
			    </div>
		  </div>
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel-2" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements" data-interval="0"></li>
		  </ol>
		  <button class="left carousel-control" href="#myCarousel-2" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel-2" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		</div>
	</div>

	<!-- AUTO PAY -->
	<div class="col-md-4 tile shorter auto-pay-wrapper">
		<i class="fa fa-money pull-left"></i>
		<h4 class="pull-left">
			Auto Pay
		</h4> 
		<div class="clearfix"></div>
		<div class="inner-wrapper" ng-show="defaultAccount.AccountTypeDescription">
			<toggle-switch ng-model="defaultAccount.RecurringAccount" class="switch-success auto-pay-toggle-btn pull-left" on-label="On" off-label="Off" on-change="deleteDefaultAccount(defaultAccount)"></toggle-switch>
			<p class="pull-left">BANK ACCOUNT  ENDING<br/>
				IN <span class="red">{{defaultAccount.DisplayNumbers}}</span></p>
				
			<div class="clearfix"></div>
		</div>
		<div class="inner-wrapper" ng-show="defaultAccount.ccnum.length == 4" >
			<toggle-switch ng-model="defaultAccount.RecurringAccount" class="switch-success auto-pay-toggle-btn pull-left" on-label="On" off-label="Off" on-change="deleteDefaultAccount(defaultAccount)"></toggle-switch>
			<p class="pull-left pull-up">
			  <i ng-show="defaultAccount.cctype == 'CC - AMEX'" class="fa fa-cc-amex"></i>
		      <i ng-show="defaultAccount.cctype == 'CC - Discover'" class="fa fa-cc-discover"></i>
		      <i ng-show="defaultAccount.cctype == 'CC - Visa'" class="fa fa-cc-visa"></i>
		      <i ng-show="defaultAccount.cctype == 'CC - Mastercard'" class="fa fa-cc-mastercard"></i>

				CARD ENDING<br/>
				IN <span class="red">{{defaultAccount.ccnum}}</span></p>
			<div class="clearfix"></div>
		</div>
		<div class="inner-wrapper"  ng-show="defaultAccount.RecurringAccount == null">
			<a ng-click="goToTab('Payment Accounts');" >Set default account for auto pay</a>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<!-- TAX STATEMENT -->
	<div class="col-md-4 tile shorter tax-statements-wrapper">
		<i class="fa fa-file-pdf-o pull-left"></i>
		<h4 class="pull-left">
			Tax Statement
		</h4> 
		<div class="clearfix"></div>
		<div id="myCarousel-3" class="carousel slide" data-ride="carousel" style="height: 100px;"data-interval="0">
		  <div class="carousel-inner" role="listbox">
			    <div class="item" ng-class="{'active': $index == 0}" data-ng-repeat="statement in taxStatements" style="margin-top: 30px;">
			    <button class="btn btn-primary" ng-click="getTaxStatement(statement[0])" >{{statement[0]}}</button>
			    <button class="btn btn-primary" ng-click="getTaxStatement(statement[1])">{{statement[1]}}</button>
			    </div>
		  </div>
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel-3" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" data-ng-repeat="announcement in announcements" data-interval="0"></li>
		  </ol>
		  <button class="left carousel-control" href="#myCarousel-3" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </button>
		  <button class="right carousel-control" href="#myCarousel-3" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </button>
		</div>
	</div>


</div>