<form class="form-horizontal payment-CC-Form" name="paymentCCForm"  novalidate>
<fieldset>

<!-- Form Name -->
<h5 class="pull-left">Credit Card Account Info</h5>
<label class="pull-right autofill-address">
    <input type="checkbox" name="useHomeAddress" ng-model="paymentCC.autofillAddressCC" ng-change="autocompleteHomeAddressCCPayment()" ng-true-value="true" ng-false-value="false">
    Autofill Address with saved Address
</label>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BillingAddressPayment">Billing Address</label>
  <div class="controls">
    <input id="BillingAddressPayment" name="BillingAddressPayment" ng-model="paymentCC.BillingAddress" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BillingCityPayment">Billing City</label>
  <div class="controls">
    <input id="BillingCityPayment" name="BillingCityPayment" ng-model="paymentCC.BillingCity" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BillingStateCCPayment">Billing State</label>
  <div class="controls relative">
 <select size="10" id="BillingStateCCPayment" class="BillingState" ng-model="paymentCC.BillingState" required="">
      <option value="{{option.abbreviation}}" data-ng-repeat="option in statesDropDown
" >{{option.name}}</option>
    </select>
    <i class="fa fa-caret-down" select-button select-id="BillingStateCCPayment"></i>
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BillingZipPayment">Billing Zip</label>
  <div class="controls">
    <input id="BillingZipPayment" name="BillingZipPayment" ng-model="paymentCC.BillingZip" type="text" class="input-xlarge" required=""  maxlength="5" numeric-only />
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="BusinessPhonePayment">Billing Phone</label>
  <div class="controls">
    <input id="BusinessPhonePayment" name="BusinessPhonePayment" ng-model="paymentCC.BusinessPhone" type="text" class="input-xlarge" required=""  mask="(999) 999-9999" clean="true">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="PayerEmailPayment">Email</label>
  <div class="controls">
    <input id="PayerEmailPayment" name="PayerEmailPayment" ng-model="paymentCC.PayerEmail" type="email" class="input-xlarge" >
    
  </div>
</div>

<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="CardName">Card Name</label>
  <div class="controls">
    <input id="CardName" name="CardName" ng-model="paymentCC.AccountName" type="text" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="CardHolderName">Card Holder Name</label>
  <div class="controls">
    <input id="PayerName" name="PayerName" ng-model="paymentCC.PayerName" type="text" class="input-xlarge" required="">
    
  </div>
</div>



<div class="clearfix"></div>

<!-- Text input-->
<div class="control-group col-md-4">
  <label class="control-label" for="AccountNumber">Card Number</label>
  <div class="controls">
    <input id="AccountNumber" name="AccountNumber" ng-model="paymentCC.AccountNumber" type="text" class="input-xlarge" required="" cc-number cc-eager-type cc-type="cardType" ng-paste="$event.preventDefault()"  maxlength="16" numbers-only />
    
  </div>
</div>

<div class="control-group col-md-4 expire-dates-wrapper" >
  <label class="control-label" for="ExpirationDate">Expiration Date</label>
  <div class="controls relative expire-month-wrapper" >
    <select id="expireMonth" class="expireMonth"  ng-model="expireDatesPayment.month" cc-exp-month required="">
        <option value="01">01 - Jan</option>
        <option value="02">02 - Feb</option>
        <option value="03">03 - March</option>
        <option value="04">04 - April</option>
        <option value="05">05 - May</option>
        <option value="06">06 - June</option>
        <option value="07">07 - July</option>
        <option value="08">08 - Aug</option>
        <option value="09">09 - Sept</option>
        <option value="10">10 - Oct</option>
        <option value="11">11 - Nov</option>
        <option value="12">12 - Dec</option>
    </select>
    <i class="fa fa-caret-down" select-button select-id="expireMonth"></i>
  </div>

  <div class="controls relative expire-year-wrapper" >
    <select id="expireYear" class="expireYear"  ng-model="expireDatesPayment.year" cc-exp-year required="">
          <option value="14">2014</option>
          <option value="15">2015</option>
          <option value="16">2016</option>
          <option value="17">2017</option>
          <option value="18">2018</option>
          <option value="19">2019</option>
          <option value="20">2020</option>
          <option value="21">2021</option>
          <option value="22">2022</option>
          <option value="23">2023</option>
          <option value="24">2024</option>
          <option value="25">2025</option>
    </select>
    <i class="fa fa-caret-down" select-button select-id="expireYear"></i>
  </div>
</div>

<!-- Text input-->
<div class="control-group col-md-2 cvv">
  <label class="control-label" for="CVV">CVV</label>
  <div class="controls">
    <input id="CVV" name="CVV" ng-model="paymentCC.CVV" type="text" class="input-xlarge" required="" cc-cvc numeric-only >
    
  </div>
</div>
<!-- Drop Down-->
<div class="control-group col-md-3 hide">
  <label class="control-label" for="ccType">Account Type</label>
  <div class="controls">
      <span class="pull-left cc-type">{{addCCForm.AccountNumber.$ccType}}</span>

      <i ng-show="paymentCCForm.AccountNumber.$ccType == 'American Express'" class="fa fa-cc-amex"></i>
      <i ng-show="paymentCCForm.AccountNumber.$ccType == 'Discover'" class="fa fa-cc-discover"></i>
      <i ng-show="paymentCCForm.AccountNumber.$ccType == 'Visa'" class="fa fa-cc-visa"></i>
      <i ng-show="paymentCCForm.AccountNumber.$ccType == 'MasterCard'" class="fa fa-cc-mastercard"></i>
  </div>
</div>

<div class="clearfix"></div>

<div class="control-group margin-left-15">
  <label class="">
      <input type="checkbox" name="saveAccount" ng-model="paymentCC.saveAccount"  ng-true-value="true" ng-false-value="false" >
      Save Credit Card
  </label>
</div>

<!-- Button -->
<div class="control-group margin-left-15">
  <label class="control-label" for="addCreditCard"></label>
  <div class="controls">
    <button ng-show="paymentCC.saveAccount" id="addCreditCard" name="addCreditCard" class="btn btn-primary" ng-click="submitNewAccount('CC Payment', paymentCCForm); currentCardType(paymentCCForm.AccountNumber.$ccType);  processPayment();" ng-disabled="processingPayment || paymentGreaterThanAmount" >
      Pay New Credit Card</button> 

 <button ng-show="!paymentCC.saveAccount" id="addCreditCard" name="addCreditCard" class="btn btn-primary" ng-click="currentCardType(paymentCCForm.AccountNumber.$ccType); processPayment();" ng-disabled="processingPayment || paymentGreaterThanAmount" >
      Pay New Credit Card</button> 

    <button id="cancelCreditCard" name="cancelCreditCard" class="btn btn-danger" ng-click="resetAccountForm('CC Payment', paymentCCForm);" ><i class="fa fa-times"></i> Cancel</button>
  </div>
</div>

</fieldset>
</form>