<div class="col-md-12 payment-accounts-breakdown-wrapper" ng-show="currentTab == 'Payment Accounts'">
	<div class="col-md-6">
    	<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Bank Accounts
		</h4> 
		<p class="pull-right auto-pay-para">
			Auto pay
			<toggle-switch ng-model="bank_auto_pay" class="switch-success auto-pay-toggle-btn" on-label="On" off-label="Off"></toggle-switch>
		</p>
		<div class="clearfix"></div>
		<button class="pull-left btn btn-primary" ng-click="addAccount('Bank')">Add New</button>
		<div class="clearfix"></div>
		
          <table class="table" ng-hide="addBankAccount">
			    <thead>
			    	<tr>
				        <th>Payer Name</th>
				        <th>Bank Name</th>
				        <th>Last Four</th>
				        <th>Default</th>
				        <th></th>
			        </tr>
			    </thead>
			    <tbody>
				    <tr ng-animate="'animate'" data-ng-repeat="account in bankAccounts | limitTo: 5">
				<td>
					{{account.PayerName}}
				</td>
				<td>
					{{account.BankName}}
				</td>
				<td>
					{{account.DisplayNumbers}}
				</td>
				<td>{{account.AccountTypeDescription}}</td>
				</tr>
			    </tbody>
		    </table>

		    <div ng-include src="'views/billing/addBankForm.html'" ng-show="addBankAccount" ></div>


    </div>
    <div class="col-md-6">
        <i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Credit Card Accounts
		</h4> 
		<p class="pull-right auto-pay-para">
			Auto pay
			<toggle-switch ng-model="credit_card_auto_pay" class="switch-success auto-pay-toggle-btn" on-label="On" off-label="Off"></toggle-switch>
		</p>
		<div class="clearfix"></div>
		<button class="pull-left btn btn-primary" ng-click="addAccount('CC')">Add New</button>
		<div class="clearfix"></div>
          <table class="table" ng-hide="addCreditCard">
			    <thead>
			    	<tr>
				        <th>Payer Name</th>
				        <th>Card Name</th>
				        <th>Last Four</th>
				        <th>Default</th>
				        <th></th>
			        </tr>
			    </thead>
			    <tbody>
				    <tr ng-animate="'animate'" data-ng-repeat="account in creditCardAccounts | limitTo: 5">
						<td>
							{{account.PayerName}}
						</td>
						<td>
							{{account.AccountTypeDescription}}
						</td>
						<td>					
							{{account.DisplayNumbers}}
						</td>
						<td>
							{{account.StatusFlag}}
						</td>
						<td>
							
						</td>
					</tr>
			    </tbody>
		    </table>
		    <div ng-include src="'views/billing/addCCForm.html'" ng-show="addCreditCard" ></div>
    </div>
    <div class="clearfix"></div>
</div>