<div class="col-md-12 payment-accounts-breakdown-wrapper" ng-show="currentTab == 'Payment Accounts'">
	<div class="col-md-6">
    	<i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Bank Accounts
		</h4> 
		<!--<p class="pull-right auto-pay-para">
			Auto pay
			<toggle-switch ng-model="bank_auto_pay" class="switch-success auto-pay-toggle-btn" on-label="On" off-label="Off"></toggle-switch>
		</p>-->
		<div class="clearfix"></div>
		<button class="pull-left btn btn-primary" ng-click="addAccount('Bank')"><i class="fa fa-plus"></i>  Add New</button>
		<div class="clearfix"></div>
		<div class="table-wrapper shorter" ng-hide="addBankAccount">
          <table class="table" >
			    <thead>
			    	<tr>
				        <th>Payer Name</th>
				        <th>Bank Name</th>
				        <th>Last Four</th>
				        <th>Acct Type</th>
				        <th>Default</th>
				        <th></th>
			        </tr>
			    </thead>
			    <tbody>
			    <tr ng-show="bankAccounts.length == 0"><td colspan="7"><span>No Bank Accounts</span></td></tr>
				<tr data-ng-repeat="account in bankAccounts | startFrom: bankAccountsPagination.page * bankAccountsPagination.perPage | limitTo: bankAccountsPagination.perPage" >

				<td>
					{{account.PayerName}}
				</td>
				<td>
					{{account.BankName}}
				</td>
				<td>
					{{account.DisplayNumbers}}
				</td>
				<td>{{account.AccountTypeDescription}}</td>
				<td>
					<toggle-switch ng-model="account.RecurringAccount" ng-change="setDefaultBankAccount(account);" class="switch-success auto-pay-toggle-btn" on-label="Yes" off-label="No"></toggle-switch>
				</td>
				<td>
					<a title="Delete Account">
						<i class="fa fa-trash red"  
						  mwl-confirm
						  message="Confirm Delete"
						  confirm-text="Delete"
						  cancel-text="Cancel"
						  placement="top"
						  on-confirm="deleteBankAccount(account.AccountId)"
						  on-cancel=""
						  confirm-button-type="primary"
						  cancel-button-type="danger"></i>
					</a>
				</td>
				</tr>
			    </tbody>
		    </table>
		</div>
			    <nav class="pagination-wrapper text-center" ng-hide="addBankAccount || bankAccounts.length < 6">
					<ul class="pagination">
						<li>
							<a href="" ng-click="bankAccountsPagination.prevPage()">&laquo;</a>
						</li>
					  	<li ng-repeat="n in [] | range: bankAccountsPagination.numPages" ng-class="{active: n == bankAccountsPagination.page}">
					  		<a href="" ng-click="bankAccountsPagination.toPageId(n)">{{n + 1}}</a>
					  	</li>
					  	<li>
					  		<a href="" ng-click="bankAccountsPagination.nextPage()">&raquo;</a>
					  	</li>
					</ul>
				</nav>

		    <div ng-include src="'views/billing/addBankForm.html'" ng-show="addBankAccount" ></div>


    </div>
    <div class="col-md-6">
        <i class="fa fa-usd pull-left"></i>
		<h4 class="pull-left">
			Credit Card Accounts
		</h4> 
		<!--<p class="pull-right auto-pay-para">
			Auto pay
			<toggle-switch ng-model="credit_card_auto_pay" class="switch-success auto-pay-toggle-btn" on-label="On" off-label="Off"></toggle-switch> 
		</p>-->
		<div class="clearfix"></div>
		<button class="pull-left btn btn-primary" ng-click="addAccount('CC')"><i class="fa fa-plus"></i>  Add New</button>
		<div class="clearfix"></div>
		<div class="table-wrapper shorter" ng-hide="addCreditCard">
          <table class="table" >
			    <thead>
			    	<tr>
				        <th>Payer Name</th>
				        <th>Type</th>
				        <th>Last Four</th>
				        <th>Status</th>
				        <th>Default</th>
				        <th></th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr ng-show="creditCardAccounts.length == 0"><td colspan="7"><span>No Credit Card Accounts</span></td></tr>
				    <tr data-ng-repeat="account in creditCardAccounts | startFrom: creditCardAccountsPagination.page * creditCardAccountsPagination.perPage | limitTo: creditCardAccountsPagination.perPage" >
						<td>
							{{account.CardHoldersName}}
						</td>
						<td>
							  <i ng-show="account.cctype == 'CC - AMEX'" class="fa fa-cc-amex"></i>
						      <i ng-show="account.cctype == 'CC - Discover'" class="fa fa-cc-discover"></i>
						      <i ng-show="account.cctype == 'CC - Visa'" class="fa fa-cc-visa"></i>
						      <i ng-show="account.cctype == 'CC - Mastercard'" class="fa fa-cc-mastercard"></i>
						</td>
						<td>					
							{{account.ccnum}}
						</td>
						<td>
							<span class="green" ng-show="checkExp(account.expiration) == 'Valid'">{{checkExp(account.expiration)}}</span>
							<span class="red" ng-show="checkExp(account.expiration) == 'Expired'">{{checkExp(account.expiration)}}</span>
						</td>
						<td> 
							<toggle-switch ng-hide="checkExp(account.expiration) == 'Expired'" ng-model="account.RecurringAccount" on-change="setDefaultCCAccount(account);" class="switch-success auto-pay-toggle-btn" on-label="On" off-label="Off"></toggle-switch>
						</td>
						<td>
							<a title="Delete Account">
								<i class="fa fa-trash red"  
								  mwl-confirm
								  message="Confirm Delete"
								  confirm-text="Delete"
								  cancel-text="Cancel"
								  placement="top"
								  on-confirm="deleteCreditCardAccount(account.AccountId)"
								  on-cancel=""
								  confirm-button-type="primary"
								  cancel-button-type="danger"></i>
							</a>
						</td>
					</tr>
			    </tbody>
		    </table>
			</div>
		    <nav class="pagination-wrapper text-center" ng-hide="addCreditCard || creditCardAccounts.length < 6"  >
				<ul class="pagination">
					<li>
						<a href="" ng-click="creditCardAccountsPagination.prevPage()">&laquo;</a>
					</li>
				  	<li ng-repeat="n in [] | range: creditCardAccountsPagination.numPages" ng-class="{active: n == creditCardAccountsPagination.page}">
				  		<a href="" ng-click="creditCardAccountsPagination.toPageId(n)">{{n + 1}}</a>
				  	</li>
				  	<li>
				  		<a href="" ng-click="creditCardAccountsPagination.nextPage()">&raquo;</a>
				  	</li>
				</ul>
			</nav>
		    <div ng-include src="'views/billing/addCCForm.html'" ng-show="addCreditCard" ></div>
    </div>
    <div class="clearfix"></div>
</div>