<div class="col-md-12 transactions-breakdown-wrapper" ng-show="currentTab == 'Transactions'">
	<div class="dates-input-wrapper col-md-12">
	<div class="row">
        <div class="col-md-3">
            <div class="input-group">
            	<p class="pull-left">Start Date</p>
        	 <datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.transactionStartDate}}" date-format="M/dd/yyyy">
		        <input type="text" ng-model="billDates.transactionStartDate" class="transactionStartDate">
		      </datepicker>

              <span class="input-group-btn">
                <button datepicker-button datepicker-parent="transactionStartDate" type="button" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group">
            	<p class="pull-left">End Date</p>
          	 	<datepicker class="datepicker-wrapper" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-set="{{billDates.transactionEndDate}}" date-format="M/dd/yyyy">
		        <input type="text" ng-model="billDates.transactionEndDate" class="transactionEndDate" >
		      </datepicker>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" datepicker-button datepicker-parent="transactionEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <button type="button" class="btn btn-primary" ng-disabled="billDates.querying" ng-click="getTransactionsByDate(); billDates.querying = true;">Submit</button>
            </div>
        </div>
    </div>
		<div class="clearfix"></div>
	</div>
	<div class="transactions-table-wrapper col-md-12">
		<div class="table-wrapper">
			<table class="table">
				    <thead>
				    	<tr>
					        <th>
					        	Transaction Date
					        	<span class="pull-right trans-payment-date">
						      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'PaymentDate' && reverse == false}" ng-click="sortByFunc('PaymentDate',false);"></i>
						      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'PaymentDate' && reverse == true}" ng-click="sortByFunc('PaymentDate',true);"></i>
						      	</span>
						      	<div class="clearfix"></div>
					        </th>
					        <th>
					        	Payer
					        	<span class="pull-right payer">
						      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'PayerName' && reverse == false}" ng-click="sortByFunc('PayerName',false);"></i>
						      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'PayerName' && reverse == true}" ng-click="sortByFunc('PayerName',true);"></i>
						      	</span>
						      	<div class="clearfix"></div>
					        </th>
					        <th>
					        	Amount
					        	<span class="pull-right transaction-amount">
						      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'Amount' && reverse == false}" ng-click="sortByFunc('Amount',false);"></i>
						      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'Amount' && reverse == true}" ng-click="sortByFunc('Amount',true);"></i>
						      	</span>
						      	<div class="clearfix"></div>
					        </th>
					        <th>
					        	Type
					        	<span class="pull-right type">
						      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'PaymentType' && reverse == false}" ng-click="sortByFunc('PaymentType',false);"></i>
						      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'PaymentType' && reverse == true}" ng-click="sortByFunc('PaymentType',true);"></i>
						      	</span>
						      	<div class="clearfix"></div>
					        </th>
					        <th>
					        	View Bill
					        	<span class="pull-right">
						      		<i class="fa fa-caret-up dead"></i>
						      		<i class="fa fa-caret-down dead"></i>
						      	</span>
					        </th>
					        <th>
					        	E-mail
					        	<span class="pull-right">
						      		<i class="fa fa-caret-up dead"></i>
						      		<i class="fa fa-caret-down dead"></i>
						      	</span>
					        </th>
					        <th>
					        	Status
					        	<span class="pull-right status">
						      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'PaymentStatus' && reverse == false}" ng-click="sortByFunc('PaymentStatus',false);"></i>
						      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'PaymentStatus' && reverse == true}" ng-click="sortByFunc('PaymentStatus',true);"></i>
						      	</span>
						      	<div class="clearfix"></div>
					        </th>
				        </tr>
				    </thead>
				    <tbody ng-show="pastTransactions.length == 0">
						<tr ng-animate="'animate'" ><td colspan="7"><span>No Past Transactions</span></td></tr>
				    </tbody>			    
				    <tbody ng-hide="noResults">
				    	<tr ng-animate="'animate'" data-ng-repeat="payment in pastTransactions |  orderBy:sortOrderBy:reverse | startFrom: pastTransactionsPagination.page * pastTransactionsPagination.perPage | limitTo: pastTransactionsPagination.perPage" >
				        <td>
				        	{{payment.PaymentDate | date}}
				    	</td>
				    	<td>
				    		{{payment.PayerName}}
				    	</td>
				    	<td>
				    		{{payment.Amount | currency}}
				    	</td>
				        <td>
				        	{{payment.PaymentType}}
				        </td>
				        <td><i class="fa fa-file-pdf-o" ng-click="reportPayment(payment)"></i></td>
				        <td><a ng-click="emailInvoiceToUser(payment)"><i ng-hide="payment.sendingEmail" class="fa fa-envelope-o"></i><i ng-show="payment.sendingEmail" class="fa fa-paper-plane"></i></a></td>
				        <td>
				        	<span class="fa fa-check green" ng-show="payment.PaymentStatus == 'Processed'"></span> 
							<span class="fa fa-times red" ng-show="payment.PaymentStatus != 'Processed'"></span> 
						</td>
				      	</tr>
				    </tbody>
			</table>
		</div>

		<nav class="pagination-wrapper text-center" ng-show="pastTransactions.length > 10">
			<ul class="pagination">
				<li>
					<a href="" ng-click="pastTransactionsPagination.prevPage()">&laquo;</a>
				</li>
			  	<li ng-repeat="n in [] | range: pastTransactionsPagination.numPages" ng-class="{active: n == pastTransactionsPagination.page}">
			  		<a href="" ng-click="pastTransactionsPagination.toPageId(n)">{{n + 1}}</a>
			  	</li>
			  	<li>
			  		<a href="" ng-click="pastTransactionsPagination.nextPage()">&raquo;</a>
			  	</li>
			</ul>
		</nav>
	</div>

</div>