<div class="forms-wrapper col-md-12">
	<p class="forms-info">
		The following forms & documents can be used by parents in their parent portal.
	</p>
	<div class="clearfix"></div> 
	<div class="table-wrapper longer">
		<table class="table">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Description</th>
					<th>Last Updated</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="currentCenterFiles.length == 0"><td colspan="5"><span>No Files</span></td></tr>
				<tr  data-ng-repeat="file in currentCenterFiles | startFrom: currentCenterFilesPagination.page * currentCenterFilesPagination.perPage | limitTo: currentCenterFilesPagination.perPage">
					<td><p class="file-name ellipsis">{{file.FileName}}</p></td>
					<td>{{file.Description}}</td>
					<td>{{file.EditedOn | date}}</td>
					<td>
						<a href="{{file.FileURL}}" target="_blank" download>
							<i class="fa fa-download blue"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<nav class="pagination-wrapper text-center" ng-show="currentCenterFiles.length > 5">
		<span>
			{{(currentCenterFilesPagination.page * currentCenterFilesPagination.perPage)+1}}
		</span>
		-
		<span ng-hide="((currentCenterFilesPagination.page+1) * currentCenterFilesPagination.perPage) >  currentCenterFilesPagination.perPage">
			{{((currentCenterFilesPagination.page+1) * currentCenterFilesPagination.perPage)}}
		</span>
		<span ng-if="((currentCenterFilesPagination.page+1) * currentCenterFilesPagination.perPage) >  currentCenterFilesPagination.perPage">
			{{((currentCenterFiles.length - ((currentCenterFilesPagination.page * currentCenterFilesPagination.perPage)+1))) + ((currentCenterFilesPagination.page * currentCenterFilesPagination.perPage)+1)}}
		</span>

		<span> of {{currentCenterFiles.length}}</span>

		<ul class="pagination">
		  	<li class="ng-hide" ng-repeat="n in [] | range: currentCenterFilesPagination.numPages" ng-class="{active: n == currentCenterFilesPagination.page}">
		  		<a href="" ng-click="currentCenterFilesPagination.toPageId(n);">{{n + 1}}</a>
		  	</li>
		  	<li class="prev-next-wrapper">
		  		<a class="prev" ng-click="currentCenterFilesPagination.prevPage()">
					<i class="fa fa-caret-left"></i>
				</a>
				<a class="next" ng-click="currentCenterFilesPagination.nextPage()">
					<i class="fa fa-caret-right"></i>
				</a>
		  	</li>
		</ul>
	</nav>
</div>