<div class="overlay-container outstanding-balance"  ng-hide="paymentMSG">
 	<section class="overlay-right-col">
 		<h3>
 			Payment Amount Due: 
 			<span class="orange">{{currentCenter.OutstandingBalance | currency}}</span>
 		</h3>

 		<h3 class="margin-top-0">
 			Pay Amount: <input id="payment-amount" class="payment-amount" ng-model="paymentAmount" name="paymentAmount" type="text" />
 			
 		</h3>

		<div class="clearfix"></div>

		<div ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0" class="payment-wrapper">
			 <!-- CC dropdown -->
			<div class="control-group"  ng-include src="'views/common/cc-dropdown.html'"></div>
		</div>

		<div ng-show="addCreditCardFromModal || creditCardAccounts.length == 0" class="add-credit-card-wrapper">
			<div class="control-group pay-cc-wrapper" ng-include src="'views/billing/payCCForm.html'"></div>
		</div>

		</div>

	</section>
	<section ng-show="paymentMSG">
		<div class="paymentMSG" ng-bind-html="paymentMSG"></div>
	</section>
<div>