<div class="overlay-container outstanding-balance"  ng-hide="paymentMSG">
 	<section class="overlay-right-col">
 		<h3>
 			Payment Amount Due: 
 			<span class="orange" ng-hide="viewInvoiceArrayTotal != 0">{{viewInvoice.Amount | currency}}</span>
 			<span class="orange" ng-hide="viewInvoiceArrayTotal == 0">{{viewInvoiceArrayTotal | currency}}</span>
 			<span class="pull-right">{{viewInvoice.CreatedOn | date}}</span>
 		</h3>

 		<h3 class="margin-top-0">
 			Pay Amount: <input id="payment-amount" class="payment-amount" ng-model="paymentAmount" name="paymentAmount" type="text" />
 		</h3>

		<div class="clearfix"></div>

		<div class="invoice-cycle-wrapper" ng-show="outstandingInvoices.length > 1">
		 	<ul>
		 		<li class="pull-left" ng-show="previousInvoice">
				 	<a href="" data-ng-click="payInvoice(previousInvoice, true)">
				 		<i class="fa fa-arrow-left "></i> 
				 		<span class="prev">
				 			Previous Invoice
				 		</span>
				 	</a>
				 </li>
		 		<li class="pull-right" ng-show="nextInvoice">
				 	<a href="" data-ng-click="payInvoice(nextInvoice, true)">
				 		<span class="next">
				 			Next Invoice 
				 		</span>
				 		<i class="fa fa-arrow-right "></i>
				 	</a>
				 </li>
			</ul>
		 </div>

		 <div class="clearfix"></div>

		<div ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0" class="payment-wrapper">

			<div class="control-group">
				 <div data-ng-repeat="invoice in viewInvoiceArray" class="pull-left invoice-break-down" ng-hide="viewInvoiceArrayTotal == 0">
			 	<span>{{invoice.ChildName}}</span> 
			 	<div class="clearfix"></div>
			 	<span>{{invoice.ItemTypeName}} -  <span class="orange">{{invoice.Amount | currency}} </span> {{invoice.CreatedOn | date}}</span>
			 	</div>
			 	<div class="invoice-break-down" ng-hide="viewInvoiceArrayTotal != 0">
			 		<span>{{viewInvoice.ChildName}}</span> 
				 	<div class="clearfix"></div>
				 	<span>{{viewInvoice.ItemTypeName}} -  <span class="orange">{{viewInvoice.Amount | currency}} </span> {{viewInvoice.CreatedOn | date}}</span>
		 		</div>
			</div>

			 <div class="clearfix"></div>
			 <!-- CC dropdown -->
			<div class="control-group"  ng-include src="'views/common/cc-dropdown.html'"></div>
		</div>

		<div ng-show="addCreditCardFromModal || creditCardAccounts.length == 0" class="add-credit-card-wrapper">
			<div class="control-group pay-cc-wrapper"  ng-include src="'views/billing/payCCForm.html'"></div>
		</div>

		</div>

	</section>
	<section ng-show="paymentMSG">
		<div class="paymentMSG" ng-bind-html="paymentMSG"></div>
	</section>
<div>