<div class="overlay-container outstanding-balance">
 	<section class="overlay-right-col"  ng-hide="paymentMSG">

 		<div class="pull-left">
	 		<h3>Payment Amount Due</h3>
	 		<img src="images/icon-poll-220x220@2x.png" class="pull-left payment-amount-graph"> 
			<h3 class="orange outstandingInvoicesDueTotal">{{viewInvoice.DueAmount | currency}}</h3>
 			<span class="pull-right hide">{{viewInvoice.CreatedOn | date}}</span>
		</div>
		<div class="pull-left pay-this-amount-wrapper">
	 		<h3>
	 			Pay This Amount <input id="payment-amount" class="payment-amount" ng-class="{'ng-error-input': paymentGreaterThanAmount}" ng-model="paymentAmount" name="paymentAmount" type="text" ng-blur="checkPaymentAmount(true); makeFloat();" ng-change="checkPaymentAmount(true)"/>
 				<em class="red" ng-show="paymentGreaterThanAmount">Payment can not exceed Payment Amount due</em>
	 		</h3>
 		</div>

		<div class="clearfix"></div>

		<div class="invoice-cycle-wrapper hide" ng-show="outstandingInvoices.length > 1">
		 	<ul>
		 		<li class="pull-left" ng-show="previousInvoice">
				 	<a href="" data-ng-click="payInvoice(previousInvoice, true, viewInvoiceTotal)">
				 		<i class="fa fa-arrow-left "></i> 
				 		<span class="prev">
				 			Previous Invoice
				 		</span>
				 	</a>
				 </li>
		 		<li class="pull-right" ng-show="nextInvoice">
				 	<a href="" data-ng-click="payInvoice(nextInvoice, true, viewInvoiceTotal)">
				 		<span class="next">
				 			Next Invoice 
				 		</span>
				 		<i class="fa fa-arrow-right "></i>
				 	</a>
				 </li>
			</ul>
		 </div>

		 <div class="clearfix"></div>

		<div ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0" class="payment-wrapper">

			<div class="control-group">
				<h3 class="margin-top-0" ng-hide="viewInvoiceTotal == 0">Invoice Breakdown</h3>
				 <div data-ng-repeat="invoice in viewInvoiceArray" class="pull-left invoice-break-down" ng-hide="viewInvoiceTotal == 0">
			 	<span>{{invoice.ChildName}}</span> 
			 	<div class="clearfix"></div>
			 	<span>{{invoice.ItemTypeName}} -  <span class="orange">{{invoice.Amount | currency}} </span> {{invoice.CreatedOn | date}}</span>
			 	</div>
			 	<div class="invoice-break-down" ng-hide="viewInvoiceTotal != 0">
			 		<span>{{viewInvoice.ChildName}}</span> 
				 	<div class="clearfix"></div>
				 	<span>{{viewInvoice.ItemTypeName}} -  <span class="orange">{{viewInvoice.Amount | currency}} </span> {{viewInvoice.CreatedOn | date}}</span>
		 		</div>
			</div>

			 <div class="clearfix"></div>
			 <!-- CC dropdown -->
			<div class="control-group"  ng-include src="'views/common/cc-dropdown.html'"></div>
		</div>

		<div ng-show="addCreditCardFromModal || creditCardAccounts.length == 0" class="add-credit-card-wrapper">
			<div class="control-group pay-cc-wrapper"  ng-include src="'views/billing/payCCForm.html'"></div>
		</div>

	</section>
<div>
<section ng-show="paymentMSG" >
	<div class="paymentMSG" ng-bind-html="paymentMSG"></div>
</section>