<div class="overlay-container">
 	<section class="overlay-right-col">
 		<h3>Payment Amount Due: <span class="orange">{{outstandingInvoicesTotal | currency}}</span></h3>
 		 <a class="btn btn-primary new-credit-card" ng-click="addAccountModal()" ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0">
			<!-- <i class="fa fa-plus"></i> -->
			 Pay With New Credit Card
 		</a>

		<div class="clearfix"></div>

		<div ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0" class="payment-wrapper">
			 <!-- CC dropdown -->
			<div class="control-group col-md-6"  ng-include src="'views/common/cc-dropdown.html'"></div>
		</div>

		<div ng-show="addCreditCardFromModal || creditCardAccounts.length == 0" class="add-credit-card-wrapper">
		<div class="control-group col-md-6"  ng-include src="'views/billing/payCCForm.html'"></div>
	</div>

		<div class="control-group col-md-2"  ng-hide="addCreditCardFromModal">
			<button class="btn btn-primary pull-right" ng-click="processPayment('outstanding invoice')"  ng-disabled="!activePaymentAccount">Charge</button>
		</div>
		<div class="clearfix"></div>
	</section>
<div>