<div class="overlay-container">
 	<section class="overlay-right-col">
 		<h3>Payment Amount Due: <span class="orange">{{currentCenter.OutstandingBalance | currency}}</span></h3>

		<div class="control-group col-md-6">
		  <label class="control-label" for="bankDropDown">Saved Bank Accounts</label>

		  	<ul class="account-list col-md-12">
		  		<li data-ng-repeat="account in bankAccounts" ng-click="resetActiveAccount('bank'); account.isActive = !account.isActive" ng-class="{active: account.isActive}">
	  				<a>
	  					<i class="bank-icon"></i>
	  					{{account.BankName}} - {{account.AccountTypeDescription}} - {{account.DisplayNumbers}}
	  					<i class="fa fa-caret-down pull-right"></i>
	  				</a>
	  				<div class="account-info" ng-class="{active: account.isActive}">
	  					
	  					<label>Card Holder</label>
	  					<span>{{account.AccountName}}</span>
	  					<label>Billing Address</label>
	  					<span>
	  						{{account.MailingAddress}}<br/>
	  						{{account.MailingCity}}, {{account.MailingState}} {{account.MailingZip}}<br/>
	  						{{account.Phone | tel}}
	  					</span>
		  			</div>
		  	</ul>
		      
		</div>

		<div class="control-group col-md-6">
		  <label class="control-label" for="creditCardDropDown">Saved Credit Cards</label>
		  	<ul class="account-list col-md-12">
		  		<li data-ng-repeat="account in creditCardAccounts"  ng-click="resetActiveAccount('cc'); account.isActive = !account.isActive">
	  				<a>
	  					<i class="bank-icon"></i>
	  					{{account.BankName}} - {{account.AccountTypeDescription}} - {{account.DisplayNumbers}}
	  					<i class="fa fa-caret-down pull-right"></i>
	  				<a>
	  				<div class="account-info" ng-class="{active: account.isActive}">
	  					
	  					<label>Card Holder</label>
	  					<span>{{account.AccountName}}</span>
	  					<label>Billing Address</label>
	  					<span>
	  						{{account.MailingAddress}}<br/>
	  						{{account.MailingCity}}, {{account.MailingState}} {{account.MailingZip}}<br/>
	  						{{account.Phone | tel}}
	  					</span>
		  			</div>
		  	</ul>
		 </div>

		<div class="clearfix"></div>

		<!-- Drop Down-->
		<div class="control-group col-md-12">
		  <label class="control-label" for="">Notes</label>
		  <div class="controls">
		    <textarea id="paymentNotes" ng-model="paymentNotes" class="col-md-12" ></textarea>
		  </div>
		</div>
	</section>
<div>