<div class="overlay-container" >
        <div id="currentFamilyID" style="display:none;">{{currentFamilyID}}</div>
        <div id="currentTransactionID" style="display:none;">{{currentTransactionID}}</div>
        <div id="currentTranType" style="display:none;">{{currentTranType}}</div>
        <div id="reportViewer1" class="k-widget" style="height: 800px;">
            loading...
        </div>
        <script type="text/javascript">
          // Handler for .ready() called.


            setTimeout(function(){
                var serviceUrl, templateUrl;

                if (window.location.href.indexOf('cloud') > -1) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                  templateUrl = 'https://cloud.spinsys.com/skychildcare/kitelineweb/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html';
                } else if (window.location.href.indexOf('localhost') > -1 ) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                  templateUrl = 'http://localhost:9000/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                 else if (window.location.href.indexOf('parent') > -1 ) {
                  serviceUrl = 'https://app.skychildcare.com/services/kiteline/v2.0/';
                  templateUrl = 'https://parent.skychildcare.com/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                else  {
                  serviceUrl = ' https://uat.skychildcare.com/services/KiteLine/V2.0/';
                  templateUrl = 'https://uat.skychildcare.com/parentportal/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }

                 $("#reportViewer1").telerik_ReportViewer({
                    serviceUrl: serviceUrl+"/api/reports/",
                    templateUrl: templateUrl,
                    reportSource: {
                        report: "PaymentStatement.trdx",
                        //report: "MAP.SkyCare.Reports.Invoice, MAP.SkyCare.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=d6ffd24b2ed3c2d1",
                        parameters: {
                            FAMILY_ID: $("#currentFamilyID").html(),
                            TransactionId: $("#currentTransactionID").html(),
                            TranType: $("#currentTranType").html()
                        }
                    }
                });
            }, 1000)
     
        </script>
</div>