<div class="overlay-container" >
        <div id="currentInvoiceID" style="display:none;">{{currentInvoiceID}}</div>
        <div id="reportViewer1" class="k-widget" style="height: 800px;">
            loading...
        </div>
        <script type="text/javascript">
          // Handler for .ready() called.


            setTimeout(function(){
                var serviceUrl, templateUrl;

                 if (window.location.href.indexOf('cloud.spinsys.com') > -1) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                    
                    if(window.location.href.indexOf('kitelineweb-redesign') > -1){
                      templateUrl = 'https://cloud.spinsys.com/skychildcare/kitelineweb-redesign/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html';
                    }
                    else{
                      templateUrl = 'https://cloud.spinsys.com/skychildcare/kitelineweb/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html';
                    }
                    
                } else if (window.location.href.indexOf('localhost:9000') > -1 ) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                  templateUrl = 'http://localhost:9000/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                 else if (window.location.href.indexOf('parent.skychildcare.com') > -1 ) {
                  serviceUrl = 'https://app.skychildcare.com/services/kiteline/v2.0/';
                  templateUrl = 'https://parent.skychildcare.com/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                else if (window.location.href.indexOf('uat.skychildcare.com/parentportal2') > -1 ) {
                  serviceUrl = ' https://uat.skychildcare.com/services/KiteLine/V2.0/';
                  templateUrl = 'https://uat.skychildcare.com/parentportal2/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                else if (window.location.href.indexOf('uat.skychildcare.com/parentportal') > -1 ) {
                  serviceUrl = ' https://uat.skychildcare.com/services/KiteLine/V2.0/';
                  templateUrl = 'https://uat.skychildcare.com/parentportal/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }

                 $("#reportViewer1").telerik_ReportViewer({
                    serviceUrl: serviceUrl+"api/reports/",
                    templateUrl: templateUrl,
                    reportSource: {
                        report: "Invoice.trdx",
                        //report: "MAP.SkyCare.Reports.Invoice, MAP.SkyCare.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=d6ffd24b2ed3c2d1",
                        parameters: {
                            InvoiceId: $("#currentInvoiceID").html()
                        }
                    }
                });
            }, 1000)
     
        </script>
</div>