<div class="overlay-container" >
        <div id="currentFamilyID" style="display:none;">{{currentFamilyID}}</div>
        <div id="selectedYear" style="display:none;">{{selectedYear}}</div>
        <div id="reportViewer1" class="k-widget" style="height: 800px;">
            loading...
        </div>
        <script type="text/javascript">
          // Handler for .ready() called.


            setTimeout(function(){
                var year = $("#selectedYear").html();
                var startDate = new Date(year,0,1);
                var endDate = new Date(year,11,31);

                var serviceUrl, templateUrl;

                 if (window.location.href.indexOf('cloud.spinsys.com') > -1) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                  templateUrl = 'https://cloud.spinsys.com/skychildcare/kitelineweb/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html';
                } else if (window.location.href.indexOf('localhost:9000') > -1 ) {
                  serviceUrl = 'https://cloud.spinsys.com/SkyServices/KiteLine/V1.0/';
                  templateUrl = 'http://localhost:9000/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                 else if (window.location.href.indexOf('parent.skychildcare.com') > -1 ) {
                  serviceUrl = 'https://app.skychildcare.com/services/kiteline/v2.0/';
                  templateUrl = 'https://parent.skychildcare.com/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }
                else if (window.location.href.indexOf('uat.skychildcare.com/parentportal') > -1 ) {
                  serviceUrl = ' https://uat.skychildcare.com/services/KiteLine/V2.0/';
                  templateUrl = 'https://uat.skychildcare.com/parentportal/ReportViewer/templates/telerikReportViewerTemplate-9.0.15.324.html'
                }


                 $("#reportViewer1").telerik_ReportViewer({
                    serviceUrl:  serviceUrl+"api/reports/",
                    templateUrl: templateUrl,
                    reportSource: {
                        report: "FamilyStatement.trdx",
                        //report: "MAP.SkyCare.Reports.Invoice, MAP.SkyCare.Reports, Version=1.0.0.0, Culture=neutral, PublicKeyToken=d6ffd24b2ed3c2d1",
                        parameters: {
                            FAMILY_ID: $("#currentFamilyID").html(),
                            START_DATE: startDate,
                            END_DATE: endDate
                        }
                    }
                });
            }, 1000)
     
        </script>
</div>