.daily-activity-feed-container-dashboard{
	.attachment-wrapper{
		float: left;
		margin-right: 15px;
	}
	.feed-date{
		color: #999;
	}
	img{
		width: 35px;
		height: 35px;
		@include border-radius(25px);
		margin-left: 7px;
	}
	.pagination-wrapper{
		width: 30%;
		margin-top: 15px;
    	margin-bottom: 15px;
    	&.text-center{
    		width: 100%;
    	}
	}
}