@import "compass/css3";
@import "compass/utilities";
@import "lower-tabs";
@import "outstanding-invoices";
@import "contact";
@import "my-children";
@import "daily-activity-feed";
@import "messages";
@import "payments-made";


.dashboard-container{
	.col-md-4{
		height: 490px;
	}

	.my-children-container,
	.outstanding-balance-container,
	.outstanding-invoice-container,
	.messages-container,
	.payments-made-container,
	.daily-activity-feed-container,
	.contact-container{
		position: relative;
	}


	.sub-header-wrapper{
		float: left;
		width: 100%;
		height: 90px;
		.greeting{
			font-size: 21px;
		}
		ul{
			//margin-left: 10%;
			li{
				float: left;
				list-style: none;
				color: #4a90e2;
				margin-right: 3%;
				p{
					margin-top: 25px;
				}
				img{
					width: 160px;
				}
				.fa, .glyphicon{
					font-size: 21px;
					position: relative;
					left: -2px;
					top: 3px;
				}
				.center-name{
					margin-top: 25%;
				}
			}
		}
	}

	.left-feature-container{
		ul.nav.nav-tabs{
			 border-bottom: 1px solid #4e99bd;
			 padding-top: 5px;
			li{
				clear: none;
				cursor: pointer;
				padding-bottom: 0px;
				height: auto;
				margin-left: 3%;
				a{
					background-color: #529acd;
					color: white;
					border: none;
					min-width: 135px;
					text-align: center;
					font-size: 16px;
					&:hover{
						background-color: #224f77;
					}
					.fa, .glyphicon{
						font-size: 12px;
						margin-right: 2%;
						&.fa-car,
				  		&.glyphicon-user{
				  		  	margin-right: 5%;
				  		}
					}
				}
				&.active{
					a{
						background-color: #224f77;
					}
				}
				&:hover{
					background-color: transparent;
				}
				&.longer{
					width: 175px;
				}
			}
		}

		.child-name-wrapper{
			.name-block,
			.date-block{
				float: left;
				h4{
					float: none;
				}
				p{
					color: #224f77;
					font-size: 18px;
				}
			}
		}
	}

} //.dashboard-container