@import "compass/css3";
@import "compass/utilities";
@import "lower-tabs";
@import "right-content";
@import "outstanding-invoices";
@import "my-children";
@import "daily-activity-feed";
@import "messages";
@import "payments-made";

.dashboard-container{
	.my-children-container,
	.outstanding-balance-container,
	.outstanding-invoice-container,
	.messages-container,
	.payments-made-container,
	.daily-activity-feed-container,
	.contact-container{
		position: relative;
	}

	.contact-container{
		color: #ccc;
		font-size: 16px;
		a, .fa{
			color: #ccc;
			&.fa-globe{
			    margin-left: -6px;
			}
			&.fa-at{
			    margin-left: -5px;
			}
			&.fa-mobile{
			    margin-left: -2px;
			    font-size: 30px;
			}

		}

		.contact-wrap{
			margin: 5px;
			float: left;
			.phone-wrapper{
				margin: 5px 0px;
			}
			
			a{
				float: left;
				&:hover{
					color: #4e99bd;
				}
				&.phone-number{
					margin-top: 4px;
				}
			}
		}
		.col-md-12 {
		    padding-left: 0px;
		}

		.center-hours{
			margin-top: 10px;
		}
	}
	.attachment-wrapper:hover{
		.attachment-title,
		.fa{
			color: #287194 !important;
		}
	}
	.attachment-title{
		margin-bottom: 10px;
		@extend .ellipsis;
		max-width: 150px;
		text-transform: capitalize;
		color: #529acd !important;
		
		.fa{
			color: #529acd !important;
		}
	}
} //.dashboard-container