.lower-container-dashboard{
	ul.nav.nav-tabs{
		background-color: #ddd;
	}
	.feed-breakdown-view{
		  width: 69%;
		  float: left;
		  border: 2px solid #ddd;
		  height: 280px;
		  margin-top: 10px;
		  padding: 1%;
		.detail-value{
		  font-size: 16px;
		  font-weight: bold;
		}
		p{
			font-size: 16px;
			margin-top: 10px;
			min-height: 130px;
		}
	}

	.guardian-detail-wrapper,
	.emergency-contact-detail-wrapper{
		.mCustomScrollbar{
			height: 325px !important;
		}
		hr{
			width: 99%;
  			margin-left: -5px;
		}
		h2{
          font-size: 19px;
          margin-top: 7px;
          margin-bottom: 5px;
        }

	} 
	.medical-info-breakdown-view,
	.emergency-contact-detail-wrapper,
	.guardian-detail-wrapper,
	.pickup-list-contact{
		margin-top: 10px;
	}
}