.lower-container-dashboard{
	ul.nav.nav-tabs{
		background-color: #ddd;
		padding-top: 15px;
	}
	.feed-breakdown-view{
		  width: 72%;
		  float: left;
		  margin-top: 10px;
		  padding: 1%;
		.detail-value{
		  font-size: 18px;
		  font-weight: bold;
		}
		p{
			font-size: 18px;
			margin-top: 10px;
		}
	}

	.medical-info-view{
		margin-top: -30px;
	}

	.guardian-detail-wrapper,
	.emergency-contact-detail-wrapper,
	.medical-info-edit{
		hr{
			width: 99%;
  			margin-left: -5px;
		}
		h2{
			font-size: 24px;
			margin-top: 10px;
			margin-bottom: 10px;
        }

        .edit-guardian-address-wrapper,
        .edit-guardian-info{
        	.detail-label{
        		width: 30%;
        	}
        }
        .button-wrapper.detail-breakdown{
        	text-align: right;
        	.btn-primary{
        		margin-right: 15px;
        	}
        	.btn-danger{
        		margin-right: 35px;
        	}
        	.right-align{
        		.btn-danger{
        			margin-right: 15px;
        		}
        	}
        }

	} 
	.medical-info-breakdown-view,
	.emergency-contact-detail-wrapper,
	.guardian-detail-wrapper,
	.pickup-list-contact,
	.pickup-list-wrapper{
		margin-top: 10px;
		.detail-label{
			width: 30%;
		}
		.detail-value{
			width: 60%;
			word-wrap: break-word;
			//@extend .ellipsis;
		}
		.detail-breakdown.longer{
			width: 100%;
			.detail-label{
				width: 15%;
			}
			.detail-value{
				width: 82%;
			}
		}
	}

}