.messages-container-dashboard{
	margin-top: 3%;
	height: auto;
  	padding-bottom: 20px;
	h4.pull-left{
		margin-top: 19px;
	}
	.glyphicon.glyphicon-bullhorn{
		font-size: 28px;
		margin-top: 15px;
		color: #999;
		margin-right: 7px;
		margin-left: 3%;
	}
	.view-all-messages{
		margin-top: -10px;
	}
	.message-count{
		color: #5b5b5a;
		font-size: 28px;
		font-family: concourse_c4bold;
		margin-top: -38px;
  		margin-right: 15px;
	}
    .no-messages{
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
    }	
}