.messages-container-dashboard{
	.glyphicon.glyphicon-bullhorn{
		font-size: 26px;
		margin-top: 27px;
		color: #999;
		margin-right: 7px;
	}
	.message-date{
		color: #999;
	}
	.view-all-messages{
		margin-top: -10px;
	}
	.message-count{
		color: #5b5b5a;
		font-size: 26px;
		font-family: concourse_c4bold;
		margin-top: -45px;
  		margin-bottom: 5px;
	}
}