.messages-container-dashboard{
	margin-top: 3%;
	height: auto;
  	padding-bottom: 15px;
	h4.pull-left{
		margin-top: 19px;
	}
	.glyphicon.glyphicon-bullhorn{
		font-size: 26px;
		margin-top: 15px;
		color: #999;
		margin-right: 7px;
		margin-left: 3%;
	}
	.message-date,
	.message-headline{
		text-align: center;
		display: block;
		font-size: 16px;
	}

	.message-date{
		color: #999;
		margin-top: 10px;
	}
	.view-all-messages{
		margin-top: -10px;
	}
	.message-count{
		color: #5b5b5a;
		font-size: 26px;
		font-family: concourse_c4bold;
		margin-top: -38px;
  		margin-right: 15px;
	}
	button.carousel-control {
	 	background-color: transparent;
  		background-image: none;
  		border: none;
  		.glyphicon{
  			color: #999;
  		}
	}

	.carousel-indicators{
		top: 80px;
		li{
			border: thin solid #999;
			&.active{
				background-color: #999;
			}
		}

	} 

	.carousel-inner{
		text-align: center;
	}


}