.payments-made-container-dashboard{
	.view-payments-made{
		margin-top: 30px;
	}

	.amount-paid{
		color: #417505;
	}
	.date-paid{
		color: #999; 
	}
	.glyphicon.glyphicon-credit-card{
		font-size: 28px;
		margin-top: 27px;
		color: #999;
		margin-right: 7px;
	}
}
