
.billing-container{
	.col-md-4{
		@extend .box-shadow-container;
		height: 250px;
  		margin-top: 35px;
		&.shorter{
			height: 175px;
		}
		.fa, .glyphicon{
			margin-top: 20px;
			&.glyphicon-bullhorn,
			&.glyphicon-list-alt{
				margin-right: 10px;
			}
		}
		h4{
			margin-top: 23px;
		}

		&.messages-wrapper{

			.message-headline{
				margin-top: 5px;
  				margin-bottom: 5px;
			}
			.carousel-indicators {
				top: 95px !important;
			}
			.carousel-control .glyphicon-chevron-left, 
			.carousel-control .glyphicon-chevron-right{
				top: 15%;
			}
		}

		&.outstanding-balance-wrapper{
			span,
			a{
				display: block;
				margin: 10px 0px;
			}
			.see-all-invoice{
				margin-top: 30px;
			}

			.amount-owed{
				color: #e6374f;
			}
			.due-date{
				color: #999; 
			}
			.current-balance{
				color: orange;
				font-size: 21px;
				font-family: concourse_c4bold;
				text-align: center;
				display: inline-block;
				width: 100%;
			}
			.auto-pay{
				color: #999;
				font-weight: bold;
				font-size: 18px;
  				margin-top: 0px;
			}
		}

		&.payment-activity-wrapper{
			.fa{
				margin-top: 0px;
				&.fa-check{
					color: green;
				}
				&.fa-times{
					color: red;
				}
				&.fa-usd{
					margin-top: 20px;
				}
			}
			table{
				margin-top: 10px;
				td, th{
					padding: 2px;
				}
			}
			.table > thead > tr > th {
			    font-size: 16px;
			}
		}
		&.tuition-rates-wrapper{
			.rounded-img-large{
				margin: 0 auto;
			}
			#myCarousel {
				.carousel-indicators {
				  top: 160px;
				}
				.child-name{
					font-size: 18px;
					margin-top: 5px;
  					margin-bottom: 0px;
				}
			}
		}
		&.auto-pay-wrapper{
			.inner-wrapper{
				margin-top: 30px;
				.auto-pay-toggle-btn{
				    margin-right: 35px;
  				    margin-left: 25px;
  				}
  				p{
  					font-size: 16px;
  					span{
  						font-weight: bold;
  					}
  				}
			}
		}
		&.tax-statements-wrapper{
			.glyphicon.glyphicon-chevron-left,
			.glyphicon.glyphicon-chevron-right{
				margin-top: -15px;
			}
		}
	}	
} //.billing-container
