.billing-container {
    input[type='text'],
    input[type='email'] {
        text-indent: 10px;
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        @include border-radius(4px);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .billing-tab {
        margin-top: 25px;
    }
    .overview-breakdown-wrapper,
    .transactions-breakdown-wrapper,
    .invoices-breakdown-wrapper,
    .payment-accounts-breakdown-wrapper {
        background-color: white;
        padding-bottom: 15px;
        min-height: 850px;
    }
    .left-feature-container.col-md-12 {
        background-color: transparent;
        border: none;
        ul.nav.nav-tabs li.active a ,
        ul.nav.nav-tabs li a:hover{
            background-color: white;
            color: black;
        }
        .tile.col-md-6 {
            //@extend .box-shadow-container;
            //min-height: 300px;
            padding: 5px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-bottom: 25px;
            width: 43%;
            margin-right: 8%;
            margin-left: 2%;
            &.even {
                margin-right: 0%;
            }
            .fa, .glyphicon {
                margin-top: 20px;
            }
            h4 {
                color: #4e99bd;
                border-bottom: thin solid #ccc;
                width: 100%;
                padding-bottom: 5px;
                font-size: 21px;
            }
            // OVERVIEW CSS //
            &.messages-wrapper {
                .message-headline {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .carousel-indicators {
                    top: 95px !important;
                }
                .carousel-control .glyphicon-chevron-left,
                .carousel-control .glyphicon-chevron-right {
                    top: 15%;
                }
                .no-messages {
                    text-align: center;
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
            &.outstanding-balance-wrapper {
                border-bottom: thin solid #ccc;
                min-height: auto;
                span{
                    display: block;
                    margin: 10px 0px;
                }
                a.view-details{
                    margin-left: 10px;
                    margin-top: -10px;
                    display: block;
                }
                .see-all-invoice {
                    margin-top: 30px;
                }
                .amount-owed {
                    color: #e6374f;
                }
                .due-date {
                    color: #999;
                }
                .current-balance {
                    color: orange;
                    font-size: 21px;
                    font-family: concourse_c4bold;
                    display: inline-block;
                    margin-top: -3px;
                    margin-left: 10px;
                }
                .current-balance-wrapper{
                    float: left;
                }
                .auto-pay {
                    color: #999;
                    font-weight: bold;
                    font-size: 18px;
                    margin-top: 0px;
                    text-align: center;
                }
                .payment-amount-graph{
                    width: 75px;
                    margin-top: -15px;
                    margin-right: 20px;
                }
                .outstanding-balance-button-wrapper{
                    margin-left: 50px;
                    margin-top: 10px;
                    float: left;
                }
            }
            &.payment-activity-wrapper {
                margin-top: -100px;
                margin-bottom: -50px;
                .fa {
                    margin-top: 0px;
                    padding: 2px;
                    font-size: 18px;
                }
                table {
                    margin-top: 10px;
                    th{
                        padding: 2px;
                        background-color: white;
                        font-size: 18px;
                    }
                    td {
                        font-size: 16px;
                        padding: 2px;
                    }
                }
            }
            &.tuition-rates-wrapper {
               .tuition-list{
                    li{
                        height: 70px;
                        padding-top: 5px;
                        border-bottom: thin solid #ccc;
                        img{
                            width: 55px;
                            height: 55px;
                            top: 2px;
                            position: relative;
                        }
                        span{
                            display: inline-block;
                            color: #666;
                            &.child-name{
                                font-weight: bold;
                            }
                        }
                        &:hover{
                            cursor: default;
                            background-color: white;
                        }
                    }
               }
            }
            &.auto-pay-wrapper {
                .inner-wrapper {
                    margin-top: 30px;
                    a {
                        width: 100%;
                        text-align: center;
                        display: block;
                    }
                    .auto-pay-toggle-btn {
                        margin-right: 35px;
                        margin-left: 25px;
                    }
                    p {
                        font-size: 16px;
                        span {
                            font-weight: bold;
                        }
                        &.pull-up {
                            margin-top: -25px;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            &.tax-statements-wrapper {
                .tax-inner{
                    li{
                        width: 50px;
                        margin-right: 20px;
                        clear: none;
                        float: left;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    // TRANSACTIONS CSS //
    .transactions-breakdown-wrapper {
        .dates-input-wrapper {
            margin-top: 30px;
            .input-wrapper {
                display: inline-block;
                height: 45px;
            }
            label {
                float: left;
                margin-top: 15px;
                margin-right: 10px;
                font-size: 16px;
            }
        }
        .transactions-table-wrapper {
            margin-top: 30px;
            table {
                tr {
                    td {
                        font-size: 16px;
                        .fa {
                            margin-bottom: 5px 0;
                            cursor: pointer;
                        }
                    }
                    th {
                        font-size: 18px;
                        position: relative;
                        padding: 0px;
                        padding-top: 10px;
                        span.pull-right {
                            position: relative;
                            top: -5px;
                            width: 6px;
                            right: 20%;
                        }
                        .fa-caret-up,
                        .fa-caret-down {
                            float: left;
                        }
                        .fa-caret-up {
                            clear: both;
                            margin-bottom: -10px;
                        }
                    }
                }
            }
        }
    }
    //.transaction-wrapper
    // PAYMENT ACCOUNTS & INVOICES CSS //
    .payment-accounts-breakdown-wrapper,
    .invoices-breakdown-wrapper {
        h4{
            margin-top: 20px !important;
        }
        form {
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                height: 33px;
                width: 100%;
                background-color: white;
                border-color: rgb(204, 204, 204);
                cursor: pointer;
                text-indent: 10px;
            }
            .fa-caret-down {
                position: absolute;
                top: 7px;
                right: 11px;
                color: black;
                font-size: 21px !important;
                cursor: pointer;
            }
            .expire-dates-wrapper {
                label {
                    float: left;
                    clear: both;
                    width: 100%;
                    text-align: left;
                }
                .expire-month-wrapper {
                    width: 115px;
                    margin-bottom: 10px;
                    display: inline-block;
                    select {
                        width: 110px;
                        float: left;
                    }
                    .fa-caret-down {
                        right: 15px;
                    }
                }
                .expire-year-wrapper {
                    width: 85px;
                    display: inline-block;
                    top: -11px;
                    select {
                        width: 80px;
                        float: left;
                    }
                    .fa-caret-down {
                        right: 15px;
                    }
                }
            }
            &.ng-invalid {
                button.btn-primary {
                    pointer-events: none;
                    cursor: not-allowed;
                    filter: alpha(opacity = 65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: .65;
                }
            }
            &.ng-valid.invalid-banking.addBankForm,
            &.ng-valid.invalid-routing.addBankForm,
            &.ng-invalid.invalid-banking.addBankForm,
            &.ng-invalid.invalid-routing.addBankForm {
                button.btn-primary {
                    pointer-events: none;
                    cursor: not-allowed;
                    filter: alpha(opacity = 65);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    opacity: .65;
                }
            }
            &.valid-banking {
                #verifyBankAcctNumber,
                #bankAcctNumber {
                    border-color: green;
                    outline-color: green;
                }
            }
            &.valid-routing {
                #VerifyRoutingNumber,
                #RoutingNumber {
                    border-color: green;
                    outline-color: green;
                }
            }
            &.invalid-banking {
                #verifyBankAcctNumber.ng-dirty,
                #bankAcctNumber.ng-dirty {
                    border-color: red;
                    outline-color: red;
                    background-color: #ff6666;
                    color: white;
                }
            }
            &.invalid-routing {
                #VerifyRoutingNumber.ng-dirty,
                #RoutingNumber.ng-dirty {
                    border-color: red;
                    outline-color: red;
                    background-color: #ff6666;
                    color: white;
                }
            }
            &.ng-pristine {
                input[type='text'].ng-pristine,
                select.ng-pristine {
                    border-color: #ccc !important;
                }
            }
        }
        label {
            font-size: 16px;
        }
        .autofill-address {
            margin-right: 20px;
            margin-top: 10px;
        }
        input[type='text'],
        input[type='email'],
        select {
            padding: inherit;
            width: 100%;
            &.ng-valid-cc-number,
            &.ng-valid-cc-exp-month,
            &.ng-valid-cc-exp-year,
            &.ng-valid.ng-valid-mask,
            &.ng-dirty.ng-valid-email {
                border-color: green;
                outline-color: green;
            }
            &.ng-dirty.ng-invalid-cc-number,
            &.ng-dirty.ng-invalid-cc-exp-month,
            &.ng-dirty.ng-invalid-cc-exp-year,
            &.ng-dirty.ng-invalid,
            &.ng-dirty.ng-invalid-required {
                border-color: red;
                outline-color: red;
                background-color: #ff6666;
                color: white;
            }
            &.exp-dates {
                width: 25%;
            }
        }
        .date-split {
            font-size: 24px;
            color: #999;
            margin: 0 5px;
        }
        .col-md-6 {
            .fa.fa-usd {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            h4 {
               // margin-top: 23px;
            }
            .control-group {
                padding-left: 0px;
                margin-bottom: 10px;
                .cc-type {
                    font-weight: bolder;
                    font-size: 17px;
                    margin-top: 5px;
                }
                .fa {
                    margin: 0px;
                    margin-left: 10px;
                    font-size: 35px;
                }
            }
            .input-group {
                margin-bottom: 10px;
            }
            p.pull-right {
                font-size: 16px;
                margin-top: 13px;
                font-weight: bold;
                color: #999;
                span.inner-span {
                    font-size: 24px;
                    margin-left: 10px;
                    position: relative;
                    top: 2px;
                }
                .switch-success {
                    margin-left: 10px;
                }
                &.auto-pay-para {
                    margin-top: 18px;
                }
            }
            span.pull-right {
                color: #999;
                margin-top: -29px;
            }
            button.pull-right,
            button.pull-left {
                margin-bottom: 15px;
            }
            .table {
                .fa {
                    margin: 7px 0;
                    cursor: pointer;
                }
            }
        }
    }
}

//.billing-container