<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="kiteline-logo"></div>	
	<div class="container">
        <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
    	</div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li  ng-class="{'active': pageTitle == 'Kiteline Web - Dashboard' || pageTitle == 'Kiteline Web'}">
				<i class="fa fa-home"></i>
				<a href="#/dashboard"  ng-click="showLogOut = false;">Home</a>
			</li>
			<li  ng-class="{'active': pageTitle == 'Kiteline Web - Billing'}">
				<i class="glyphicon glyphicon-list-alt"></i>
				<a href="#/billing"  ng-click="showLogOut = false;">Billing</a>
			</li>
		<!--	<li ng-class="{'active': pageTitle == 'Messages'}">
				<div class="msg-count-wrapper">
  					<i class="glyphicon glyphicon-bullhorn msg"></i>
  					<span class="msg-count-span">{{announcementCount}}</span>
				</div>
				<a class="msg" href="#/messages">Messages</a>
			</li>
			<li ng-class="{'active': pageTitle == 'Daily Activity Feed'}">
  				<i class="fa fa-sun-o"></i>
				<a class="activity-feed-link" href="#/daily-activity-feed">Updates</a>
			</li>

		-->
			<li  ng-class="{'active': pageTitle == 'Kiteline Web - Forms'}">
				<i class="fa fa-file-pdf-o"></i>
				<a href="#/forms"  ng-click="showLogOut = false;">Forms</a>
			</li>			
			<li class="user-profile-img-container relative">
				<span>{{currentCenter.FullName}}</span>
				<i class="fa fa-caret-down dark-blue" ng-click="showLogOut = !showLogOut" ng-class="{'active': showLogOut}"></i>

				<div class="log-out-wrapper" ng-show="showLogOut" >
					<a ng-click="showLogOut = false; logOut();">Log Out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>