<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="kiteline-logo"></div>	
	<div class="container">
        <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
    	</div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li  ng-class="{'active': pageTitle == 'Dashboard'}">
				<i class="fa fa-home"></i>
				<a href="#/dashboard">Home</a>
			</li>
			<li  ng-class="{'active': pageTitle == 'Billing'}">
				<i class="glyphicon glyphicon-list-alt"></i>
				<a href="#/billing" >Billing</a>
			</li>
			<li  ng-class="{'active': pageTitle == 'Forms'}">
				<i class="fa fa-file-pdf-o"></i>
				<a href="#/forms">Forms</a>
			</li>			
			<li  class="logout">
				<a ng-click="logOut();">Log Out</a>
			</li>
		</ul>
	</div>
</nav>