<div class="mobile-redirect-wrapper" ng-show="isMobile">
    <p id="msg">Kiteline works best in our Iphone or Google Playstore app</p>
    <a href="https://itunes.apple.com/us/app/skychildcare-kiteline/id963210802?mt=8" class="btn btn-primary" ng-show="mobileType == 'iphone' || mobileType == 'ipad'">Open In iPhone App</button>
    <a class="btn btn-primary" ng-hide="mobileType == 'iphone' || mobileType == 'ipad'" href="https://play.google.com/store/apps/details?id=com.skychildcare.kiteline&hl=en">Open In Google Playstore</a>
    <div class="pull-right sign-up-login ng-hide">
        <a>Sign Up</a>
        <span>or</span>
        <a>Login</a>
    </div>
</div>

<div class="log-in-wrapper invalid-sub" ng-show="isBronze">

  <section class="container wider">

    <p ng-show="!requestSent">Your center does not support the KiteLine Parent website.<br/> Click <a ng-click="requestUpgrade(invalidCenter.CenterId, invalidCenter.FamilyId);">here</a> to ask them to upgrade so you can use KiteLine Parent for free.</p>

    <p ng-show="requestSent">Your center has been notified.</p>
</section> 
    
</div>

<div class="log-in-wrapper" ng-hide="isMobile || isBronze">
    <div class="log-in-light-bkgd"></div>

    <form name="logInform" ng-submit="login()" role="form" autocomplete="off" ng-show="showLogIn">
        <div class="disclaimer">
            <h5>Parent Login Here to SkyChildcare Kiteline</h5>
            <p>KiteLine allows parents to view invoices, and view and update their children's medical and contact records in your enrolled child care center.</p>
        </div>
        <div class="form-group">
            <label for="username">Child Care Center Name</label>
            <i class="fa fa-map-marker"></i>
           <angucomplete-alt id="centernameSearch"
              placeholder="Child Care Center Name"
              pause="250"
              minlength="1"
              selected-object="centernameSearch"
              remote-api-handler="searchAPI"
              title-field="CenterName,City,State"
              input-class="form-control form-control-small" field-required="true" match-class="highlight" /> 
        </div>
        <div class="form-group">
            <label for="username">Email</label>
            <i class="fa fa-envelope-o"></i>
            <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="email" required />
        </div>
        <div class="form-group">
            <label for="pin">Pin</label>
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="PIN" min-length="4" maxlength="4" name="pin" id="pin" class="form-control" ng-model="pin" numeric-only  required />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-ng-disabled="!logInform.$valid">Login</button>
            <img ng-if="dataLoading"  class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <a ng-click="changeView('forgotPin')" class="forgot-pin-link">Forgot PIN?</a>
            <div class="terms-wrapper"> 
                <a href="#/terms-of-service" class="terms-link" target="_blank" data-ng-onclick="changePageTitle('Kiteline Terms Of Service');">Terms</a> | <a href="#/privacy" class="privacy-link" target="_blank"  data-ng-onclick="changePageTitle('Kiteline Privacy');">Privacy</a>
            </div>
        </div>
    </form>

    <form name="forgotPinform" ng-submit="forgotPinFunc()" role="form" ng-hide="showLogIn || isBronze">
        <div class="disclaimer">
            <h5>Parent Login Here to SkyChildcare Kiteline</h5>
            <p>KiteLine allows parents to view invoices, and view and update their children's medical and contact records in your enrolled child care center.</p>
        </div>
        <div class="form-group">
            <label for="username">Child Care Center Name</label>
            <i class="fa fa-map-marker"></i>
            <angucomplete-alt id="centernameSearchForgotPin"
              placeholder="Child Care Center Name"
              pause="250"
              minlength="1"
              selected-object="centernameSearch"
              remote-api-handler="searchAPI"
              title-field="CenterName,City,State"
              input-class="form-control form-control-small" field-required="true" match-class="highlight"/> 
        </div>

         <div class="form-group">
            <label for="username">Email</label>
            <i class="fa fa-envelope-o"></i>
            <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="email" required/>
        </div>
       
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-ng-disabled="!forgotPinform.$valid">Resend PIN</button>
            <img ng-if="dataLoading" class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <a ng-click="changeView('login')" class="login-link">Login</a>
        </div>
         <div class="terms-wrapper"> 
                <a href="#/terms-of-service" class="terms-link" target="_blank" data-ng-onclick="changePageTitle('Kiteline Terms Of Service');">Terms</a> | <a href="#/privacy" class="privacy-link" target="_blank"  data-ng-onclick="changePageTitle('Kiteline Privacy');">Privacy</a>
        </div>

    </form>
</div>
