<div class="mobile-redirect-wrapper" ng-show="isMobile">
    <p id="msg">Kiteline works best in our Iphone or Google Playstore app</p>
    <a href="https://itunes.apple.com/us/app/skychildcare-kiteline/id963210802?mt=8" class="btn btn-primary" ng-show="mobileType == 'iphone' || mobileType == 'ipad'">Open In iPhone App</button>
    <a class="btn btn-primary" ng-hide="mobileType == 'iphone' || mobileType == 'ipad'">Open In Google Playstore</a>
    <div class="pull-right sign-up-login">
        <a>Sign Up</a>
        <span>or</span>
        <a>Login</a>
    </div>
</div>


<div class="log-in-wrapper" ng-hide="isMobile">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="logo"></div>
    <h3>Kiteline Log In</h3>
    <form name="form" ng-submit="login()" role="form" autocomplete="off" ng-show="showLogIn">
        <div class="form-group">
            <label for="username">Child Care Center Name</label>
            <i class="fa fa-map-marker"></i>
            <input type="text" data-ng-keyup="centerSearchFunc(centernameSearch);" placeholder="Child Care Center Name" name="centernameSearch" id="centernameSearch" class="form-control" data-ng-model="centernameSearch" />
            <span ng-show="form.centernameSearch.$dirty && form.centernameSearch.$error.required" class="help-block">Center is required</span>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" data-ng-repeat="centername in careCenters | limitTo: 5" data-center-id="{{centername.CenterId}}" data-center-name="{{centername.CenterName}}" ng-click="selectCenter(centername.CenterId, centername.CenterName)">
                    {{centername.CenterName}} - {{centername.City}}, {{centername.State}}, {{centername.Zip}}
                </li>
            </ul>    
        </div>
        <div class="form-group">
            <label for="username">Email</label>
            <i class="fa fa-envelope-o" data-ng-class="{'ng-invalid': form.email.$invalid}"></i>
            <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="email" data-ng-change="validationCheck();" />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block" style="right: -113px;">Email is required</span>
        </div>
        <div class="form-group">
            <label for="pin">Pin</label>
            <i class="fa fa-lock" data-ng-class="{'ng-invalid' : pin.length != 0 && pin.length < 4}"></i>
            <input type="password" placeholder="PIN" maxlength="4" name="pin" id="pin" class="form-control" data-ng-change="validationCheck();" ng-model="pin" data-ng-class="{'ng-invalid-pin ng-invalid' : pin.length != 0 && pin.length < 4}"  numbers-only/>
            <span ng-show="form.pin.$dirty && form.pin.$error.required" class="help-block" style="right: -99px;">PIN is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-warning" data-ng-disabled="!isValid">Login</button>
            <img ng-if="dataLoading"  class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <a ng-click="changeView('forgotPin')" class="forgot-pin-link">Forgot PIN?</a>
            <div class="terms-wrapper"> 
                <a href="https://cloud.spinsys.com/skychildcare/kitelineweb/#/terms-of-service" class="terms-link" target="_blank" data-ng-onclick="changePageTitle('Kiteline Terms Of Service');">Terms</a> | <a href="https://cloud.spinsys.com/skychildcare/kitelineweb/#/privacy" class="privacy-link" target="_blank"  data-ng-onclick="changePageTitle('Kiteline Privacy');">Privacy</a>
            </div>
        </div>
    </form>

    <form name="form" ng-submit="forgotPinFunc()" role="form" ng-hide="showLogIn">
        <div class="form-group">
            <label for="username">Child Care Center Name</label>
            <i class="fa fa-map-marker"></i>
            <input type="text" data-ng-keyup="centerSearchFunc(centernameSearch);" placeholder="Child Care Center Name" name="centernameSearch" id="centernameSearch" class="form-control" data-ng-model="centernameSearch" />
            <span ng-show="form.centernameSearch.$dirty && form.centernameSearch.$error.required" class="help-block">Center is required</span>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info" data-ng-repeat="centername in careCenters | limitTo: 5" data-center-id="{{centername.CenterId}}" data-center-name="{{centername.CenterName}}" ng-click="selectCenter(centername.CenterId, centername.CenterName)">
                    {{centername.CenterName}} - {{centername.City}}, {{centername.State}}, {{centername.Zip}}
                </li>
            </ul>    
        </div>

         <div class="form-group">
            <label for="username">Email</label>
            <i class="fa fa-envelope-o" data-ng-class="{'ng-invalid': form.email.$invalid}"></i>
            <input type="email" placeholder="Email Address" name="email" id="email" class="form-control" ng-model="email" data-ng-change="validationCheckForgotPin();" />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block" style="right: -113px;">Email is required</span>
        </div>
       
        <div class="form-actions">
            <button type="submit" class="btn btn-warning" data-ng-disabled="!isValidForgotPin">Resend PIN</button>
            <img ng-if="dataLoading" class="preloader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            <a ng-click="changeView('login')" class="login-link">Login</a>
        </div>
         <div class="terms-wrapper"> 
                <a href="https://cloud.spinsys.com/skychildcare/kitelineweb/#/terms-of-service" class="terms-link" target="_blank" data-ng-onclick="changePageTitle('Kiteline Terms Of Service');">Terms</a> | <a href="https://cloud.spinsys.com/skychildcare/kitelineweb/#/privacy" class="privacy-link" target="_blank"  data-ng-onclick="changePageTitle('Kiteline Privacy');">Privacy</a>
        </div>
    </form>
</div>
