<div class="sub-header-wrapper">
	<ul>
		<li class="pull-left">
			<span class="pull-left ng-hide">{{pageTitle}}</span>
			<span class="pull-left capitalize"><i class="fa fa-smile-o"></i> Welcome {{currentCenter.FullName}}</span>
		</li>

		<li class="pull-right">
			<span class="pull-left center-info">{{currentCenter.CenterName}} - {{currentCenter.CenterCity}}, {{currentCenter.CenterState}}
				<span class="last-logged-in">{{LastLoginInfo}}</span>
			</span>
			
			<img src="{{currentCenter.CenterLogoURL}}" onerror="this.src = 'https://vignette2.wikia.nocookie.net/legendmarielu/images/b/b4/No_image_available.jpg/revision/latest?cb=20130511180903'; this.classList.remove('box-shadow-default');" />
		</li>
	</ul>
</div>
<div class="clearfix"></div>