<label class="control-label" for="bankDropDown">Saved Bank Accounts</label>
<div class="table-wrapper modal-list">
	<ul class="account-list col-md-12">
		<li data-ng-repeat="account in bankAccounts | startFrom: bankAccountsPagination.page * bankAccountsPagination.perPage | limitTo: bankAccountsPagination.perPage"  ng-click="resetActiveAccount('bank', account);" ng-class="{active: account.isActive}">
			<a>
				<i class="bank-icon"></i>
				<span class="ellipsis">{{account.BankName}}</span> - {{account.AccountTypeDescription}} - {{account.DisplayNumbers}}
				<i class="fa fa-caret-down pull-right"></i>
			</a>
			<div class="clearfix"></div>
			<div class="account-info" ng-class="{active: account.isActive}">
				
				<label>Card Holder</label>
				<span class="card-holder">{{account.AccountName}}</span>
				<div class="clearfix"></div>
				<label>Billing Address</label>
				<span>
					{{account.BillingAddress}}<br/>
					{{account.BillingCity}}, {{account.BillingState}} {{account.BillingZip}}
				</span>
			</div>
		</li>
	</ul>
</div>
<nav class="pagination-wrapper text-center" ng-show="bankAccounts.length > 5">
	<ul class="pagination">
		<li>
			<a href="" ng-click="bankAccountsPagination.prevPage()">&laquo;</a>
		</li>
	  	<li ng-repeat="n in [] | range: bankAccountsPagination.numPages" ng-class="{active: n == bankAccountsPagination.page}">
	  		<a href="" ng-click="bankAccountsPagination.toPageId(n)">{{n + 1}}</a>
	  	</li>
	  	<li>
	  		<a href="" ng-click="bankAccountsPagination.nextPage()">&raquo;</a>
	  	</li>
	</ul>
</nav>