		  <label class="control-label pull-left" for="creditCardDropDown">Saved Credit Cards</label>
		  <a class="btn btn-primary new-credit-card pull-right" ng-click="addAccountModal()" ng-hide="addCreditCardFromModal || creditCardAccounts.length == 0 " ng-disabled="processingPayment" ng-class="{'waiting': processingPayment}">
			 Pay With New Credit Card
 			</a>



		  <div class="table-wrapper modal-list clearfix">


			<table class="table">
				<thead>
					<tr>
						<th>
							Billing Address
						</th>
						<th>
							Last 4 Digits
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-show="pastTransactions.length == 0">
					<tr ng-animate="'animate'" ><td colspan="7"><span>No Saved Credit Cards</span></td></tr>
				</tbody>
				<tbody>
					<tr data-ng-repeat="account in creditCardAccounts | startFrom: creditCardAccountsPagination.page * creditCardAccountsPagination.perPage | limitTo: creditCardAccountsPagination.perPage"  ng-click="resetActiveAccount(account, false);" ng-class="{isactive: account.isActive}">
						<td>
							{{account.street}}<br/>
				  			{{account.city}}, {{account.state}} {{account.zip}}
						</td>
						<td>
							{{account.ccnum}} - 

							<a>
			  					<i ng-show="account.cctype == 'CC - AMEX'" class="fa fa-cc-amex"></i>
						        <i ng-show="account.cctype == 'CC - Discover'" class="fa fa-cc-discover"></i>
						        <i ng-show="account.cctype == 'CC - Visa'" class="fa fa-cc-visa"></i>
						        <i ng-show="account.cctype == 'CC - Mastercard'" class="fa fa-cc-mastercard"></i>
			  				</a>

							<span class="red" ng-show="checkExp(account.expiration) == 'Expired'">
									{{checkExp(account.expiration)}}
							</span> 
						</td>
						<td>

							<button ng-show="currentPaymentModal == 'Outstanding Balance'" class="btn btn-primary pull-right" ng-click="processPayment(account.AccountId, false, false)" ng-disabled="checkExp(account.expiration) == 'Expired' || processingPayment || paymentGreaterThanAmount"  ng-class="{'waiting': processingPayment}">Pay With This Card</button>

							<button ng-show="currentPaymentModal == 'Multiple Line Item Invoice' || currentPaymentModal == 'Single Invoice'" class="btn btn-primary pull-right" ng-click="processInvoicePayment(account.AccountId)" ng-disabled="checkExp(account.expiration) == 'Expired' || processingPayment || paymentGreaterThanAmount" ng-class="{'waiting': processingPayment}">Pay With This Card</button>

							
						</td>
					</tr>
				</tbody>
			</table>
		  </div>

		<nav class="pagination-wrapper text-center" ng-show="creditCardAccounts.length > 5">
			<span>
				{{(creditCardAccountsPagination.page * creditCardAccountsPagination.perPage)+1}}
			</span>
			-
			<span ng-hide="((creditCardAccountsPagination.page+1) * creditCardAccountsPagination.perPage) >  creditCardAccountsPagination.perPage">
				{{((creditCardAccountsPagination.page+1) * creditCardAccountsPagination.perPage)}}
			</span>
			<span ng-if="((creditCardAccountsPagination.page+1) * creditCardAccountsPagination.perPage) >  creditCardAccountsPagination.perPage">
				{{((creditCardAccounts.length - ((creditCardAccountsPagination.page * creditCardAccountsPagination.perPage)+1))) + ((creditCardAccountsPagination.page * creditCardAccountsPagination.perPage)+1)}}
			</span>

			<span> of {{creditCardAccounts.length}}</span>

			<ul class="pagination">
			  	<li class="ng-hide" ng-repeat="n in [] | range: creditCardAccountsPagination.numPages" ng-class="{active: n == creditCardAccountsPagination.page}">
			  		<a href="" ng-click="creditCardAccountsPagination.toPageId(n);">{{n + 1}}</a>
			  	</li>
			  	<li class="prev-next-wrapper">
			  		<a class="prev" ng-click="creditCardAccountsPagination.prevPage()">
						<i class="fa fa-caret-left"></i>
					</a>
					<a class="next" ng-click="creditCardAccountsPagination.nextPage()">
						<i class="fa fa-caret-right"></i>
					</a>
			  	</li>
			</ul>
		</nav>